<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Compras <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Compras</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="compras?.total">{{ compras?.total + ' registros' }}</span>

        <form name="form" (ngSubmit)="search()" autocomplete="off">
        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <button tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
            <button tooltip="Actualizar (F5)" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
            <button tooltip="Filtrar (F6)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F6"><i class="fa fa-filter"></i></button>
            <button routerLink="/compra/nuevo" tooltip="Crear compra (F7)" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button>
        </div>
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th class="d-none d-md-table-cell">Fecha</th>
                        <th>Proveedor</th>
                        <th>Documento</th>
                        <th>Método de pago</th>
                        <th>Condición</th>
                        <th>Estado</th>
                        <th class="text-right">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="compras?.total < 1 && !loading">
                            <span class="badge badge-primary">No tiene compras registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge badge-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let compra of compras?.data">
                        
                        <td>{{compra.id}}</td>
                        <td class="d-none d-md-table-cell">{{compra.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{compra.nombre_proveedor | truncate:30 }}<a class="float-end d-none"  tooltip="Ver información del proveedor" routerLink="/proveedor/{{compra.proveedor_id}}"><i class="fa fa-edit"></i></a></td>
                        <td>{{compra.tipo_documento}} #{{compra.num_referencia}}</td>
                        <td>{{compra.metodo_pago}}</td>
                        <td> <span tooltip="Fecha de pago: {{ compra.fecha_pago | date:'dd/MM/yyyy'}}">{{compra.condicion }}</span> </td>
                        <td>
                            <span class="badge click" [ngClass]="{'badge-danger' : compra?.estado == 'Anulada', 'badge-warning' : compra?.estado == 'Pendiente', 'badge-success' : compra?.estado == 'Pagada'}" [popover]="popTemplate" [outsideClick]="true">
                                {{compra.estado}}
                            </span>
                            <ng-template #popTemplate>
                                <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Pagada')">Pagada</button>
                                <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Pendiente')">Pendiente</button>
                                <button class="btn btn-default btn-xs" (click)="setEstado(compra, 'Anulada')">Anulada</button>
                            </ng-template>
                        </td>
                        <td class="text-right">{{compra.total | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" (click)="delete(compra.id)" tooltip="Eliminar">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                                <a routerLink="/devolucion-compra-nueva" [queryParams]="{ compra_id: compra.id }" class="btn btn-default" tooltip="Hacer devolucion"><i class="fa fa-right-left"></i></a>
                                <a class="btn btn-default" routerLink="/compra/{{compra.id}}" tooltip="Ver detalle">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="compras?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="compras" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>



<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="">Proveedor:</label>
                <ng-select name="proveedor_id" [(ngModel)]="filtro.proveedor_id">
                    <ng-option value="">Todos</ng-option>
                    <ng-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
                        {{ proveedor.nombre }}
                    </ng-option>
                </ng-select>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-select" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Pagada">Pagada</option>
                    <option value="Pendiente">Pendiente</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
