<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Empleados <small class="text-muted p-2"> Ventas del mes</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/empleados">Empleados</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="empleados?.length"> {{ empleados?.length + ' registros' }} </span>

        <div class="input-group float-end w-75">
            <input type="text" name="search" placeholder="Filtrar empleado" [(ngModel)]="buscador" focus="true" class="form-control">
            <select name="mes" [(ngModel)]="filtro.mes" class="form-select">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
            <select name="ano" [(ngModel)]="filtro.ano" class="form-select">
                <option value="2023">2023</option>
            </select>
            <button tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-search"></i></button>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <!-- <th class="text-center">ID</th> -->
                        <th>Nombre</th>
                        <th>Cargo</th>
                        <th>Comisión</th>
                        <th>Meta</th>
                        <th>Cumplimiento</th>
                        <th>Ventas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="empleados?.length < 1 && !loading">
                            <span class="badge badge-primary">No tiene empleados registrados</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge badge-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr *ngFor=" let empleado of empleados | filter:['nombre']:buscador">
                        
                        <!-- <td class="text-center">{{empleado.id}}</td> -->
                        <td>{{empleado.nombre}} <a class="float-end d-none"  tooltip="Ver información del empleado" routerLink="/empleado/{{empleado.id}}"><i class="fa fa-edit"></i></a></td>
                        <td>{{empleado.nombre_cargo}}</td>
                        <td>{{empleado.comisiones_mes | currency:'USD':'symbol':'1.2'}}</td>
                        <td>{{empleado.meta_mes | currency:'USD':'symbol':'1.2'}}</td>
                        <td>
                            <progressbar *ngIf="empleado.meta_mes" [value]="(empleado.ventas_brutas_mes / empleado.meta_mes) * 100" type="success" tooltip="{{ (empleado.ventas_brutas_mes | currency:'USD':'symbol':'1.2') + ' de ' + (empleado.meta_mes | currency:'USD':'symbol':'1.2')}}">
                                <span *ngIf="empleado.meta_mes">{{ (empleado.ventas_brutas_mes / empleado.meta_mes) * 100  | number:'1.0'}}%</span>
                                <span *ngIf="!empleado.meta_mes">0%</span>
                            </progressbar>
                        </td>
                        <td>
                            <span tooltip="Sin IVA: {{ empleado.ventas_netas_mes | currency:'USD':'symbol':'1.2'}}">{{empleado.ventas_brutas_mes | currency:'USD':'symbol':'1.2'}}</span>
                        </td>

                    </tr>
                </tbody>
            </table>
         </div>
    </div>
    <div class="card-footer" *ngIf="empleados?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="empleados" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>



<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-control form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label for="filtro.cargo_id">Cargo:</label>
                <select [(ngModel)]="filtro.cargo_id" class="form-control form-select" name="filtro.cargo_id">
                    <option value="">Todos</option>
                    <option *ngFor="let cargo of cargos" [ngValue]="cargo.id">
                        {{ cargo.nombre }}
                    </option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
