<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="6">
                    Detalles
                    <app-mantenimiento-producto *ngIf="mantenimiento.estado != 'Completado'" (productoSelect)="productoSelect($event)"></app-mantenimiento-producto>
                </th>
            </tr>
            <tr>
                <th width="50" >N°</th>
                <th>Descripción</th>
                <th width="150" class="text-center d-none d-md-table-cell">Cantidad</th>
                <th width="150" class="text-center d-none d-md-table-cell">Costo</th>
                <th width="150" class="text-right">Total</th>
                <th *ngIf="mantenimiento.estado != 'Completado'"  width="150" class="d-none d-md-table-cell text-center"><i class="fa fa-cog"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="mantenimiento?.detalles?.length < 1">
                <td colspan="6" class="text-center py-3">
                    <i class="fa fa-inbox fa-4x text-muted"></i>
                </td>
            </tr>
            <tr *ngFor="let detalle of mantenimiento.detalles; let i = index">
                <td> {{ i+1 }} </td>
                <td> {{ detalle.nombre_producto }} </td>
                <td class="text-center d-none d-md-table-cell">{{ detalle.cantidad }}</td>
                <td class="text-center d-none d-md-table-cell">{{ detalle.costo | currency:'USD':'symbol':'1.2' }}</td>
                <td class="text-right">{{ detalle.total | currency:'USD':'symbol':'1.2' }}</td>
                <td *ngIf="mantenimiento.estado != 'Completado'"  class="text-center d-none d-md-table-cell">
                    <div class="btn-group">
                        <a class="btn btn-default" title="Eliminar" (click)="eliminarDetalle(detalle)"><i class="fa fa-trash"></i>
                        </a>
                        <a class="btn btn-default" title="Editar" (click)="editarDetalle(mproducto, detalle)"><i class="fa fa-pencil-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="mantenimiento?.detalles?.length > 0" class="table-condenced">
            <tr>
                <td colspan="4" class="text-right"> <b>Total:</b> </td>
                <td class="text-right"><b> {{ mantenimiento.total | currency:'USD':symbol:'1.2'}}</b> </td>
                <td *ngIf="mantenimiento.estado != 'Completado'" ></td>
            </tr>
        </tfoot>
    </table>
</div>

<ng-template #mproducto>
<form name="producto" autocomplete="off" (ngSubmit)="guardarDetalle()">
  <div class="modal-header text-center">
    <h3 class="modal-title">Respuesto</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="cantidad">Cantidad:</label>
                <input type="number" min="1" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="detalleModificado.cantidad" (keyup)="calcularTotal()">
            </div>
            <div class="form-group col-md-6">
                <label for="costo">Costo:</label>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalleModificado.costo" name="costo" (keyup)="calcularTotal()">
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="submit" class="btn btn-primary btn-block"> Guardar </button>
    </div>
</form>
</ng-template>
