<div class="row page-titles mx-0 px-0 pb-3">
    <div class="col-lg-6 p-md-0 text-center text-lg-left">
        <h2 class="page-heading" (click)="loadAll()">Bienvenido <small class="text-muted p-2"> Indicadores</small></h2>
    </div>
    <div class="col-lg-6 p-md-0 mt-2 mt-sm-0">
        <div class="row">
            <div class="input-group px-0">
                <input type="date" class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
                <input type="date" class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
                <select [(ngModel)]="filtro.sucursal_id" class="d-none d-md-inline-block form-select" name="filtro.sucursal_id">
                    <option value="">Todas las sucursales</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
                <button type="submit" (click)="loadAll()" tooltip="Filtrar" [disabled]="loading" class="btn btn-default">
                    <span><i class="fa fa-filter"></i></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <app-datos [loading]="loading" [dash]="dash"></app-datos>
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        <app-dash-cajas [loading]="loading" [dash]="dash"></app-dash-cajas>
    </div>
    <div class="col-lg-7">
        <app-tops [loading]="loading" [dash]="dash"></app-tops>
    </div>
    <!-- <app-dash-ordenes [loading]="loading" [dash]="dash"></app-dash-ordenes> -->
</div>

<!-- <app-dash-slider></app-dash-slider> -->
<!-- <app-calendario></app-calendario> -->

