
<div class="card">
    <div class="card-header">
        <h4 class="mb-0">Productos más vendidos</h4>
    </div>
    <div class="card-body">
        <div class="row" *ngIf="dash?.productos?.length" style="min-height: 300px;">
            <div class="col-md-6">
                <div class="chart-wrapper">
                    <canvas baseChart class="chart"
                        [data]="chartData"
                        [options]="chartOptions"
                        [labels]="chartLabels"
                        [legend]="false"
                        [type]="chartType">
                    </canvas>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="mb-3" *ngFor="let producto of dash?.productos; let i=index">
                    <div class="d-flex justify-content-between">
                        <p class="mb-0">{{ producto.nombre | truncate:25 }}</p>
                        <p class="mb-0"><b class="text-dark">{{ producto.total | number:'1.0' }} </b> ({{ (producto.total / (dash.productos | sum:'total') * 100) | number:'1.0-0' }}%)</p>
                    </div>
                    <div class="progress mt-2">
                        <div class="progress-bar" [ngClass]="{ 'bg-danger' : i == 0, 'bg-info' : i == 1, 'bg-warning' : i == 2, 'bg-secondary' : i == 3, 'bg-success' : i == 4 }" 
                        style="width: {{ (producto.total / (dash.productos | sum:'total') * 100) | number:'1.0-0' }}%;" role="progressbar"></div>
                    </div>                
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!dash?.productos?.length" style="min-height: 300px;">
            <div class="text-muted text-center py-5">
                <i class="fa fa-chart-pie fa-5x"></i>
                <br>
                Aún no hay datos
                <br>
            </div>
        </div>
    </div> 
</div>