<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Activos <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Activos</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="activos?.total"> {{ activos?.total + ' registros' }} </span>

        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <button tooltip="Actualizar (F5)" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
            <button tooltip="Filtrar (F6)" (click)="loadAll()" class="btn btn-default tcla-F6"><i class="fa fa-filter"></i></button>
            <button routerLink="/activo/nuevo" tooltip="Crear (F7)" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha de compra</th>
                        <th>Estado</th>
                        <th>Categoria</th>
                        <th class="text-right">Valor compra</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="activos?.total < 1 && !loading">
                            <span class="badge badge-primary">No tiene activos registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge badge-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let activo of activos?.data | filter:['nombre']:buscador">
                        
                        <td>{{activo.nombre }} </td>
                        <td>{{activo.fecha_compra | date:'dd/MM/yyyy'}}</td>
                        <td>{{activo.estado}}</td>
                        <td>{{activo.nombre_categoria}}</td>
                        <td class="text-right">{{activo.valor_compra | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" (click)="delete(activo.id)" tooltip="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a class="btn btn-default" routerLink="/activo/{{activo.id}}" tooltip="Editar">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="activos?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="activos" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>
