<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Planilla <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/planillas">Planillas</a></li>
            <li class="breadcrumb-item active"><a >Planilla</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="btn-group btn-option" *ngIf="planilla.id">
            <button type="button" tooltip="Generar PDF (F8)" (click)="pdfPlanilla()" class="btn btn-default tcla-F8">
                Planilla <i class="fa fa-print"></i>
            </button>
            <button type="button" tooltip="Generar PDF (F7)" (click)="pdfBoletas()" class="btn btn-default tcla-F7">
                Boletas <i class="fa fa-print"></i>
            </button>
        </div>
        <div class="card-title position-relative">
            <div class="row">
                <div class="form-group col-md-6 col-lg-2">
                    <label for="fecha">Fecha:</label>
                    <input type="date" name="fecha" [(ngModel)]="planilla.fecha" class="form-control">
                </div>
                <div class="form-group col-md-6 col-lg-2">
                    <label for="tipo">Tipo:</label>
                    <select name="tipo" [(ngModel)]="planilla.tipo" class="form-select">
                        <option value="Quincenal">Quincenal</option>
                        <option value="Semanal">Semanal</option>
                        <option value="Mensual">Mensual</option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-lg-2">
                    <label for="estado">Estado:</label>
                    <select name="estado" [(ngModel)]="planilla.estado" class="form-select">
                        <option value="Pendiente">Pendiente</option>
                        <option value="Pagada">Pagada</option>
                    </select>
                </div>
                <div class="form-group col-md-12 col-lg-4">
                    <label>Nota:</label>
                    <input type="text" name="nota" [(ngModel)]="planilla.nota" class="form-control">
                </div>
            </div>
        </div>

        <h5 class="text-center my-2">Empleados: </h5>
        <app-planilla-detalles [planilla]="planilla" (update)="updatePlanilla($event)"></app-planilla-detalles>

    </div>
    <div class="card-footer">
        <button type="submit" (click)="onSubmit()" class="btn btn-primary tcla-F10 float-right" tooltip="Guardar (F10)">
            <span *ngIf="!loading">Guardar</span>
            <span *ngIf="loading">Guardando...</span>
        </button>
    </div>
</div>
