<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Usuario <small class="text-muted p-2"> Detalle</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/admin/usuarios">Usuarios</a></li>
            <li class="breadcrumb-item active"><a routerLink="/usuarios">Usuario</a></li>
        </ol>
    </div>
</div>

<form name="form" (ngSubmit)="onSubmit()">
<section class="card">
    <div class="card-body">
        <div class="row">

                <div class="col-12 text-center">
                    <figure style="min-height: 100px;" class="img-thumbnail file-upload d-flex justify-content-center align-items-center" tooltip="Agregar">
                        <i *ngIf="!usuario.avatar && !preview" class="fa fa-image fa-2x text-muted"></i>
                        <img *ngIf="usuario.avatar && !preview" src="{{ apiService.baseUrl + '/img/' + usuario.avatar }}" height="100">
                        <img *ngIf="url_img_preview && preview" src="{{ url_img_preview }}" height="100">
                        <input type="file" name="img" (change)="setFile($event)" accept="image/png, image/jpeg, image/jpg">
                    </figure>
                </div>
            <h5 class="my-3">Información</h5>   
                <div class="form-group col-md-3">
                    <label for="nombre">* Nombre:</label>
                    <input type="text" class="form-control" [(ngModel)]="usuario.name" name="nombre" placeholder="Nombre" focus="true">
                </div>
                <div class="form-group col-md-3" *ngIf="apiService.auth_user().tipo == 'Administrador' && usuario.id != 1">
                    <label for="tipo">* Tipo:</label>
                    <select name="tipo" [(ngModel)]="usuario.tipo" class="form-control form-select">
                    	<option value="Administrador">Administrador</option>
                        <option value="Supervisor">Supervisor</option>
                    	<option value="Vendedor">Vendedor</option>
                        <!-- <option value="Cocinero">Cocinero</option> -->
                        <option value="Cajero">Cajero</option>
                    </select>
                </div>
                <div class="form-group col-sm-3" *ngIf="usuario.tipo == 'Supervisor'">
                    <label for="codigo">* Codigo para autorizaciones:</label>
                    <input type="password" class="form-control" [(ngModel)]="usuario.codigo" name="codigo" placeholder="Código para autorizaciones">
                </div>
                <div class="form-group col-md-3" *ngIf="apiService.auth_user().tipo == 'Administrador' && usuario.tipo == 'Cajero'">
                    <label for="caja_id">* Caja:</label>
                    <select [(ngModel)]="usuario.caja_id" class="form-control form-select" name="caja_id">
                        <option *ngFor="let caja of cajas" [value]="caja.id">
                            {{ caja.sucursal }} - {{ caja.nombre }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-3" *ngIf="apiService.auth_user().tipo == 'Administrador' && usuario.tipo == 'Cocinero'">
                    <label for="departamento_id">* Departamento:</label>
                    <select [(ngModel)]="usuario.departamento_id" class="form-control form-select" name="departamento_id">
                        <option value="0">General</option>
                        <option *ngFor="let departamento of departamentos.data" [value]="departamento.id">
                            {{ departamento.nombre }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-3" *ngIf="apiService.auth_user().tipo == 'Administrador' && usuario.id != 1">
                    <label for="sucursal_id">* Sucursal:</label>
                    <select [(ngModel)]="usuario.sucursal_id" class="form-control form-select" name="sucursal_id">
                        <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                            {{ sucursal.nombre }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-3" *ngIf="apiService.auth_user().tipo == 'Administrador' && usuario.id != 1">
                    <label>Es empleado:</label>
                    <input type="checkbox" class="form-check" [(ngModel)]="usuario.empleado" name="empleado">
                </div>
                <div class="form-group col-md-3" *ngIf="apiService.auth_user().tipo == 'Administrador' && usuario.id != 1">
                    <label>Esta activo </label>
                    <input type="checkbox" class="form-check" [(ngModel)]="usuario.activo" name="activo">
                </div>

        </div>

        <h5 class="my-3">Datos para inicio de sesión</h5>
        <div class="row" *ngIf="usuario.id == apiService.auth_user().id || apiService.auth_user().tipo == 'Administrador'">
            <div class="form-group col-sm-4">
                <label for="username">Usuario:</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" placeholder="Usuario" required>
            </div>
            <div class="form-group col-md-4">
              <label for="password">* Contraseña:</label>
              <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password" placeholder="Ingrese una contraseña para reemplazar la actual">
            </div>
            <div class="form-group col-md-4">
              <label for="password_confirmation">* Confirmar contraseña:</label>
              <input type="password" class="form-control" [(ngModel)]="usuario.password_confirmation" name="password_confirmation" placeholder="Confirme la contraseña">
            </div>
            <p class="col-xs-12" *ngIf="!loading && !usuario.id"><b>Nota:</b> La contraseña por defecto sera: emple, se sugiere cambiarla la primera vez que se inicie sesión</p>
        </div>
    </div>
    <div class="card-footer">
        <a href="javascript:window.history.back();" class="btn btn-default"> <i class="fa fa-angle-left"></i> Volver</a>
        <button [disabled]="loading" class="btn btn-primary float-end tcla-F4">
            <span *ngIf="!loading">Guardar <small>(F4)</small></span>
            <span *ngIf="loading">Guardando...</span>
        </button>
    </div>
</section>

</form>


<div class="card mb-3" *ngIf="usuario.ultimo_login">
    <div class="card-body">
    <div class="row">
        <!-- <h5 class="col-12 pb-2 mb-2">Datos</h5> -->
        <div *ngIf="usuario.ultimo_login" class="form-group col-6 col-lg-4">
            <label for="pais">Último login:</label>
            <p>{{ usuario.ultimo_login | date:'d/M/y h:m:s a' }} ({{ usuario.ultimo_login_human}})</p>
        </div>
        <div *ngIf="usuario.ultimo_logout" class="form-group col-6 col-lg-4">
            <label for="pais">Último logout:</label>
            <p>{{ usuario.ultimo_logout  | date:'d/M/y h:m:s a' }} ({{ usuario.ultimo_logout_human }})</p>
        </div>
    </div>

    </div>
</div>
