<div class="card">
    <div class="card-header p-2">
        <h5 class="col-12 pb-2 mb-2">Historial de créditos:</h5>
        <span class="text-muted float-start p-2" *ngIf="creditos?.total">
            {{ creditos?.total + ' registros' }}
            <span *ngIf="filtrado">{{ creditos?.data | sum:'total' | currency:'USD':'symbol':'1.2'  }}</span>
        </span>

        <div class="input-group float-end w-50">
            <input type="text" name="search" placeholder="Buscar" focus="true" class="form-control" #box (keyup.enter)="search(box.value)">
            <button tooltip="Buscar" (click)="search(box.value)" class="btn btn-default"><i class="fa fa-search"></i></button>
            <button tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
            <button tooltip="Filtrar" (click)="openFilter(mfilter)" class="btn btn-default tcla-F8"><i class="fa fa-filter"></i></button>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Venta</th>
                        <th class="text-center">Plazo</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Prima</th>
                        <th class="text-center">Abonos</th>
                        <th class="text-center">Saldo</th>
                        <th class="text-center">Cuotas</th>
                        <th class="text-center">Fecha de pago</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="creditos?.total < 1 && !loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">No tiene creditos registrados</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let credito of creditos?.data">
                        <td>{{ credito.fecha  | date:'dd/MM/yyyy' }}</td>
                        <td>{{ credito.venta_id }}<a class="float-end d-none"  tooltip="Ver información de la venta" routerLink="/venta/{{credito.venta_id}}"><i class="fa fa-edit"></i></a></td>
                        <td class="text-center">{{ credito.numero_de_cuotas }} {{ credito.forma_de_pago }}</td>
                        <td class="text-center">{{ credito.total  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ credito.prima  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ credito.total_abonos  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ credito.saldo  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">
                            <progressbar [value]="(credito.cantidad_de_pagos / credito.numero_de_cuotas) * 100" type="success" tooltip="{{ credito.cantidad_de_pagos + ' / ' + credito.numero_de_cuotas  }}">
                                <span>{{ credito.cantidad_de_pagos + ' / ' + credito.numero_de_cuotas  }}</span>
                            </progressbar>
                        </td>
                        <td class="text-center">{{ credito.fecha_de_pago }}</td>

                        <td class="text-center">
                            <div role="group" class="btn-group">
                                <a tooltip="Eliminar" class="btn btn-default" (click)="delete(credito)">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                                <a tooltip="Editar" class="btn btn-default" routerLink="/credito/{{ credito.id }}" >
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="creditos?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="creditos" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>



<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-control form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control form-select" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Reservado">Reservado</option>
                    <option value="Pagado">Pagado</option>
                    <option value="Pendiente de Pago">Pendiente de Pago</option>
                    <option value="Finalizado">Finalizado</option>
                    <option value="Cancelado">Cancelado</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.metodo_pago">Forma de Pago:</label>
                <select class="form-control form-select" name="categoria" [(ngModel)]="filtro.categoria">
                   <option value="Boda">Boda</option>
                   <option value="Cumpleaños">Cumpleaños</option>
                   <option value="15 años">15 años</option>
                   <option value="Reunión">Reunión</option>
                   <option value="Capacitación">Capacitación</option>
                   <option value="Otro">Otro</option>
                </select>
            </div>

        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
