<button (click)="openModal(inventario)" class="btn btn-default tcla-F2" tooltip="Productos (F2)"> <i class="fa fa-list-alt"></i> </button>

<ng-template #inventario>
    <div class="modal-header">
        <h3 class="modal-title text-center">Productos y servicios</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    <form autocomplete="off" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <input id="producto" type="search" name="buscador" class="form-control" placeholder="Buscar por nombre o código" [(ngModel)]="buscador" focus="true" id="example">
                <div class="mr-top" style="max-height: 300px; min-height: 300px; overflow-y: auto;">
                    <div *ngIf="productos?.total < 1 && !loading" href="javascript:void(0);" class="text-center min-height">
                        <br><br>
                        <br><br>
                        <i class="fa fa-inbox fa-5x text-muted"></i>
                        <br>
                        <span class="text-muted">Busque productos y servicios por su nombre o codigo</span>
                        <br><br>
                        <br><br>
                      </div>
                    <div *ngIf="loading" href="javascript:void(0);" class="list-group-item text-center">
                      <span class="badge badge-info">Cargando...</span>
                    </div>
                    <ul class="list-group" *ngIf="productos?.total > 0">
                      <a href="javascript:void(0);" (click)="selectProducto(producto)" class="list-group-item border d-flex"  [ngClass]="{'active' : producto.id == detalle.producto_id }" *ngFor=" let producto of productos.data">
                        <span id="producto_nombre" class="col-6 px-0">
                            <small>Nombre:</small> <br>
                            {{producto.nombre}} <br>
                            <small class="mr-3">{{producto.tipo}}</small>
                            <small>{{producto.nombre_categoria}}</small>
                        </span>
                        <span class="col-2 px-0 text-center" id="stock">
                            <small *ngIf="producto?.bodega_venta?.stock">Stock:</small> <br>
                            {{producto?.bodega_venta?.stock | number:'1.0'}}
                        </span>
                        <span class="col-2 px-0 text-right">
                            <small>Precio:</small> <br>
                            <span *ngIf="producto.promocion">
                                <span style="text-decoration: line-through;">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                                {{producto.promocion.precio | currency:'USD':'symbol':'1.2'}}
                            </span>
                            <span *ngIf="!producto.promocion">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                        </span>
                        <span class="col-2 px-0 text-right" *ngIf="producto.impuesto">
                            <small>Con IVA:</small> <br>
                            {{producto.precio_final | currency:'USD':'symbol':'1.2'}}
                        </span>
                      </a>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <label for="cantidad">Cantidad</label>
                <input type="number" class="form-control" step="any" id="pcantidad" [(ngModel)]="detalle.cantidad" name="cantidad">
            </div>
            <div class="col-md-4">
                <label for="descuento">Descuento</label>
                <input type="number" class="form-control" step="any" id="pdescuento" [(ngModel)]="detalle.descuento" name="descuento">
            </div>
            <div class="col-md-4">
                <label for="precio">Precio</label>
                <div class="input-group">
                    <input type="number" [disabled]="!apiService.auth_user().editar_precio" class="form-control" [(ngModel)]="detalle.precio_final" name="precio_final" [popover]="popTemplate" [outsideClick]="true">
                    <button *ngIf="detalle?.precios?.length > 1" type="button" class="click btn btn-default" [popover]="popTemplate" [outsideClick]="true"><i class="fa fa-pencil-alt"></i></button>
                </div>
                <ng-template #popTemplate>
                    <button type="button" class="btn btn-default btn-block" *ngFor="let precio of detalle.precios" (click)="changePrecio(precio)">{{ precio.precio | currency:'USD':'symbol':'1.2'}} - {{ precio.precio_final | currency:'USD':'symbol':'1.2'}}</button>
                </ng-template>

            </div>
            <div class="col-md-12 mt-5">
                <button class="btn btn-primary btn-block" [disabled]="!detalle.producto_id || !detalle.cantidad || !detalle.precio_final">Agregar</button>
            </div>
        </div>
    </form>
    </div>
</ng-template>
