<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Activo <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/activos">Activos</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Activo</a></li>
        </ol>
    </div>
</div>

<div class="card mb-5">
    <div class="card-body">
        <div class="row" *ngIf="loading">
            <div class="text-muted text-center thumbler">
              Cargando...
            </div>
        </div>

        <div class="row justify-content-center">   
            <div class="col-md-12">
                <form autocomplete="off" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col-md-4 col-lg-2">
                            <label for="">Fecha compra:</label>
                            <input type="date" class="form-control" name="activo.fecha_compra" [(ngModel)]="activo.fecha_compra"/>
                        </div>
                        <div class="form-group col-md-4 col-lg-3">
                            <label for="activo.usuario">Nombre:</label>
                            <input type="text" class="form-control" name="activo.nombre" [(ngModel)]="activo.nombre" focus="true"/>
                        </div>
                        <div class="form-group col-md-4 col-lg-2">
                            <label>Estado:</label>
                            <select name="estado" class="form-control form-select" [(ngModel)]="activo.estado">
                                <option value="En uso">En uso</option>
                                <option value="En mantenimiento">En mantenimiento</option>
                                <option value="De baja">De baja</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4 col-lg-3">
                            <label for="categoria_id" class="w-100">Categoria:</label>
                            <div class="input-group">
                                <select [(ngModel)]="activo.categoria_id" class="form-control form-select" name="activo.categoria_id">
                                    <option *ngFor="let categoria of categorias" [value]="categoria.id">
                                        {{ categoria.nombre }}
                                    </option>
                                </select>
                                <app-crear-categoria-activo (update)="setCategoria($event)"></app-crear-categoria-activo>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-4 col-lg-2">
                            <label for="">Valor compra:</label>
                            <input type="number" class="form-control" name="activo.valor_compra" [(ngModel)]="activo.valor_compra"/>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="activo.ubicacion">Ubicación:</label>
                            <input type="text" class="form-control" name="activo.ubicacion" [(ngModel)]="activo.ubicacion"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="activo.descripcion">Descripción:</label>
                            <input type="text" class="form-control" name="activo.descripcion" [(ngModel)]="activo.descripcion"/>
                        </div>

                        <div class="form-group col-sm-12 mt-5">
                            <button type="submit" [disabled]="loading" class="btn btn-primary float-end tcla-F10" tooltip="Guardar (F10)">
                                <span *ngIf="!loading">Guardar</span>
                                <span *ngIf="loading">Guardando...</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


