<div class="row">
    <!-- <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row justify-content-between">
                    <div class="col py-3">
                        <h5 class="text-primary mb-3"><i class="fa fa-road"></i> Fletes</h5>
                        <h3 class="text-primary">{{ dash?.total_fletes ? dash?.total_fletes : 0 | number:'1.2' }}</h3>
                        <p class="mb-1" style="font-size: 14px;">Mantenimientos: <span class="float-end">{{ (dash?.total_mantenimientos ? dash?.total_mantenimientos : 0) | currency:'USD':'symbol':'1.2' }}</span></p>
                        <p class="mb-1" style="font-size: 14px;">Motoristas: <span class="float-end">{{ (dash?.total_motoristas ? dash?.total_motoristas : 0) | currency:'USD':'symbol':'1.2' }}</span></p>
                        <a routerLink="/flete/nuevo" class="btn btn-default btn-block text-center">Nuevo flete <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row justify-content-between">
                    <div class="col py-3">
                        <h5 class="text-success mb-3"><i class="fa fa-money-bill-trend-up"></i> Ingresos</h5>
                        <h3 class="text-success">{{ (dash?.total_ingresos ? dash?.total_ingresos : 0) | currency:'USD':'symbol':'1.2' }}</h3>
                        <p class="mb-1" style="font-size: 14px;">Cuentas por cobrar: <span class="float-end">{{ (dash?.total_cxc ? dash?.total_cxc : 0) | currency:'USD':'symbol':'1.2' }}</span></p>
                        <!-- <p class="mb-1" style="font-size: 14px;">Abonos: <span class="float-end">{{ (dash?.total_abonos ? dash?.total_abonos : 0) | currency:'USD':'symbol':'1.2' }}</span></p> -->
                        <p class="mb-1" style="font-size: 14px;">Devoluciones de venta: <span class="float-end">{{ (dash?.total_ventas_devoluciones ? dash?.total_ventas_devoluciones : 0) | currency:'USD':'symbol':'1.2' }}</span></p>
                        <a routerLink="/facturacion" class="btn btn-default btn-block text-center">Nueva venta <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row justify-content-between">
                    <div class="col py-3">
                        <h5 class="text-warning mb-3"><i class="fa fa-cart-shopping"></i> Egresos</h5>
                        <h3 class="text-warning">{{ (dash?.total_egresos ? dash?.total_egresos : 0) | currency:'USD':'symbol':'1.2' }}</h3>
                        <p class="mb-1" style="font-size: 14px;">Cuentas por pagar: <span class="float-end">{{ (dash?.total_cxp ? dash?.total_cxp : 0) | currency:'USD':'symbol':'1.2' }}</span></p>
                        <p class="mb-1" style="font-size: 14px;">Devoluciones de compra: <span class="float-end">{{ (dash?.total_compras_devoluciones ? dash?.total_compras_devoluciones : 0) | currency:'USD':'symbol':'1.2' }}</span></p>
                        <a routerLink="/compra/nueva" class="btn btn-default btn-block text-center">Nueva compra <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row justify-content-between">
                    <div class="col py-3">
                        <h5 class="text-primary mb-3"><i class="fa fa-sack-dollar"></i> Balance</h5>
                        <h3 class="text-primary">{{ (dash?.total_balance ? dash?.total_balance : 0) | currency:'USD':'symbol':'1.2' }}</h3>
                        <p class="mb-1" style="font-size: 14px;">Utilidad: <span class="float-end">{{ (dash?.total_utilidad ? dash?.total_utilidad : 0) | currency:'USD':'symbol':'1.2' }}</span></p>
                        <a routerLink="/reportes" class="btn btn-default btn-block text-center">Ver <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
