<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Flota <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/flotas">Flotas</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Flota</a></li>
        </ol>
    </div>
</div>

<app-flota-datos></app-flota-datos>

<app-flota-informacion></app-flota-informacion>
<app-flota-mantenimientos></app-flota-mantenimientos>
<app-flota-fletes></app-flota-fletes>
<!-- <app-flota-documentos></app-flota-documentos> -->



