<button tooltip="Fletes pendientes (F3)" (click)="openModal(mfletes)" class="btn btn-default tcla-F3"> <i class="fa fa-car"></i> </button>

<ng-template #mfletes>
  <div class="modal-header">
    <h3 class="modal-title text-center">Fletes pendientes</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <form autocomplete="off">
        <div class="col-md-12">
            <input type="text" name="search" class="form-control" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
        </div>

        <div class="col-md-12 mr-top">
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-borderless table-hover mb-0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Nota</th>
                            <th class="text-right">Total</th>
                            <th class="text-center"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6" class="text-center" *ngIf="fletes?.lenght < 1 && !loading">
                                <span class="badge badge-primary">No tiene fletes en proceso</span>
                            </td>
                            <td colspan="6" class="text-center" *ngIf="loading">
                                <span class="badge badge-primary">Cargando...</span>
                            </td>
                        </tr>

                        <tr class="animated fadeIn" *ngFor=" let flete of fletes | filter:['nombre_cliente', 'id']:buscador">
                            
                            <td>{{flete.id}}</td>
                            <td>{{flete.fecha | date:'dd/MM/yyyy'}}</td>
                            <td>{{flete.nombre_cliente | truncate:30}}</td>
                            <td>{{flete.nombre_cabezal}}</td>
                            <td class="text-right">{{flete.total | currency:'USD':'symbol':'1.2'}}</td>
                            <td class="text-right"><a class="btn btn-default" (click)="selectFlete(flete)"><i class="fa fa-arrow-right"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </form>
    </div>
  </div>
</ng-template>
