<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Motoristas <small class="text-muted p-2"> Fletes</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/motoristas">Motoristas</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Fletes</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header text-center">
        <form name="form" class="form-inline d-flex justify-content-center" (ngSubmit)="loadAll()" autocomplete="off">
            <div class="form-group">
                <label for="">Del:</label>
                <input type='date' class="form-control mx-3" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group">
                <label for="" class="mx-3">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" tooltip="Filtrar"><i class="fa fa-filter"></i></button>
                <app-descargar-excel *ngIf="motoristas?.length > 0" [nombre]="'Motoristas Historial'"></app-descargar-excel>
            </div>
        </form>
    </div>
    <div class="card-body table-responsive no-padding">
        <table class="table table-bordered table-hover" id="tablaReporte">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Nombre</th>
                    <th class="text-right">Cantidad de fletes</th>
                    <th class="text-right">Pago total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8" class="text-center" *ngIf="motoristas?.length < 1 && !loading">
                        <span class="badge badge-info">No tiene motoristas registradas</span>
                    </td>
                    <td colspan="8" class="text-center" *ngIf="loading">
                        <span class="badge badge-info">Cargando...</span>
                    </td>
                </tr>

                <tr class="animated fadeIn" *ngFor=" let motorista of motoristas">
                    
                    <!-- <td>{{motorista.id}}</td> -->
                    <td>{{motorista.nombre}} <a class="float-end d-none"  tooltip="Ver información del motorista" routerLink="/motorista/{{motorista.id}}"><i class="fa fa-edit"></i></a></td>
                    <td class="text-right">{{motorista.cantidad_fletes | number:'1.0'}}</td>
                    <td class="text-right">
                        <span class="click" placement="left" [popover]="popTemplate" triggers="mouseenter:mouseleave">{{motorista.total_pago_fletes | currency:'USD':'symbol':'1.2'}}</span>

                        <ng-template #popTemplate>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Pago</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="motorista.fletes.length == 0">
                                        <td colspan="3" class="text-center">No hay fletes</td>
                                    </tr>
                                    <tr *ngFor="let flete of motorista.fletes">
                                        <td>{{ flete.fecha | date:'dd/MM/yyy' }}</td>
                                        <td>{{ flete.nombre_cliente }}</td>
                                        <td>{{ flete.motorista | currency:'USD':'symbol':'1.2'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>

                    </td>
                </tr>

                <tr *ngIf="motoristas?.length > 0 && !loading">
                    <td><b>Totales</b></td>                                
                    <td class="text-right"><b>{{ motoristas | sum:'cantidad_fletes'}}</b></td>
                    <td class="text-right"><b>{{ motoristas | sum:'total_pago_fletes' | currency:'USD':'symbol':'1.2' }}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type="date" class="form-control" [(ngModel)]="filtro.fecha_ini" name="fecha_ini">
                <input type="time" class="form-control" [(ngModel)]="filtro.hora_ini" name="hora_ini">
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type="date" class="form-control" [(ngModel)]="filtro.fecha_fin" name="fecha_fin">
                <input type="time" class="form-control" [(ngModel)]="filtro.hora_fin" name="hora_fin">
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-control" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Cobrada">Cobrada</option>
                    <option value="Anulada">Anulada</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.forma_de_pago">Forma de Pago:</label>
                <select [(ngModel)]="filtro.forma_de_pago" class="form-control" name="filtro.forma_de_pago">
                    <option value="">Todos</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Consumo Interno">Consumo Interno</option>
                    <option value="Credito Empleado">Crédito Empleado</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
