<app-header></app-header>

<div style="padding-bottom: 40px;"></div>
<!-- <div class="container-fluid pb-4">
    <div class="row">
        <div class="d-none d-lg-flex col-lg-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-12 col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
<div class="container pb-4">
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
