<div class="row">
    <h6 class="my-3 font-weight-bold">Control de inventario</h6>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Bodega</th>
                    <th class="text-center d-none d-lg-table-cell">Stock minino</th>
                    <th class="text-center d-none d-lg-table-cell">Stock máximo</th>
                    <th class="text-center">Stock</th>
                    <th class="text-center"><i class="fa fa-cog"></i> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8" class="text-center" *ngIf="loading">
                        <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                    </td>
                </tr>             
                <tr *ngFor=" let bodega of producto.inventarios">
                    <td>{{ bodega.nombre_bodega }} <br> <small class="text-muted">{{bodega.nombre_sucursal}}</small></td>
                    <td class="text-center d-none d-lg-table-cell">{{ bodega.stock_min | number:'0.0'}}</td>
                    <td class="text-center d-none d-lg-table-cell">{{ bodega.stock_max | number:'0.0'}}</td>
                    <td class="text-center">{{ bodega.stock | number:'0.0'}}</td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a class="btn btn-default" (click)="openModal(mbodega, bodega)" tooltip="Editar" >
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            <app-crear-ajuste [producto]="producto" [inventario]="bodega" (setAjuste)="setAjuste($event)"></app-crear-ajuste>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="producto?.inventarios?.length < bodegas?.length && !loading">
                    <td colspan="8" class="text-center">
                        <a class="btn btn-link" (click)="openModal(mbodega, {})" tooltip="Agregar bodega">
                            Agregar bodega
                        </a>
                    </td>
                </tr> 
            </tbody>
        </table>

    </div>
</div>

<ng-template #mbodega>
  <div class="modal-header">
    <h3 class="modal-title text-center">{{ producto.nombre }}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-12">
                <label for="bodega_id">Bodega:</label>
                <select [(ngModel)]="inventario.bodega_id" class="form-select" name="bodega_id">
                    <option [value]="bodega.id" *ngFor="let bodega of bodegas">{{ bodega.nombre }}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="stock_min">Stock minimo:</label>
                <input type="text" [(ngModel)]="inventario.stock_min" class="form-control" name="stock_min">
            </div>
            <div class="form-group col-md-6">
                <label for="stock_max">Stock maximo:</label>
                <input type="text" [(ngModel)]="inventario.stock_max" class="form-control" name="stock_max">
            </div>
        </div>
        
        <br><br>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

