<div class="card mb-3">
    <div class="card-body">
    <div class="row">
        <h4 class="col-12 pb-2 mb-2">Información de mantenimiento</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Nota</th>
                        <th>Costo</th>
                        <th class="text-center"><i class="fa fa-cog"></i> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="mantenimientos?.total < 1 && !loading">
                            <span class="badge badge-info">No tiene mantenimientos</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let mantenimiento of mantenimientos?.data">
                        <td>{{mantenimiento.fecha | date:'dd/MM/yyyy'}}</td>
                        <td> {{mantenimiento.tipo}} </td>
                        <td> {{mantenimiento.estado}} </td>
                        <td>{{mantenimiento.nota }} </td>
                        <td class="text-center">{{mantenimiento.total | currency:'USD':'symbol':'2.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm" role="group">
                                <a class="btn btn-secondary" tooltip="Ver" routerLink="/mantenimiento/{{mantenimiento.id}}">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center" *ngIf="mantenimientos?.last_page > 1">
                <pagination [totalItems]="mantenimientos?.total" (pageChanged)="setPagination($event)"></pagination>
            </div>
        </div>
    </div>
    </div>
</div>
