<div class="card" *ngIf="fletes?.total > 0">
    <div class="card-body">
        <h4 class="my-3 font-weight-bold">Historial de fletes <span class="float-end">{{ fletes?.total}} fletes</span></h4>
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Estado</th>
                        <th>Cabezal</th>
                        <th>Remolque</th>
                        <th class="text-right">Total</th>
                        <th class="text-right">Pago</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="11" class="text-center" *ngIf="fletes?.total < 1 && !loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">No tiene fletes registrados</span>
                        </td>
                        <td colspan="11" class="text-center" *ngIf="loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let flete of fletes?.data">
                        <td>{{ flete.id }}</td>
                        <td>{{ flete.fecha  | date:'dd/MM/yyyy' }}</td>
                        <td>{{ flete.nombre_cliente | truncate:20 }}<a class="float-end d-none"  tooltip="Ver información del cliente" routerLink="/cliente/{{flete.cliente_id}}"><i class="fa fa-edit"></i></a></td>
                        <td>
                            <span class="badge" [ngClass]="{ 'badge-warning' : flete.estado == 'Pendiente', 'badge-success' : flete.estado == 'Pagado' }">{{ flete.estado }}</span>
                        </td>
                        <td>{{flete.nombre_cabezal}}<a class="float-end d-none"  tooltip="Ver información del flota" routerLink="/flota/{{flete.cabezal_id}}"><i class="fa fa-edit"></i></a></td>
                        <td>{{flete.nombre_remolque}}<a class="float-end d-none"  tooltip="Ver información del flota" routerLink="/flota/{{flete.remolque_id}}"><i class="fa fa-edit"></i></a></td>
                        <td class="text-right">{{ flete.total  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-right">{{ flete.motorista  | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">
                            <div role="group" class="btn-group">
                                <a tooltip="Ver y editar" class="btn btn-default" routerLink="/flete/{{ flete.id }}" >
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="fletes?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="fletes" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>



<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>

            <div class="form-group col-sm-6">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-control form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>

            <div class="form-group col-sm-6">
                <label for="filtro.motorista">Motoristas:</label>
                <select [(ngModel)]="filtro.motorista_id" class="form-control form-select" name="filtro.motorista_id">
                    <option value="">Todos</option>
                    <option *ngFor="let motorista of motoristas" [ngValue]="motorista.id">
                        {{ motorista.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control form-select" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Solicitada">Solicitada</option>
                   <option value="En Proceso">En Proceso</option>
                   <option value="Entregada">Entregada</option>
                   <option value="Finalizada">Finalizada</option>
                   <option value="Cancelada">Cancelada</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.tipo_servicio">Tipo:</label>
                <select [(ngModel)]="filtro.tipo_servicio" class="form-control form-select" name="filtro.tipo_servicio">
                    <option value="">Todos</option>
                    <option value="Sala de Venta">Sala de Venta</option>
                    <option value="Ruta">Ruta</option>
                    <option value="A Domicilio">A Domicilio</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
