<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Mantenimientos <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Mantenimientos</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="mantenimientos?.total">{{ mantenimientos?.total + ' registros' }}</span>

        <form name="form" (ngSubmit)="search()" autocomplete="off">
        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <button tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
            <button tooltip="Actualizar (F5)" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
            <button tooltip="Filtrar (F6)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F6"><i class="fa fa-filter"></i></button>
            <button routerLink="/mantenimiento/nuevo" tooltip="Crear (F7)" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button>
        </div>
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Flota</th>
                        <th class="d-none d-md-table-cell">Tipo</th>
                        <th class="d-none d-md-table-cell">Estado</th>
                        <th class="text-right">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="mantenimientos?.total < 1 && !loading">
                            <span class="badge badge-primary">No tiene mantenimientos registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge badge-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let mantenimiento of mantenimientos?.data">
                        
                        <td>{{mantenimiento.id}}</td>
                        <td>{{mantenimiento.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{mantenimiento.nombre_flota }}<a class="float-end d-none"  tooltip="Ver información de la flota" routerLink="/flota/{{mantenimiento.flota_id}}"><i class="fa fa-edit"></i></a></td> 
                        <td class="d-none d-md-table-cell"> {{mantenimiento.tipo}}</td>
                        <td class="d-none d-md-table-cell">
                            <span class="badge click" [ngClass]="{'badge-warning' : mantenimiento?.estado == 'En Proceso', 'badge-success' : mantenimiento?.estado == 'Completado', 'badge-info' : mantenimiento?.estado == 'Programado'}" [popover]="popTemplate" [outsideClick]="true">
                                {{mantenimiento.estado}}
                            </span>
                            <ng-template #popTemplate *ngIf="mantenimiento.estado != 'Completado'">
                                <button class="btn btn-default btn-xs" (click)="setEstado(mantenimiento, 'En Proceso')">En Proceso</button>
                                <button class="btn btn-default btn-xs" (click)="setEstado(mantenimiento, 'Completado')">Completado</button>
                                <button class="btn btn-default btn-xs" (click)="setEstado(mantenimiento, 'Programado')">Programado</button>
                            </ng-template>
                        </td>
                        <td class="text-right">{{mantenimiento.total | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-right">
                            <div class="btn-group" role="group">
                                <a *ngIf="mantenimiento.estado != 'Completado'" class="btn btn-default" (click)="delete(mantenimiento.id)" tooltip="Eliminar">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                                <a type="button" class="btn btn-default" (click)="imprimir(mantenimiento)">
                                    <i class="fa fa-print"></i>
                                </a>
                                <a *ngIf="mantenimiento.estado != 'Completado'" class="btn btn-default" routerLink="/mantenimiento/{{mantenimiento.id}}" tooltip="Editar">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                                <a *ngIf="mantenimiento.estado == 'Completado'" class="btn btn-default" routerLink="/mantenimiento/{{mantenimiento.id}}" tooltip="Ver detalle">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="mantenimientos?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="mantenimientos" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>



<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="">Proveedor:</label>
                <select [(ngModel)]="filtro.proveedor_id" class="form-control" name="filtro.proveedor_id">
                    <option value="">Todos</option>
                    <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor.id">
                        {{ proveedor.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Pagada">Pagada</option>
                    <option value="Pendiente">Pendiente</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
