<div class="card mb-3">
    <div class="card-body">
    <div class="row">
        <h4 class="col-12 pb-2 mb-2">Historial de uso y asignaciones</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Motorista</th>
                        <th>Tiempo de viaje</th>
                        <th>Destino</th>
                        <th>Motorista</th>
                        <!-- <th>Kilometraje</th> -->
                        <th class="text-center"><i class="fa fa-cog"></i> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="fletes?.total < 1 && !loading">
                            <span class="badge badge-info">No tiene fletes</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let flete of fletes?.data">
                        <td>{{flete.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{flete.nombre_motorista }} </td>
                        <td>
                            <span tooltip="Carga: {{ flete.fecha_carga | date:'dd/MM/yyyy H:mm a' }} Descarga: {{ flete.fecha_descarga | date:'dd/MM/yyyy H:mm a' }} ">{{flete.tiempo_viaje }}</span>
                        </td>
                        <td>{{flete.punto_destino }} </td>
                        <td>{{flete.nombre_motorista }} </td>
                        <!-- <td>{{flete.kilometraje }} </td> -->
                        <td class="text-center">
                            <div class="btn-group btn-group-sm" role="group">
                                <a class="btn btn-secondary" tooltip="Ver" routerLink="/flete/{{flete.id}}">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center" *ngIf="fletes?.last_page > 1">
                <pagination [totalItems]="fletes?.total" (pageChanged)="setPagination($event)"></pagination>
            </div>
        </div>
    </div>
    </div>
</div>

