<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Fletes <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/fletes">Fletes</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="row">
            <span class="text-muted col-12 col-md-6"> {{ (fletes?.total ? fletes?.total : 0) + ' registros' }} </span>
            <div class="col-12 col-md-6">
                <form name="form" (ngSubmit)="search()" autocomplete="off">
                <div class="input-group float-end">
                    <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
                    <button tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
                    <button tooltip="Actualizar (F5)" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
                    <button type="button" tooltip="Filtrar (F6)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F6"><i class="fa fa-filter"></i></button>
                    <button type="button" routerLink="/flete/nuevo" tooltip="Crear (F7)" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Motorista</th>
                        <th>Estado</th>
                        <th>Tipo</th>
                        <th>Cabezal</th>
                        <th>Remolque</th>
                        <th class="text-right">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="11" class="text-center" *ngIf="fletes?.total < 1 && !loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">No tiene fletes registrados</span>
                        </td>
                        <td colspan="11" class="text-center" *ngIf="loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let flete of fletes?.data">
                        <td>{{ flete.id }}</td>
                        <td>{{ flete.fecha  | date:'dd/MM/yyyy' }}</td>
                        <td>{{ flete.nombre_cliente | truncate:20 }}<a class="float-end d-none"  tooltip="Ver información del cliente" routerLink="/cliente/{{flete.cliente_id}}"><i class="fa fa-edit"></i></a></td>
                        <td>{{ flete.nombre_motorista | truncate:20 }}<a class="float-end d-none"  tooltip="Ver información del motorista" routerLink="/motorista/{{flete.motorista_id}}"><i class="fa fa-edit"></i></a></td>
                        <td>
                            <span class="badge" [ngClass]="{ 'badge-warning' : flete.estado == 'Pendiente', 'badge-success' : flete.estado == 'Pagado' }">{{ flete.estado }}</span>
                        </td>
                        <td>{{flete.tipo}}</td>
                        <td>{{flete.nombre_cabezal}}<a class="float-end d-none"  tooltip="Ver información del flota" routerLink="/flota/{{flete.cabezal_id}}"><i class="fa fa-edit"></i></a></td>
                        <td>{{flete.nombre_remolque}}<a *ngIf="flete.nombre_remolque" class="float-end d-none"  tooltip="Ver información del flota" routerLink="/flota/{{flete.remolque_id}}"><i class="fa fa-edit"></i></a></td>
                        <td class="text-right">
                            <span class="click" placement="left" [popover]="popTemplate" triggers="mouseenter:mouseleave">{{ flete.utilidad  | currency:'USD':'symbol':'1.2' }}</span>

                            <ng-template #popTemplate>
                                <table width="200px">
                                    <tbody>
                                        <tr><td><b>Flete:</b></td> <td class="text-right"><b>{{ flete.subtotal | currency:'USD':'symbol':'1.2'}}</b></td></tr>
                                        <tr><td>Motorista:</td> <td class="text-right">{{ flete.motorista | currency:'USD':'symbol':'1.2'}}</td></tr>
                                        <tr><td>Combustible:</td> <td class="text-right">{{ flete.combustible | currency:'USD':'symbol':'1.2'}}</td></tr>
                                        <tr><td>Gastos:</td> <td class="text-right">{{ flete.gastos | currency:'USD':'symbol':'1.2'}}</td></tr>
                                        <tr><td>Seguro:</td> <td class="text-right">{{ flete.seguro | currency:'USD':'symbol':'1.2'}}</td></tr>
                                        <tr><td>No sujeto:</td> <td class="text-right">{{ flete.no_sujeto | currency:'USD':'symbol':'1.2'}}</td></tr>
                                        <tr><td><b>Utilidad:</b></td> <td class="text-right"><b>{{ flete.utilidad | currency:'USD':'symbol':'1.2'}}</b></td></tr>
                                        <tr><td><b>Total:</b></td> <td class="text-right"><b>{{ flete.total | currency:'USD':'symbol':'1.2'}}</b></td></tr>
                                    </tbody>
                                </table>
                            </ng-template>

                        </td>
                        <td class="text-right">
                            <div role="group" class="btn-group">
                                <a *ngIf="flete.estado != 'Pagado'" tooltip="Eliminar" class="btn btn-default d-none" (click)="delete(flete)">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                                <div class="dropdown">
                                  <a class="btn btn-default" href="#" role="button" data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-print"></i>
                                  </a>

                                  <ul class="dropdown-menu">
                                    <li><a type="button" class="dropdown-item click" (click)="imprimirOrdenDeCarga(flete)">Orden de carga</a></li>
                                    <li><a type="button" class="dropdown-item click" (click)="imprimirCartaDePorte(flete)">Carta de porte</a></li>
                                    <li><a type="button" class="dropdown-item click" (click)="imprimirManifiestoDeCarga(flete)">Manifiesto de carga</a></li>
                                  </ul>
                                </div>
                                <a *ngIf="flete.estado != 'Pagado'" tooltip="Facturar" class="btn btn-default" routerLink="/facturacion" [queryParams]="{ flete: flete.id }">
                                    <i class="fa fa-money-bill"></i>
                                </a>
                                <a *ngIf="flete.estado != 'Pagado'" tooltip="Editar" class="btn btn-default" routerLink="/flete/{{ flete.id }}" >
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                                <a *ngIf="flete.estado == 'Pagado'" tooltip="Ver" class="btn btn-default" routerLink="/flete/{{ flete.id }}" >
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="fletes?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="fletes" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>



<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>

            <div class="form-group col-sm-6">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-control form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.cliente_id">Cliente:</label>
                <ng-select name="cliente_id" [(ngModel)]="filtro.cliente_id" class="form-select p-0 border-0">
                    <ng-option value="">Todos</ng-option>
                    <ng-option *ngFor="let cliente of clientes" [value]="cliente.id">
                        {{cliente.nombre}}
                    </ng-option>
                </ng-select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.motorista">Motoristas:</label>
                <ng-select name="motorista_id" [(ngModel)]="filtro.motorista_id" class="form-select p-0 border-0">
                    <ng-option value="">Todos</ng-option>
                    <ng-option *ngFor="let motorista of motoristas" [value]="motorista.id">
                        {{motorista.nombre}}
                    </ng-option>
                </ng-select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control form-select" name="filtro.estado">
                    <option value="">Todos</option>
                   <option value="Pendiente">Pendiente</option>
                   <option value="Pagado">Pagado</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.tipo">Tipo:</label>
                <select [(ngModel)]="filtro.tipo" class="form-control form-select" name="filtro.tipo">
                    <option value="">Todos</option>
                    <option value="Local">Local</option>
                    <option value="Importación">Importación</option>
                    <option value="Exportación">Exportación</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
