<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Ventas <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Ventas</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="ventas?.total">
            {{ ventas?.total + ' registros' }}
            <span *ngIf="filtrado">{{ ventas?.data | sum:'total' | currency:'USD':'symbol':'1.2'  }}</span>
        </span>

        <form name="form" (ngSubmit)="search()" autocomplete="off">
        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <button tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
            <button tooltip="Actualizar (F5)" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
            <button tooltip="Filtrar (F6)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F6"><i class="fa fa-filter"></i></button>
            <button routerLink="/facturacion" tooltip="Crear (F7)" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button>
        </div>
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Cliente</th>
                        <th>Documento</th>
                        <th>Metodo de pago</th>
                        <th>Condición</th>
                        <th>Estado</th>
                        <th class="text-right">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="ventas?.total < 1 && !loading">
                            <span class="badge badge-primary">No tiene ventas registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge badge-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let venta of ventas?.data">
                        
                        <td>{{ venta.id }}</td>
                        <td>{{venta.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>{{venta.nombre_usuario | truncate:30}}</td>
                        <td>{{venta.nombre_cliente | truncate:30}} <a class="float-end d-none"  tooltip="Ver información del cliente" routerLink="/cliente/{{venta.cliente_id}}"><i class="fa fa-edit"></i></a></td> 
                        <td>{{venta.tipo_documento }} # {{venta.correlativo }} </td>
                        <td><span tooltip="{{ venta.referencia }}">{{venta.metodo_pago}}</span></td>
                        <td><span tooltip="Fecha de pago: {{ venta.fecha_pago | date:'dd/MM/yyyy'}}">{{venta.condicion }}</span> </td>
                        <td *ngIf="apiService.auth_user().tipo != 'Administrador'">
                            <span class="badge click" [ngClass]="{'badge-info' : venta?.estado == 'En Proceso', 'badge-warning' : venta?.estado == 'Pendiente', 'badge-danger' : venta?.estado == 'Anulada', 'badge-success' : venta?.estado == 'Pagada'}">
                                {{venta.estado}}
                            </span>
                        </td>
                        <td *ngIf="apiService.auth_user().tipo == 'Administrador'">
                            <span class="badge py-1 position-relative" style="font-size: 0.8rem;" [ngClass]="{'bg-warning' : venta?.estado == 'Pendiente', 'bg-danger' : venta?.estado == 'Anulada', 'bg-success' : venta?.estado == 'Pagada'}">
                                {{ venta.estado }}
                                <span title="Emitido a hacienda" style="position: absolute; top: -3px; right: -3px; font-size: 10px; color: blue;" *ngIf="apiService.auth_user().empresa.facturacion_electronica && venta.sello_mh">
                                    ✅                       
                                </span>
                            </span>
                        </td>

                        <td class="text-right">{{venta.total | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <span class="btn" [popover]="accionesTemplate" [outsideClick]="true" tooltip="Acciones">
                                <i class="fa fa-ellipsis-vertical fa-fw"></i>
                            </span>
                            <ng-template #accionesTemplate>
                                <div class="d-flex flex-column">
                                    <a *ngIf="!venta?.sello_mh" class="btn text-left" (click)="openDTE(mDTE, venta)">
                                        <i class="fa fa-file-invoice"></i> Emitir DTE
                                    </a>
                                    <a *ngIf="venta?.sello_mh" class="btn text-left" (click)="openDTE(mDTE, venta)">
                                        <i class="fa fa-file-invoice"></i> Ver DTE
                                    </a>
                                    <a class="btn text-left" (click)="reemprimir(venta)">
                                        <i class="fa fa-print"></i> Reemprimir
                                    </a>
                                    <a *ngIf="venta.credito" routerLink="/credito/{{venta.credito.id}}" class="btn text-left">
                                        <i class="fa fa-money-check"></i> Ver crédito
                                    </a>
                                    <a *ngIf="apiService.auth_user().tipo == 'Administrador'"  class="btn text-left" (click)="openModalEdit(mventa, venta)">
                                        <i class="fa fa-pencil-alt"></i> Editar
                                    </a>
                                    <a routerLink="/devolucion-venta/nueva" [queryParams]="{ venta_id: venta.id }" class="btn text-left">
                                        <i class="fa fa-right-left"></i> Hacer devolucion
                                    </a>
                                    <a class="btn text-left" routerLink="/venta/{{venta.id}}">
                                        <i class="fa fa-magnifying-glass"></i> Detalles
                                    </a>
                                </div>
                            </ng-template>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="ventas?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="ventas" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>

<ng-template #mventa>
  <div class="modal-header">
    <h4 class="modal-title text-center">Venta</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="fecha">Fecha:</label>
                <input type="date" [(ngModel)]="venta.fecha" name="fecha" class="form-control" focus="true">
            </div>
            <div class="form-group col-md-6">
                <label for="metodo_pago">Método de pago:</label>
                <select name="metodo_pago" [(ngModel)]="venta.metodo_pago" class="form-select" id="metodo_pago">
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta">Tarjeta</option>
                    <option value="Cheque">Cheque</option>
                    <option value="Contra entrega">Contra entrega</option>
                    <option value="Chivo Wallet">Chivo Wallet</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="tipo_documento">Documento:</label>
                <select name="tipo_documento" [(ngModel)]="venta.tipo_documento" class="form-select" id="tipo_documento">
                    <option [value]="documento.nombre" *ngFor="let documento of documentos">{{ documento.nombre }}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="correlativo">Correlativo:</label><br>
                <input type="number" class="form-control" [(ngModel)]="venta.correlativo" name="correlativo" id="correlativo">
            </div>
            <div class="col-md-12 mt-4">
                <button [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>

            <div class="form-group col-sm-12">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-control form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-control form-select" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [value]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control form-select" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Solicitada">Solicitada</option>
                   <option value="En Proceso">En Proceso</option>
                   <option value="Entregada">Entregada</option>
                   <option value="Finalizada">Finalizada</option>
                   <option value="Cancelada">Cancelada</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.metodo_pago">Forma de Pago:</label>
                <select [(ngModel)]="filtro.metodo_pago" class="form-control form-select" name="filtro.metodo_pago">
                    <option value="">Todos</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Credito">Crédito Fiscal</option>
                    <option value="Tarjeta">Tarjeta</option>
                    <option value="Vale">Vale</option>
                    <option value="Cheque">Cheque</option>
                    <option value="Versatec">Versatec</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.tipo_documento">Tipo de Transacción:</label>
                <select [(ngModel)]="filtro.tipo_documento" class="form-control form-select" name="filtro.tipo_documento">
                    <option value="">Todos</option>
                    <option value="Credito Fiscal">Crédito Fiscal</option>
                    <option value="Factura">Factura</option>
                    <option value="Ticket">Ticket</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #mDTE>
  <div class="modal-header">
    <h4 class="modal-title text-center">DTE</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="row">

            <div class="form-group col-md-12" *ngIf="venta?.sello_mh">
                <button (click)="imprimirDTEJSON(venta)" class="btn btn-primary btn-block">
                    Ver JSON
                </button>
            </div>

            <div class="form-group col-md-12" *ngIf="venta?.sello_mh">
                <button (click)="imprimirDTEPDF(venta)" class="btn btn-primary btn-block">
                    Ver PDF
                </button>
            </div>
            <div class="form-group col-md-12" *ngIf="venta?.sello_mh">
                <button [disabled]="sending" (click)="enviarDTE()" class="btn btn-primary btn-block">
                    <span *ngIf="!sending">Enviar por correo</span>
                    <span *ngIf="sending">Enviando...</span>
                </button>
            </div>
            <div *ngIf="!venta?.sello_mh" class="form-group col-md-12">
                <p *ngIf="consulting" class="alert alert-info">El DTE ya fue emitido, se consultará por el sello correspondiente.</p>
                <button [disabled]="saving" (click)="emitirDTE()" class="btn btn-primary btn-block">
                    <span *ngIf="!saving && !consulting">Emitir</span>
                    <span *ngIf="saving">Emitiendo...</span>

                    <span *ngIf="!saving && consulting">Obteniendo sello...</span>
                </button>
            </div>

        </div>
  </div>
</ng-template>
