<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Comisión <small class="text-muted p-2"> Detalle</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/comisiones">Comisiones</a></li>
            <li class="breadcrumb-item active"><a>Comisión</a></li>
        </ol>
    </div>
</div>

<section class="card">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="row">
                <div class="form-group col-md-4 col-lg-2">
                    <label for="fecha">Fecha:</label>
                    <input type="date" class="form-control" [(ngModel)]="comision.fecha" name="fecha">
                </div>
                <div class="form-group col-md-4 col-lg-2">
                    <label for="empleado">Empleado:</label>
                    <ng-select name="empleado_id" [(ngModel)]="comision.empleado_id">
                        <ng-option *ngFor="let empleado of empleados" [value]="empleado.id">
                            {{empleado.nombre}}
                        </ng-option>
                    </ng-select>
                </div>
                <div class="form-group col-md-4 col-lg-2">
                    <label for="tipo">Tipo:</label>
                    <select class="form-select" [(ngModel)]="comision.tipo" name="tipo">
                        <option value="Por venta">Por venta</option>
                        <option value="Por meta">Por meta</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-2">
                    <label for="estado">Estado:</label>
                    <select class="form-select" [(ngModel)]="comision.estado" name="estado">
                        <option value="Pendiente">Pendiente</option>
                        <option value="Pagada">Pagada</option>
                    </select>
                </div>
                <div class="form-group col-md-8 col-lg-4">
                    <label for="concepto">Concepto:</label>
                    <input type="text" class="form-control" [(ngModel)]="comision.concepto" name="concepto">
                </div>
                <div class="form-group col-md-4 col-lg-2">
                    <label for="total">Total:</label>
                    <input type="number" class="form-control" [(ngModel)]="comision.total" name="total">
                </div>
                <div class="form-group col-md-12">
                    <label for="nota">Nota:</label>
                    <textarea class="form-control" [(ngModel)]="comision.nota" name="nota" cols="30" rows="3"></textarea>
                </div>

            </div>
            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary float-end tcla-F10" [disabled]="loading" tooltip="Guardar (F10)">
                        <span *ngIf="!loading">Guardar</span>
                        <span *ngIf="loading">Guardando...</span>
                    </button>
                </div>
            </div>

        </form>
    </div>
</section>