<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Creditos <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/creditos">Creditos</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="creditos?.total"> </span>

        <div class="input-group float-end w-50">
            <input type="text" name="search" placeholder="Buscar" focus="true" class="form-control" #box (keyup.enter)="search(box.value)">
            <button tooltip="Buscar" (click)="search(box.value)" class="btn btn-default"><i class="fa fa-search"></i></button>
            <button tooltip="Actualizar (F5)" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
            <button tooltip="Filtrar (F6)" (click)="openFilter(mfilter)" class="btn btn-default tcla-F6"><i class="fa fa-filter"></i></button>
            <!-- <button (click)="openModal(mcredito, {})" tooltip="Crear" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button> -->
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Venta</th>
                        <th class="text-center">Plazo</th>
                        <!-- <th class="text-center">Prima</th> -->
                        <!-- <th class="text-center">Mora</th> -->
                        <th class="text-center">Total</th>
                        <!-- <th class="text-center">Abonos</th> -->
                        <th class="text-center">Saldo</th>
                        <th class="text-center">Cuotas</th>
                        <th class="text-center">Fecha de pago</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="creditos?.total < 1 && !loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">No tiene creditos registrados</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let credito of creditos?.data">
                        <td>{{ credito.fecha  | date:'dd/MM/yyyy' }}</td>
                        <td>{{ credito.nombre_cliente }}</td>
                        <td>{{ credito.venta_id }}<a class="float-end d-none"  tooltip="Ver información de la venta" routerLink="/venta/{{credito.venta_id}}"><i class="fa fa-edit"></i></a></td>
                        <td class="text-center">{{ credito.numero_de_cuotas }} {{ credito.forma_de_pago }}</td>
                        <!-- <td class="text-center">{{ credito.prima | currency:'USD':'symbol':'1.2' }}</td> -->
                        <!-- <td class="text-center">{{ credito.mora }}</td> -->
                        <td class="text-center">{{ credito.total | currency:'USD':'symbol':'1.2' }}</td>
                        <!-- <td class="text-center">{{ credito.total_abonos  | currency:'USD':'symbol':'1.2' }}</td> -->
                        <td class="text-center">{{ credito.saldo | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">
                            <progressbar [value]="(credito.cantidad_de_pagos / credito.numero_de_cuotas) * 100" type="success" tooltip="{{ credito.cantidad_de_pagos + ' / ' + credito.plazo  }}">
                                <span>{{ credito.cantidad_de_pagos + ' / ' + credito.numero_de_cuotas  }}</span>
                            </progressbar>
                        </td>
                        <td class="text-center"><span [ngClass]="{'badge badge-danger' : credito.fecha_vencida }" >{{ credito.fecha_de_pago }}</span></td>

                        <td class="text-center">
                            <div role="group" class="btn-group">
                                <a *ngIf="apiService.auth_user().tipo == 'Administrador'" tooltip="Eliminar" class="btn btn-default" (click)="delete(credito)">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                                <button *ngIf="apiService.auth_user().tipo == 'Administrador'" (click)="openModal(mcredito, credito)" tooltip="Editar" class="btn btn-default" tabindex="0"><i class="fa fa-pencil-alt"></i></button>
                                <a tooltip="Detalles y pagos" class="btn btn-default" routerLink="/credito/{{ credito.id }}" >
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="creditos?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="creditos" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>

<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="filtro.sucursal">Sucursal:</label>
                <select [(ngModel)]="filtro.sucursal_id" class="form-control form-select" name="filtro.sucursal_id">
                    <option value="">Todos</option>
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>
<!--             <div class="form-group col-sm-6">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control form-select" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Reservado">Reservado</option>
                    <option value="Pagado">Pagado</option>
                    <option value="Pendiente de Pago">Pendiente de Pago</option>
                    <option value="Finalizado">Finalizado</option>
                    <option value="Cancelado">Cancelado</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.metodo_pago">Forma de Pago:</label>
                <select class="form-control form-select" name="categoria" [(ngModel)]="filtro.categoria">
                   <option value="Boda">Boda</option>
                   <option value="Cumpleaños">Cumpleaños</option>
                   <option value="15 años">15 años</option>
                   <option value="Reunión">Reunión</option>
                   <option value="Capacitación">Capacitación</option>
                   <option value="Otro">Otro</option>
                </select>
            </div>
 -->
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>


<ng-template #mcredito>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Crédito</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="">Fecha:</label>
                <input type="date" class="form-control" name="credito.fecha" [(ngModel)]="credito.fecha"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Cliente:</label>
                <app-buscador-clientes [cliente]="credito.cliente" (setCliente)="setCliente($event)"></app-buscador-clientes>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Venta ID:</label>
                <input type="number" class="form-control" name="credito.venta_id" [(ngModel)]="credito.venta_id"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Total:</label>
                <input type="number" class="form-control" name="credito.total" [(ngModel)]="credito.total"/>
            </div>
            <div class="form-group col-md-6">
                <label>Interés anual <small>%</small>:</label>
                <input type="number" name="interes_anual" [(ngModel)]="credito.interes_anual" class="form-control" required>
            </div>
            <!-- <div class="form-group col-md-6">
                <label>Tipo de cuota:</label>
                <select name="credito.tipo_cuota" class="form-select" [(ngModel)]="credito.tipo_cuota" required>
                    <option value="Sobre Saldos">Sobre Saldos</option>
                    <option value="Cuota Fija">Cuota Fija</option>
                </select>
            </div> -->
            <div class="form-group col-md-6">
                <label>Prima:</label>
                <input type="text" name="prima" [(ngModel)]="credito.prima" class="form-control" required>
            </div>
            <div class="form-group col-md-12">
                <label>Plazo:</label>
            </div>
            <div class="form-group col-md-12">
                <label>Número de cuotas / Forma de pago:</label>
                <span class="input-group">
                    <input type="number" name="numero_de_cuotas" [(ngModel)]="credito.numero_de_cuotas" class="form-control" required>
                    <select name="credito.forma_de_pago" class="form-select" [(ngModel)]="credito.forma_de_pago" required>
                        <option value="Dias">Dias</option>
                        <option value="Semanas">Semanas</option>
                        <option value="Meses">Meses</option>
                    </select>
                </span>
            </div>

            <div class="form-group col-md-12">
                <label for="">Nota:</label>
                <input type="text" class="form-control" name="credito.nota" [(ngModel)]="credito.nota"/>
            </div>

            <div class="form-group col-sm-12 mt-5">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

