<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Entrada <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/entradas">Entradas</a></li>
            <li class="breadcrumb-item"><a>Entrada</a></li>
        </ol>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" [(ngModel)]="entrada.fecha" name="fecha">
            </div>
            <div class="form-group col-md-3">
                <label for="entrada.bodega_id">Bodega:</label>
                <select class="form-control form-select" [(ngModel)]="entrada.bodega_id" name="bodega_id">
                    <option [value]="bodega.id" *ngFor="let bodega of bodegas">{{ bodega.nombre }}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="concepto">Concepto:</label>
                <input type="text" class="form-control" [(ngModel)]="entrada.concepto" name="concepto" placeholder="Concepto" required>
            </div>
        </div>
                    
        <!-- Tabla -->
        <div class="row">
            <div class="col-md-12 d-inline-flex mb-3">
                <div class="btn-group">
                    <button (click)="openModal(inventario)" class="btn btn-default tcla-F2" tooltip="Productos (F2)"> <i class="fa fa-list-alt"></i> </button>
                </div>
            </div>
            <div class="col-md-12" style="min-height: 250px;">
                <table class="table table-sm table-bordered table-condensed mb-0">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th>Producto</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Costo</th>
                            <th class="text-center">Total</th>
                            <th class="text-center"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="entrada?.detalles?.length < 1">
                            <td colspan="7" class="text-center text-muted">
                                Ningún detalle agregado
                            </td>
                        </tr>
                        <tr *ngFor=" let de of entrada?.detalles, let i=index">
                            <td class="text-center">{{ i + 1 }}</td>
                            <td>{{ de.nombre_producto }}</td>
                            <td class="text-center">{{ de.cantidad }}</td>
                            <td class="text-center">{{ de.costo | currency:'USD':'symbol':'1.2'}}</td>
                            <td class="text-center">{{ de.total | currency:'USD':'symbol':'1.2'}}</td>
                            <td style="width: 100px;">
                                <a tooltip="Eliminar" class="btn btn-default" (click)="eliminarDetalle(de)"><i class="fa fa-trash"></i>
                                </a>
                                <a tooltip="Editar" class="btn btn-default" (click)="openModalDetalle(mdetalle, de)"><i class="fa fa-pencil-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">

        <a *ngIf="entrada.id" class="btn btn-default float-end tcla-F12 ml-2" href="{{ apiService.baseUrl + '/api/reporte/entrada/' + entrada.id + '?token=' + apiService.auth_token() }}" target="_blank" tooltip="Imprimir">
            Imprimir (F12)
        </a>
        <button (click)="onSubmit()" [disabled]="loading" class="btn btn-primary float-end tcla-F9 mr-2">
            <span *ngIf="!loading">Guardar <small>(F9)</small></span>
            <span *ngIf="loading">Guardando...</span>
        </button>
    </div>
</div>

<ng-template #mdetalle>
  <div class="modal-header">
    <h3 class="modal-title text-center">Producto</h3>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" autocomplete="off" (ngSubmit)="editDetalle()">
        <div class="form-group col-sm-12">
            <label for="cantidad">Cantidad:</label>
            <input id="cantidad" type="number" min="1" class="form-control text-center" (change)="detalle.total = detalle.cantidad * detalle.costo" [(ngModel)]="detalle.cantidad" name="cantidad" focus="true">
        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" [disabled]="!detalle.cantidad" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #inventario>
  <div class="modal-header">
    <h3 class="modal-title text-center">Producto</h3>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" name="form" class="buscador" autocomplete="off" (ngSubmit)="agregarDetalle()">
        <div class="form-group col-sm-12">
            <app-buscador-productos (selectProducto)="productoSelect($event)"></app-buscador-productos>
        </div>

        <div class="form-group col-sm-12">
            <label for="cantidad">Cantidad:</label>
            <input id="cantidad" type="number" min="1" class="form-control text-center" [(ngModel)]="detalle.cantidad" name="cantidad" required>
        </div>

        <div class="form-group col-sm-12">
            <button type="submit" [disabled]="!form.form.valid || loading" class="btn btn-primary btn-block"> Agregar </button>
        </div>
    </form>
  </div>
</ng-template>
