<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <h5 class="col-12 pb-2 mb-2">Metas</h5>
            
            <div class="col-md-2" *ngFor="let empleado of empleados">
                 <div class="col-md-2" *ngFor="let mes of empleado.meses">
                   <div class="card">
                     <form (ngSubmit)="onSubmit(mes)">
                       <h4 class="text-center no-margin">{{mes.nombre}}</h4>
                       <h5 class="text-center" [ngClass]="{'text-danger' : mes.venta < mes.meta, 'text-success' : mes.venta >= mes.meta}" *ngIf="mes.venta">{{ mes.venta | currency:'USD':true:'1.2' }}</h5>
                       <h5 class="text-center" *ngIf="!mes.venta"> -- </h5>
                       <input type="number" (change)="onSubmit(mes)" [(ngModel)]="mes.meta" name="meta" class="form-control text-center" placeholder="Meta">
                     </form>
                   </div>
                 </div>
            </div>


        </div>

    </div>
</div>