<div class="row" >
    <div class="col-md-12">
        <table class="table table-sm table-bordered table-condensed mb-0">
            <thead>
                <tr>
                    <th style="width: 50px;" class="text-center">#</th>
                    <th>Producto</th>
                    <th style="width: 100px;" class="text-center">Cantidad</th>
                    <th style="width: 100px;" class="text-center">Precio</th>
                    <!-- <th style="width: 100px;" class="text-center">Descuento</th> -->
                    <th style="width: 100px;" class="text-center">No Sujeta</th>
                    <th style="width: 100px;" class="text-center">Exenta</th>
                    <th style="width: 100px;" class="text-center">Gravada</th>
                    <th style="width: 100px;" class="text-center">Total</th>
                    <th style="width: 100px;" class="text-center"><i class="fa fa-cog"></i></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-12" id="detalles">
        <table class="table table-sm table-bordered table-condensed mb-0">
            <tbody>
                <tr *ngIf="venta?.detalles?.length < 1">
                    <td colspan="7" class="text-center text-muted">
                        Ningún detalle agregado
                    </td>
                </tr>
                <tr *ngFor="let detalle of venta?.detalles; let i = index">
                    <td style="width: 50px;" class="text-center">{{ i + 1 }}</td>
                    <td>{{ detalle.nombre_producto }}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.cantidad }}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.precio | currency:'USD':'symbol':'1.2'}}</td>
                    <!-- <td style="width: 100px;" class="text-center">{{ detalle.descuento | currency:'USD':'symbol':'1.2'}}</td> -->
                    <td style="width: 100px;" class="text-center">{{ detalle.no_sujeta | currency:'USD':'symbol':'1.2'}}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.exenta | currency:'USD':'symbol':'1.2'}}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.gravada | currency:'USD':'symbol':'1.2'}}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.total | currency:'USD':'symbol':'1.2'}}</td>
                    <td style="width: 100px;" class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-default" (click)="modalSupervisor(detalle)">
                              <i class="fa fa-trash"></i>
                            </button>
                            <button class="btn btn-default tcla-F7" (click)="openModalEdit(mdetalle, detalle)">
                              <i class="fa fa-pencil-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>


<ng-template #mcantidad>
  <div class="modal-header">
    <h3 class="modal-title text-center">Cantidad</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <form autocomplete="off" (ngSubmit)="setCantidad()">
            <div class="col-md-12">
                <input type="number" [(ngModel)]="cantidad" name="cantidad" class="form-control text-center" placeholder="Cantidad" focus="true">
            </div>
            <div class="col-md-12" *ngIf="detalle.precio2">
                <label for="">Precios:</label>
                <div class="row">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <button *ngIf="detalle.precio1 > 0" type="button" [ngClass]="precio == detalle.precio1 ? 'btn col-md-4 btn-primary' : 'btn btn-default col-md-4'" (click)="setPrecio(detalle.precio1)">{{ detalle.precio1 }}</button>
                        <button *ngIf="detalle.precio2 > 0" type="button" [ngClass]="precio == detalle.precio2 ? 'btn col-md-4 btn-primary' : 'btn btn-default col-md-4'" (click)="setPrecio(detalle.precio2)">{{ detalle.precio2 }}</button>
                        <button *ngIf="detalle.precio3 > 0" type="button" [ngClass]="precio == detalle.precio3 ? 'btn col-md-4 btn-primary' : 'btn btn-default col-md-4'" (click)="setPrecio(detalle.precio3)">{{ detalle.precio3 }}</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <button [disabled]="loading" class="btn btn-primary btn-block" [disabled]="loading || !cantidad">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>


<ng-template #msupervisor>
  <div class="modal-header">
    <h4 class="modal-title text-center">Autorización</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
        <form name="form" (ngSubmit)="supervisorCheck()">
            <div class="form-group col-md-12">
                <label for="codigo">Ingrese el código de supervisor:</label>
                <input type="password" [(ngModel)]="supervisor.codigo" name="codigo" class="form-control text-center" focus="true">
            </div>
            <div class="col-md-12">
                <button [disabled]="loading || !supervisor.codigo" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </form>
    </div>
  </div>
</ng-template>