<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Credito <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/creditos">Creditos</a></li>
            <li class="breadcrumb-item active"><a >Credito</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-3">
            Información
            <div class="btn-option">
                <div class="btn-group">                    
                    <button (click)="planDePagos()" class="btn btn-default float-end" tooltip="Imprimir reporte de pagos">Pagos <i class="fa fa-print"></i></button>
                    <button (click)="planDeAmortizacion()" class="btn btn-default float-end" tooltip="Imprimir plan de amortización">Amortización <i class="fa fa-print"></i></button>
                </div>
            </div>
        </h4>
        <div class="row">
            <div class="col-4 col-lg-1">
                <p class="font-weight-bold">Fecha</p>
                <p>{{ credito.fecha | date:'d/MM/y' }}</p>
            </div>
            <div class="col-4 col-lg-1">
                <p class="font-weight-bold">Monto</p>
                <p>{{ credito.total | currency:'USD':'symbol':'2.2' }}</p>
            </div>
            <div class="col-4 col-lg-1">
                <p class="font-weight-bold">Interes</p>
                <p>{{ credito.interes_anual | number:'1.2-2' }} %</p>
            </div>
            <div class="col-4 col-lg-1">
                <p class="font-weight-bold">Cuotas</p>
                <p>{{ credito.numero_de_cuotas }}</p>
            </div>
            <div class="col-4 col-lg-2">
                <p class="font-weight-bold">Forma de pago</p>
                <p>{{ credito.forma_de_pago }}</p>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <p class="font-weight-bold">Cliente</p>
                <p>{{ credito.nombre_cliente }} <a routerLink="/cliente/{{credito.cliente_id}}"><i class="fa fa-edit ml-2"></i></a></p>
            </div>
            <div class="col-4 col-lg-1">
                <p class="font-weight-bold">Prima</p>
                <p>{{ credito.prima | currency:'USD':'symbol':'2.2' }}</p>
            </div>
            <div class="col-4 col-lg-1">
                <p class="font-weight-bold">Abono</p>
                <p>{{ credito.total_abonos | currency:'USD':'symbol':'2.2' }}</p>
            </div>
            <div class="col-4 col-lg-1">
                <p class="font-weight-bold">Saldo</p>
                <p>{{ credito.saldo | currency:'USD':'symbol':'2.2' }}</p>
            </div>

        </div>    
    </div>

</div>

<app-credito-pagos [credito]="credito" (update)="loadAll()"></app-credito-pagos>
