<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Asistencia <small class="text-muted p-2"> Detalle</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/asistencias">Asistencias</a></li>
            <li class="breadcrumb-item active"><a>Asistencia</a></li>
        </ol>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-10 col-lg-6">
        <section class="card">
            <div class="card-body">
                <form autocomplete="off" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col-md-4 col-lg-4">
                            <label for="fecha">Fecha:</label>
                            <input type="date" class="form-control" [(ngModel)]="asistencia.fecha" name="fecha">
                        </div>
                        <div class="form-group col-6 col-md-4 col-lg-4">
                            <label for="entrada">Entrada:</label>
                            <input type="time" class="form-control" [(ngModel)]="asistencia.entrada" name="entrada">
                        </div>
                        <div class="form-group col-6 col-md-4 col-lg-4">
                            <label for="salida">Salida:</label>
                            <input type="time" class="form-control" [(ngModel)]="asistencia.salida" name="salida">
                        </div>
                        <div class="form-group col-md-6 col-lg-5">
                            <label>Estado:</label>
                            <select name="genero" class="form-control form-select" [(ngModel)]="asistencia.estado">
                                <option value="Asistencia">Asistencia</option>
                                <option value="Permiso">Permiso</option>
                                <option value="Vacación">Vacación</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 col-lg-7">
                            <label for="">Empleado:</label>
                            <ng-select name="empleado_id" [(ngModel)]="asistencia.empleado_id">
                                <ng-option *ngFor="let empleado of empleados" [value]="empleado.id">
                                    {{empleado.nombre}}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="nota">Nota:</label>
                            <textarea class="form-control" [(ngModel)]="asistencia.nota" name="nota" cols="30" rows="3"></textarea>
                        </div>

                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">
                                <span *ngIf="!guardar">Guardar</span>
                                <span *ngIf="guardar">Guardando...</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        
    </div>
</div>
