<div class="row">
            <div class="col-12">
                <div class="top_menu_carousel owl-carousel" id="top_menu_carousel">
                    <div class="card vertical-card__menu item">
                        <div class="card-header p-0">
                            <div class="vertical-card__menu--image">
                                <img src="assets/images/menu/granny-menu10.jpg" alt="Menu">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="vertical-card__menu--desc">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="vertical-card__menu--title">French Crostini</h5>
                                    <h4>
                                        <span class="badge badge-primary">$ 54</span>
                                    </h4>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <p class="mb-0"><span>Ordered:</span> <strong class="text-dark">179</strong></p>
                                    <p class="mb-0"><span>Revenue:</span>  <strong class="text-dark">$1300</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card vertical-card__menu item">
                        <div class="card-header p-0">
                            <div class="vertical-card__menu--image">
                                <img src="assets/images/menu/granny-menu11.jpg" alt="Menu">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="vertical-card__menu--desc">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="vertical-card__menu--title m-0">Fried Egg Sandwich</h5>
                                    <h4>
                                        <span class="badge badge-primary">$ 54</span>
                                    </h4>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <p class="mb-0"><span>Ordered:</span> <strong class="text-dark">179</strong></p>
                                    <p class="mb-0"><span>Revenue:</span>  <strong class="text-dark">$1300</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card vertical-card__menu item">
                        <div class="card-header p-0">
                            <div class="vertical-card__menu--image">
                                <img src="assets/images/menu/granny-menu12.jpg" alt="Menu">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="vertical-card__menu--desc">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="vertical-card__menu--title m-0">Pizza Hot Chilli</h5>
                                    <h4>
                                        <span class="badge badge-primary">$ 54</span>
                                    </h4>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <p class="mb-0"><span>Ordered:</span> <strong class="text-dark">179</strong></p>
                                    <p class="mb-0"><span>Revenue:</span>  <strong class="text-dark">$1300</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card vertical-card__menu item">
                        <div class="card-header p-0">
                            <div class="vertical-card__menu--image">
                                <img src="assets/images/menu/granny-menu13.jpg" alt="Menu">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="vertical-card__menu--desc">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="vertical-card__menu--title m-0">Lemon Yogurt</h5>
                                    <h4>
                                        <span class="badge badge-primary">$ 54</span>
                                    </h4>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <p class="mb-0"><span>Ordered:</span> <strong class="text-dark">179</strong></p>
                                    <p class="mb-0"><span>Revenue:</span>  <strong class="text-dark">$1300</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card vertical-card__menu item">
                        <div class="card-header p-0">
                            <div class="vertical-card__menu--image">
                                <img src="assets/images/menu/granny-menu14.jpg" alt="Menu">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="vertical-card__menu--desc">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="vertical-card__menu--title m-0">Multigrain Hot Cereal</h5>
                                    <h4>
                                        <span class="badge badge-primary">$ 54</span>
                                    </h4>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <p class="mb-0"><span>Ordered:</span> <strong class="text-dark">179</strong></p>
                                    <p class="mb-0"><span>Revenue:</span>  <strong class="text-dark">$1300</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card vertical-card__menu item">
                        <div class="card-header p-0">
                            <div class="vertical-card__menu--image">
                                <img src="assets/images/menu/granny-menu15.jpg" alt="Menu">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="vertical-card__menu--desc">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="vertical-card__menu--title m-0">Branch Special</h5>
                                    <h4>
                                        <span class="badge badge-primary">$ 54</span>
                                    </h4>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <p class="mb-0"><span>Ordered:</span> <strong class="text-dark">179</strong></p>
                                    <p class="mb-0"><span>Revenue:</span>  <strong class="text-dark">$1300</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card vertical-card__menu item">
                        <div class="card-header p-0">
                            <div class="vertical-card__menu--image">
                                <img src="assets/images/menu/granny-menu16.jpg" alt="Menu">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="vertical-card__menu--desc">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="vertical-card__menu--title m-0">Multigrain Hot Cereal</h5>
                                    <h4>
                                        <span class="badge badge-primary">$ 54</span>
                                    </h4>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <p class="mb-0"><span>Ordered:</span> <strong class="text-dark">179</strong></p>
                                    <p class="mb-0"><span>Revenue:</span>  <strong class="text-dark">$1300</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card vertical-card__menu item">
                        <div class="card-header p-0">
                            <div class="vertical-card__menu--image">
                                <img src="assets/images/menu/granny-menu5.jpg" alt="Menu">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="vertical-card__menu--desc">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="vertical-card__menu--title m-0">Fried Egg Sandwich</h5>
                                    <h4>
                                        <span class="badge badge-primary">$ 54</span>
                                    </h4>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <p class="mb-0"><span>Ordered:</span> <strong class="text-dark">179</strong></p>
                                    <p class="mb-0"><span>Revenue:</span>  <strong class="text-dark">$1300</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card vertical-card__menu item">
                        <div class="card-header p-0">
                            <div class="vertical-card__menu--image">
                                <img src="assets/images/menu/granny-menu6.jpg" alt="Menu">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="vertical-card__menu--desc">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="vertical-card__menu--title m-0">Multigrain Hot Cereal</h5>
                                    <h4>
                                        <span class="badge badge-primary">$ 54</span>
                                    </h4>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <p class="mb-0"><span>Ordered:</span> <strong class="text-dark">179</strong></p>
                                    <p class="mb-0"><span>Revenue:</span>  <strong class="text-dark">$1300</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>