<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">{{ producto.tipo }} <small class="text-muted p-2"> Edición</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/{{ (producto.tipo).toLowerCase() }}s">{{ producto.tipo }}s</a></li>
            <li class="breadcrumb-item active"><a>{{ producto.tipo }}</a></li>
        </ol>
    </div>
</div>

<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <app-producto-informacion [producto]='producto'></app-producto-informacion>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="producto.id">
        <div class="card">
            <div class="card-body">
                <app-producto-sucursales [producto]='producto'></app-producto-sucursales>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="producto.id && producto.tipo !='Servicio'">
        <div class="card">
            <div class="card-body">
                <app-producto-inventarios [producto]='producto'></app-producto-inventarios>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="producto.id">
        <div class="card">
            <div class="card-body">
                <app-producto-imagenes [producto]='producto'></app-producto-imagenes>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="producto.id">
        <div class="card">
            <div class="card-body">
                <app-producto-precios [producto]='producto'></app-producto-precios>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="producto.id && producto.tipo =='Producto'">
        <div class="card">
            <div class="card-body">
                <app-producto-composicion [producto]='producto'></app-producto-composicion>
            </div>
        </div>
    </div>
    <div class="col-lg-12" *ngIf="producto.id && producto.tipo !='Servicio'">
        <div class="card">
            <div class="card-body">
                <app-producto-promociones [producto]='producto'></app-producto-promociones>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="producto.id">
        <div class="card">
            <div class="card-body">
                <h6 class="my-3 font-weight-bold">Historial</h6>
                <tabset #staticTabs *ngIf="producto.id">
                    <tab class="pt-4" heading="Compras" *ngIf="producto.tipo !='Servicio'">
                        <app-producto-compras></app-producto-compras>
                    </tab>
                    <tab class="pt-4" heading="Ajustes" *ngIf="producto.tipo !='Servicio'">
                        <app-producto-ajustes></app-producto-ajustes>
                    </tab>
                    <tab class="pt-4" heading="Ventas" *ngIf="producto.tipo !='Repuesto'">
                        <app-producto-ventas></app-producto-ventas>
                    </tab>
                </tabset>

            </div>
        </div>
    </div>
</div>
