<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Negocio <small class="text-muted p-2"> Configuración</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Negocio</a></li>
        </ol>
    </div>
</div>

<div class="card mb-5">
    <div class="card-body">
        <div class="row" *ngIf="!empresa.nombre">
            <div class="text-muted text-center thumbler">
              Cargando...
            </div>
        </div>

        <div class="row" *ngIf="empresa.nombre">   
            <h5 class="mb-3">Información</h5>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form name="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                               <div class="row justify-content-center">
                                   <div class="form-group col-6 col-sm-4 col-md-2">
                                       <figure class="img-thumbnail file-upload d-flex justify-content-center align-items-center" tooltip="Agregar" style="min-height: 100px;">
                                           <img class="img-fluid" src="{{ apiService.baseUrl + '/img/' + empresa.logo }}" alt="logo">
                                           <input type="file" name="img" (change)="setFile($event)" accept="image/png, image/jpeg, image/jpg">
                                       </figure>
                                   </div>
                               </div>
                                <div class="form-group col-md-3">
                                    <label for="nombre">* Nombre:</label>
                                    <input type="text" class="form-control" [(ngModel)]="empresa.nombre" name="nombre" placeholder="Nombre" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="nombre_propietario">Propietario:</label>
                                    <input type="text" class="form-control" [(ngModel)]="empresa.nombre_propietario" name="nombre_propietario" placeholder="Nombre propietario">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="nit">NIT:</label>
                                    <input type="text" class="form-control" [(ngModel)]="empresa.nit" name="nit" placeholder="000-000000-000-0">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="nrc">NRC:</label>
                                    <input type="text" class="form-control" [(ngModel)]="empresa.nrc" name="nrc" placeholder="000000-0">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="tipo_establecimiento ">Tipo establecimiento:</label>
                                    <select class="form-select" [(ngModel)]="empresa.tipo_establecimiento" name="tipo_establecimiento ">
                                        <option value="01">Sucursal/Agencia</option>
                                        <option value="02">Casa matriz</option>
                                        <option value="04">Bodega</option>
                                        <option value="20">Otro</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="cod_estable_mh">Cod Establecimiento MH:</label>
                                    <input type="text" class="form-control" [(ngModel)]="empresa.cod_estable_mh" name="cod_estable_mh" placeholder="xxxx">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="cod_estable">Cod Establecimiento:</label>
                                    <input type="text" class="form-control" [(ngModel)]="empresa.cod_estable" name="cod_estable" placeholder="xxxx">
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="actividad_economica">Actividad económica:</label>
                                    <ng-select [(ngModel)]="empresa.cod_actividad_economica" (change)="setGiro()" placeholder="Escribe aquí" class="form-select p-0" name="empresa.cod_actividad_economica">
                                        <ng-option *ngFor="let actividad_economica of actividad_economicas" [value]="actividad_economica.cod">
                                            {{ actividad_economica.nombre }}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="departamento">Departamento:</label>
                                    <ng-select [(ngModel)]="empresa.cod_departamento" (change)="setDepartamento()" placeholder="Escribe aquí" class="form-select p-0" name="empresa.cod_departamento">
                                        <ng-option *ngFor="let departamento of departamentos" [value]="departamento.cod">
                                            {{ departamento.nombre }}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="distrito">Distrito:</label>
                                    <ng-select [(ngModel)]="empresa.cod_distrito" (change)="setDistrito()" placeholder="Escribe aquí" class="form-select p-0" name="empresa.cod_distrito">
                                        <ng-option *ngFor="let distrito of distritos | filter:'cod_departamento':empresa.cod_departamento" [value]="distrito.cod">
                                            {{ distrito.nombre }}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="municipio">Municipio:</label>
                                    <ng-select [(ngModel)]="empresa.cod_municipio" (change)="setMunicipio()" placeholder="Escribe aquí" class="form-select p-0" name="empresa.cod_municipio">
                                        <ng-option *ngFor="let municipio of municipios | filter:'cod_departamento':empresa.cod_departamento" [value]="municipio.cod">
                                            {{ municipio.nombre }}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="direccion">Dirección:</label>
                                    <input type="text" class="form-control" [(ngModel)]="empresa.direccion" name="direccion" placeholder="Escribe aquí">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="telefono">Teléfono:</label>
                                    <input type="tel" class="form-control" [(ngModel)]="empresa.telefono" name="telefono" placeholder="xxxx-xxxx">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="correo">Correo:</label>
                                    <input type="email" class="form-control" [(ngModel)]="empresa.correo" name="correo" placeholder="info@miempresa.com">
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="valor_inventario">Valor de inventario:</label>
                                    <select class="form-control form-select" [(ngModel)]="empresa.valor_inventario" name="valor_inventario">
                                        <option value="Promedio">Promedio</option>
                                        <option value="Última compra">Última compra</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="ips">Desde donde se pueden conectar los empleados</label>
                                    <tag-input theme='bootstrap' [secondaryPlaceholder]="'45.195.206.110'" [separatorKeyCodes]="[32]" [(ngModel)]="empresa.ips" name="ips"></tag-input>
                                </div>
                                <div class="form-group col-md-12">
                                    <button [disabled]="loading" class="btn btn-primary float-end">
                                        <span *ngIf="!loading">Guardar</span>
                                        <span *ngIf="loading">Guardando...</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                    <form name="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="form-group col-md-3 without-label">
                              <label for="facturacion_electronica">Habilitar Facturación electrónica</label>
                              <input class="form-check" type="checkbox" role="switch" (change)="onSubmit()" [(ngModel)]="empresa.facturacion_electronica" name="facturacion_electronica">
                            </div>
                            <div *ngIf="empresa.facturacion_electronica" class="form-group col-md-3">
                                <label for="mh_pwd_certificado">Ambiente:</label>
                                <select name="fe_ambiente" class="form-select" [(ngModel)]="empresa.fe_ambiente">
                                    <option value="00">Pruebas</option>
                                    <option value="01">Producción</option>
                                </select>
                            </div> 
                            <div *ngIf="empresa.facturacion_electronica" class="form-group col-md-3 without-label">
                              <label for="enviar_dte">Enviar DTE por correo</label>
                              <input class="form-check" type="checkbox" role="switch" (change)="onSubmit()" [(ngModel)]="empresa.enviar_dte" name="enviar_dte">
                            </div>
                            <div *ngIf="empresa.facturacion_electronica" class="form-group col-md-3 without-label">
                              <label for="imprimir_dte">Imprimir DTE</label>
                              <input class="form-check" type="checkbox" role="switch" (change)="onSubmit()" [(ngModel)]="empresa.imprimir_dte" name="imprimir_dte">
                            </div>
                            <div *ngIf="empresa.facturacion_electronica" class="form-group col-md-4">
                                <label for="mh_usuario">Usuario MH:</label>
                                <input type="text" class="form-control" [(ngModel)]="empresa.mh_usuario" name="mh_usuario" placeholder="Escribe aquí">
                            </div>
                            <div *ngIf="empresa.facturacion_electronica" class="form-group col-md-4">
                                <label for="mh_contrasena">Contraseña MH:</label>
                                <input type="text" class="form-control" [(ngModel)]="empresa.mh_contrasena" name="mh_contrasena" placeholder="Escribe aquí">
                            </div>
                            <div *ngIf="empresa.facturacion_electronica" class="form-group col-md-4">
                                <label for="mh_pwd_certificado">Contraseña Certificado MH:</label>
                                <input type="text" class="form-control" [(ngModel)]="empresa.mh_pwd_certificado" name="mh_pwd_certificado" placeholder="Escribe aquí">
                            </div>
                            <div class="col-md-12" *ngIf="empresa.facturacion_electronica">
                                <button [disabled]="cheking || !empresa.mh_usuario || !empresa.mh_contrasena || !empresa.mh_pwd_certificado" (click)="onCheckMH()" class="btn btn-primary float-end">
                                    <span *ngIf="!cheking">Comprobar datos</span>
                                    <span *ngIf="cheking">Comprobando...</span>
                                </button>
                                <!-- <button [disabled]="saving" type="button" (click)="onCheckFE()" class="btn btn-primary pull-right">
                                    <span *ngIf="!saving">Comprobar FE</span>
                                    <span *ngIf="saving">Comprobando...</span>
                                </button> -->
                                <!-- <button [disabled]="saving" class="btn btn-primary pull-right">
                                    <span *ngIf="!saving">Guardar</span>
                                    <span *ngIf="saving">Guardando...</span>
                                </button> -->
                            </div>  
                        </div>
                    </form>
                    </div>
                </div>
            </div>
<!--             <div class="col-md-12">
                <app-sucursales></app-sucursales>
            </div> -->

        </div>
    </div>
</div>

