<div class="card mb-5">
    <div class="card-body">
        <form (ngSubmit)="submit()">

            <!-- <div class="row justify-content-center">
                <div class="col-md-2">
                    <figure style="min-height: 150px;" class="img-thumbnail file-upload d-flex justify-content-center align-items-center" tooltip="Agregar">
                        <i *ngIf="!flota.img && !preview" class="fa fa-image fa-2x text-muted"></i>
                        <img *ngIf="flota.img && !preview" src="{{ apiService.baseUrl + '/img/' + flota.img }}" height="100">
                        <img *ngIf="url_img_preview && preview" src="{{ url_img_preview }}" height="100">
                        <input type="file" name="img" (change)="setFile($event)" accept="image/png, image/jpeg, image/jpg">
                    </figure>
                </div>
            </div> -->
            <div class="row mt-3">
                <h4 class="my-3 font-weight-bold">Información de la unidad</h4>
                <div class="form-group col-lg-3">
                    <label for="propietario">Propietario:</label>
                    <input type="text" class="form-control" name="propietario" [(ngModel)]="flota.propietario">
                </div>
                <div class="form-group col-lg-3">
                    <label for="placa">Número de placa:</label>
                    <input type="text" class="form-control" name="placa" [(ngModel)]="flota.placa">
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label for="tipo">Tipo:</label>
                    <select class="form-control form-select" name="tipo" [(ngModel)]="flota.tipo">
                        <option value="Cabezal">Cabezal</option>
                        <option value="Remolque">Remolque</option>
                        <option value="Automóvil">Automóvil</option>
                        <option value="Furgón">Furgón</option>
                        <option value="Camión">Camión</option>
                    </select>
                </div>
                <div class="form-group col-lg-3">
                    <label for="vin">VIN:</label>
                    <input type="text" class="form-control" name="vin" [(ngModel)]="flota.vin">
                </div>
                <div class="form-group col-lg-3">
                    <label for="num_chasis">Número de chasis:</label>
                    <input type="text" class="form-control" name="num_chasis" [(ngModel)]="flota.num_chasis">
                </div>
                <div class="form-group col-lg-3">
                    <label for="num_motor">Número de motor:</label>
                    <input type="text" class="form-control" name="num_motor" [(ngModel)]="flota.num_motor">
                </div>
                <div class="form-group col-6 col-lg-2">
                    <label for="marca">Marca:</label>
                    <input type="text" class="form-control" name="marca" [(ngModel)]="flota.marca">
                </div>
                <div class="form-group col-6 col-lg-2">
                    <label for="modelo">Modelo:</label>
                    <input type="text" class="form-control" name="modelo" [(ngModel)]="flota.modelo">
                </div>
                <div class="form-group col-6 col-lg-2">
                    <label for="capacidad">Capacidad:</label>
                    <input type="text" class="form-control" name="capacidad" [(ngModel)]="flota.capacidad">
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label for="anio">Año:</label>
                    <input type="text" class="form-control" name="anio" [(ngModel)]="flota.anio">
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label for="color">Color:</label>
                    <input type="text" class="form-control" name="color" [(ngModel)]="flota.color">
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label for="kilometraje">Kilometraje:</label>
                    <input type="number" class="form-control" name="kilometraje" [(ngModel)]="flota.kilometraje">
                </div>
                <div class="form-group col-6 col-lg-3">
                    <label for="tipo_combustible">Tipo combustible:</label>
                    <select class="form-control form-select" name="tipo_combustible" [(ngModel)]="flota.tipo_combustible">
                        <option value="Gasolina">Gasolina</option>
                        <option value="Diesel">Diesel</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label for="nota">Observaciones y notas</label>
                    <textarea placeholder="Cualquier comentario" name="nota" [(ngModel)]="flota.nota" class="form-control" cols="30" rows="3"></textarea>
                </div>
            </div>
            <hr>
            <div class="row mt-3">
                <h4 class="my-3 font-weight-bold">Información para mantenimientos</h4>
                <div class="form-group col-6 col-lg-4">
                    <label for="ultimo_mantenimiento">Último mantenimiento:</label>
                    <input type="date" class="form-control" name="ultimo_mantenimiento" [(ngModel)]="flota.ultimo_mantenimiento">
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label for="proximo_mantenimiento">Próximo mantenimiento:</label>
                    <input type="date" class="form-control" name="proximo_mantenimiento" [(ngModel)]="flota.proximo_mantenimiento">
                </div>
            </div>
            <div class="row mt-3">
                <h4 class="my-3 font-weight-bold">Información de seguros</h4>
                <div class="form-group col-6 col-lg-4">
                    <label for="vencimiento_tarjeta">Fecha de vencimiento de tarjeta:</label>
                    <input type="date" class="form-control" name="vencimiento_tarjeta" [(ngModel)]="flota.vencimiento_tarjeta">
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label for="vencimiento_garantia">Fecha de vencimiento de garantía:</label>
                    <input type="date" class="form-control" name="vencimiento_garantia" [(ngModel)]="flota.vencimiento_garantia">
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label for="vencimiento_poliza">Fecha de vencimiento de póliza de seguro:</label>
                    <input type="date" class="form-control" name="vencimiento_poliza" [(ngModel)]="flota.vencimiento_poliza">
                </div>

                <div class="form-group col-md-12 mt-5">
                    <button type="submit" [disabled]="loading" class="btn btn-primary float-right tcla-F10" tooltip="Guardar (F10)">
                        <span *ngIf="!loading">Guardar</span>
                        <span *ngIf="loading">Guardando...</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
