<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Devoluciones de compra <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/devoluciones/compras">Devoluciones</a></li>
            <li class="breadcrumb-item"><a>Devolucion</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center">
            Información
            <a *ngIf="compra.credito" routerLink="/credito/{{compra.credito.id}}" class="btn btn-default float-end" tooltip="Ver crédito">
                <i class="fa fa-money-check"></i>
            </a>
        </h4>
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Usuario</th>
                    <th>Referencia</th>
                    <th>Nota</th>
                    <th>Tipo</th>
                </tr>
                <tr>
                    <td>{{ compra.fecha | date:'yy/MM/yyyy'}}</td>
                    <td>{{ compra.nombre_proveedor }}</td>
                    <td>{{ compra.nombre_usuario }}</td>
                    <td>{{ compra.referencia }}</td>
                    <td>{{ compra.nota }}</td>
                    <td>{{ compra.tipo }}</td>
                </tr>
            </table>
        </div>    
    </div>

</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title text-center">Detalle</h4>
        <div class="table-responsive" style="min-height: 300px;">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="text-center">N°</th>
                        <th>Producto</th>
                        <th class="text-center">Costo</th>
                        <th class="text-center">Descuento</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <td colspan="8" class="text-center" *ngIf="compra.detalles?.length < 1 && !loading">
                        <span class="badge badge-info">No tiene productos agregados</span>
                    </td>
                    <td colspan="8" class="text-center" *ngIf="loading">
                        <span class="badge badge-info">Cargando...</span>
                    </td>
                    <tr *ngFor="let detalle of compra.detalles; let i=index">
                        <td class="text-center"> {{ i + 1 }} </td>
                        <td> {{ detalle.nombre_producto }} </td>
                        <td class="text-center">{{ detalle.costo | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ detalle.descuento | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ detalle.cantidad }}</td>
                        <td class="text-center">{{ detalle.total | currency:'USD':'symbol':'1.2' }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right"></td>
                        <td class="text-right"><b>Sub Total:</b></td>
                        <td class="text-center"><b>{{ compra?.subtotal | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right"></td>
                        <td class="text-right"><b>IVA:</b></td>
                        <td class="text-center"><b>{{ compra?.iva | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right"></td>
                        <td class="text-right"><b>Descuento:</b></td>
                        <td class="text-center"><b>{{ compra?.descuento | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right"></td>
                        <td class="text-right"><b>Retención:</b></td>
                        <td class="text-center"><b>{{ compra?.iva_retenido | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-right"></td>
                        <td class="text-right"><b>Total:</b></td>
                        <td class="text-center"><b>{{ compra?.total | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
