<div id="login-box" class="vh-100 bg-filter" style="background-image: url('assets/img/bg.jpeg'); background-size: cover; background-position: center center; height: 100vh; overflow: hidden;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <div class="form-input-content text-center">
                    <div class="card mb-1">
                        <div class="card-header text-center w-100">
                            <div style="font-size: 35px; color: #6c757d;"><img src="assets/img/logo.png" width="60px" alt="Logo Worder - Websis"> W<b>order</b></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                           <div class="col-md-12">
                                <h2 class="text-center no-margin">{{ saludo }}</h2>
                                <p class="login-box-msg text-info">Bienvenido</p>
                                <form name="form" autocomplete="off" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
                                    <div class="form-floating mb-3 has-feedback" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                        <input type="text" class="form-control" name="username" [(ngModel)]="user.username" #username="ngModel" placeholder="Usuario" required focus="true"/>
                                        <label for="floatingInput">Usuario</label>
                                    </div>
                                    <div class="form-floating mb-3 has-feedback" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                        <input [type]="showpassword ? 'text' : 'password'" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Contraseña" #password="ngModel" id="password" required />
                                        <label for="floatingInput">Contraseña</label>
                                        <div class="input-group-append d-flex" style="position: absolute; right: 5px; top:0px; bottom:0px;">
                                            <button class="btn" type="button" (click)="mostrarPassword()">
                                                <i class="fa" [ngClass]="{'fa-eye-slash': showpassword, 'fa-eye': !showpassword }"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="d-grid gap-1">
                                        <button type="submit" [disabled]="loading" class="btn btn-primary d-block">
                                            <span *ngIf="!loading">Iniciar sesión</span>
                                            <span *ngIf="loading">Verificando...</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/asistencia/marcador" class="btn btn-link">Marcar asistencia <i class="fa fa-angle-right"></i></a>
                            <p><a href="https://websis.me" target="_blank">Websis</a> &copy; {{ anio }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

