<app-admin-dash *ngIf="usuario.tipo == 'Administrador'"></app-admin-dash>
<app-caja-dash *ngIf="usuario.tipo == 'Cajero'"></app-caja-dash>
<app-mesero-dash *ngIf="usuario.tipo == 'Mesero'"></app-mesero-dash>
<app-vendedor-dash *ngIf="usuario.tipo == 'Vendedor'"></app-vendedor-dash>
<app-cocinero-dash *ngIf="usuario.tipo == 'Cocinero'"></app-cocinero-dash>
