<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Caja <small class="text-muted p-2"> Detalle</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/cajas">Cajas</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Caja</a></li>
        </ol>
    </div>
</div>

<div class="card mb-5">
    <div class="card-header border-bottom">
        <h3 class="card-title text-center">Caja: {{ caja.nombre }}</h3>
    </div>
    <div class="card-body">

        <div class="row" *ngIf="!loading || caja.id">
            <div *ngIf="apiService.auth_user().tipo == 'Administrador'">
                <h5 class="mb-3"><i class="fa fa-info-circle"></i> Información</h5>
                <form name="form" (ngSubmit)="onSubmitCaja()">
                    <div class="row">
                        
                        <div class="form-group col-md-3">
                              <label for="nombre">* Nombre:</label>
                              <input type="text" class="form-control" [(ngModel)]="caja.nombre" name="nombre" placeholder="Nombre" required focus="true">
                        </div>
                        <div class="form-group col-md-3">
                              <label for="sucursal_id">* Sucursal:</label>
                              <select [(ngModel)]="caja.sucursal_id" class="form-control form-select" name="sucursal_id">
                                  <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                                      {{ sucursal.nombre }}
                                  </option>
                              </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="codigo">Cod Punto de Venta:</label>
                            <input type="text" class="form-control" [(ngModel)]="caja.codigo" name="codigo" placeholder="xxxx">
                        </div>
                        <div class="form-group col-md-3">
                              <label for="descripcion">Descripción:</label>
                              <input type="email" class="form-control" [(ngModel)]="caja.descripcion" name="descripcion" placeholder="Descripción">
                        </div>
                        <div class="col-md-12 mt-4">
                            <button [disabled]="loading" class="btn btn-primary float-end">
                                <span *ngIf="!loading">Guardar</span>
                                <span *ngIf="loading">Guardando...</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <h5 class="mb-3"><i class="fa fa-receipt"></i> Documentos</h5>
            <app-caja-documentos [caja]="caja"></app-caja-documentos>

            <div *ngIf="apiService.auth_user().tipo == 'Administrador'">
                <h5 class="mb-3"><i class="fa fa-file-invoice-dollar"></i> Historial de Cortes</h5>
                <app-caja-cortes></app-caja-cortes>
            </div>
        </div>

    </div>

</div>
