<button (click)="openModal(mrecargas)" class="btn btn-info tcla-F4" tooltip="Recargas">
    <i class="fa fa-cell-phone"></i> Recargas <small>(F4)</small>
</button>

<ng-template #mrecargas>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Recarga</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <form autocomplete="off">
            <div class="form-group col-sm-6">
                <select [(ngModel)]="producto" class="form-control" name="producto_id" (change)="agregarDetalle(); nombre = producto.nombre" focus="true">
                    <option *ngFor="let tel of telefonias.data" [ngValue]="tel">
                        {{ tel.nombre }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-3">
              <div class="radio-inline">
                <label> <input type="radio" name="optionsRadios" (click)="tipo = 'Recarga'"> Recarga </label>
              </div>
            </div>
            <div class="form-group col-sm-3">
              <div class="radio-inline">
                <label> <input type="radio" name="optionsRadios" (click)="tipo = 'Paquete'"> Paquete </label>
              </div>
            </div>            
            <div class="col-xs-12 mr-top" style="max-height: 350px; overflow-y: auto;">
                <ul class="list-group">
                  <a href="javascript:void(0);" (click)="setCantidad(producto)" class="list-group-item" *ngFor=" let producto of lista | filter:'nombre':nombre | filter:'tipo':tipo">
                    <span class="badge">{{producto.cantidad | currency:'USD':'symbol':'1.2'}}</span>
                    <b>{{producto.nombre}} <b>{{ producto.tipo }}</b></b> 
                  </a>
                </ul>
            </div>
        </form>
    </div>
  </div>
</ng-template>