<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Empleado <small class="text-muted p-2"> Detalle</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/empleados">Empleados</a></li>
            <li class="breadcrumb-item active"><a>Empleado</a></li>
        </ol>
    </div>
</div>

<section class="card">
    <div class="card-body">
        <form name="form" (ngSubmit)="onSubmit()">
            <!-- <div class="row justify-content-center">
                <div class="col-md-3">
                    <figure style="min-height: 150px;" class="img-thumbnail file-upload d-flex justify-content-center align-items-center" tooltip="Agregar imagen (jpg)">
                        <i *ngIf="!empleado.avatar && !preview" class="fa fa-image fa-2x text-muted"></i>
                        <img *ngIf="empleado.avatar && !preview" src="{{ apiService.baseUrl + '/img/' + empleado.avatar }}" height="100">
                        <img *ngIf="url_img_preview && preview" src="{{ url_img_preview }}" height="100">
                        <input type="file" name="img" (change)="setFile($event)" accept="image/jpeg, image/jpg">
                    </figure>
                </div>
            </div> -->
            <div class="row">
                <h4 class="my-3 font-weight-bold">Información personal</h4>
                <div class="form-group col-md-4 col-lg-4">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.nombre" name="nombre">
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="fecha_nacimiento">Fecha Nacimiento:</label>
                    <input type="date" class="form-control" [(ngModel)]="empleado.fecha_nacimiento" name="fecha_nacimiento">
                </div>
                <div class="form-group col-md-4 col-lg-2">
                    <label>Genero:</label>
                    <select name="genero" class="form-control form-select" [(ngModel)]="empleado.genero">
                        <option value="Mujer">Mujer</option>
                        <option value="Hombre">Hombre</option>
                        <option value="Exportación">Exportación</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="dui">DUI:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.dui" name="dui">
                </div>
                <div class="form-group col-md-3">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.telefono" name="telefono">
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="correo">Correo:</label>
                    <input type="email" class="form-control" [(ngModel)]="empleado.correo" name="correo">
                </div>
                <div class="form-group col-md-3">
                    <label for="municipio">Municipio:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.municipio" name="municipio">
                </div>
                <div class="form-group col-md-3">
                    <label for="departamento">Departamento:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.departamento" name="departamento">
                </div>
                <div class="form-group col-md-3">
                    <label for="direccion">Dirección:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.direccion" name="direccion">
                </div>
                <div class="form-group col-md-3">
                    <label for="pais">Pais:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.pais" name="pais">
                </div>
                <div class="form-group col-md-3">
                    <label for="nacionalidad">Nacionalidad:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.nacionalidad" name="nacionalidad">
                </div>
                <div class="form-group col-md-3">
                    <label>Activo </label>
                    <input type="checkbox" class="form-check" [(ngModel)]="empleado.activo" name="activo">
                </div>
            </div>
            <div class="row">
                <h4 class="my-3 font-weight-bold">Información laboral</h4>
                <div class="form-group col-md-3">
                    <label for="cargo_id" class="w-100">Puesto de trabajo:</label>
                    <div class="input-group">
                        <select [(ngModel)]="empleado.cargo_id" class="form-control form-select" name="cargo_id">
                            <option [value]="cargo.id" *ngFor="let cargo of cargos">{{ cargo.nombre }}</option>
                        </select>
                        <app-crear-cargo-empleado (update)="setCargo($event)"></app-crear-cargo-empleado>
                    </div>
                </div>
                <div class="form-group col-md-4 col-lg-2">
                    <label for="fecha_inicio">Fecha de inicio:</label>
                    <input type="date" class="form-control" [(ngModel)]="empleado.fecha_inicio" name="fecha_inicio">
                </div>
                <div class="form-group col-md-4 col-lg-2">
                    <label for="estado">Estado:</label>
                    <select name="estado" class="form-control form-select" [(ngModel)]="empleado.estado">
                        <option value="Tiempo completo">Tiempo completo</option>
                        <option value="Medio tiempo">Medio tiempo</option>
                        <option value="Temporal">Temporal</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="tipo_salario">Tipo de salario:</label>
                    <select name="tipo_salario" class="form-control form-select" [(ngModel)]="empleado.tipo_salario">
                        <option value="Semanal">Semanal</option>
                        <option value="Quincenal">Quincenal</option>
                        <option value="Mensual">Mensual</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-2">
                    <label for="sueldo">Salario base:</label>
                    <input type="number" class="form-control" [(ngModel)]="empleado.sueldo" name="sueldo">
                </div>

            </div>
            <div class="row" *ngIf="empleado.cargo_id == 1">
                <h4 class="my-3 font-weight-bold">Información de conducir</h4>
                <div class="form-group col-md-4 col-lg-4">
                    <label for="num_licencia">Número de licencia:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.num_licencia" name="num_licencia">
                </div>
                <div class="form-group col-md-4 col-lg-4">
                    <label for="fecha_vencimiento">Fecha Vencimiento:</label>
                    <input type="date" class="form-control" [(ngModel)]="empleado.fecha_vencimiento" name="fecha_vencimiento">
                </div>
                <div class="form-group col-md-4 col-lg-4">
                    <label for="tipo_licencia">Tipo de licencia:</label>
                    <select name="genero" class="form-control form-select" [(ngModel)]="empleado.tipo_licencia">
                        <option value="Juvenil">Juvenil</option>
                        <option value="Particular">Particular</option>
                        <option value="Liviana">Liviana</option>
                        <option value="Motocicletas">Motocicletas</option>
                        <option value="Pesada">Pesada</option>
                        <option value="Pesada-T">Pesada-T</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <h4 class="my-3 font-weight-bold w-100">Deducciones</h4>
                <div class="form-group col-4 col-lg-3">
                    <label>ISSS </label>
                    <input type="checkbox" class="form-check" [(ngModel)]="empleado.isss" name="isss">
                </div>
                <div class="form-group col-4 col-lg-3">
                    <label>AFP </label>
                    <input type="checkbox" class="form-check" [(ngModel)]="empleado.afp" name="afp">
                </div>
                <div class="form-group col-4 col-lg-3">
                    <label>Renta </label>
                    <input type="checkbox" class="form-check" [(ngModel)]="empleado.renta" name="renta">
                </div>
            </div>
            <div class="row">
                <h4 class="my-3 font-weight-bold w-100">Comisiones por venta</h4>
                <div class="form-group col-6 col-md-3">
                    <label>Tipo de comisión </label>
                    <select class="form-select" (change)="setTipoComision()" [(ngModel)]="empleado.tipo_comision" name="tipo_comision">
                        <option value="Ninguna">Ninguna</option>
                        <option value="Porcentaje">Porcentaje</option>
                        <option value="Monto Fijo">Monto Fijo</option>
                    </select>
                </div>
                <div class="form-group col-6 col-md-3">
                    <label>Comisión </label>
                    <div class="input-group">
                        <span *ngIf="empleado.tipo_comision == 'Monto Fijo'" class="input-group-text">$</span>
                        <input type="number" class="form-control" [(ngModel)]="empleado.comision" name="comision">
                        <span *ngIf="empleado.tipo_comision == 'Porcentaje'" class="input-group-text">%</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <h4 class="my-3 font-weight-bold">Persona de contacto en caso de emergencias</h4>
                <div class="form-group col-md-4 col-lg-4">
                    <label for="contacto_nombre">Nombre:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.contacto_nombre" name="contacto_nombre">
                </div>
                <div class="form-group col-md-4 col-lg-4">
                    <label for="contacto_telefono">Teléfono:</label>
                    <input type="text" class="form-control" [(ngModel)]="empleado.contacto_telefono" name="contacto_telefono">
                </div>

            </div>
            <div class="row mt-3">
                <h4 class="my-3 font-weight-bold">Observaciones y notas</h4>
                <div class="form-group col-md-12">
                    <textarea placeholder="Cualquier comentario adicional" name="nota" [(ngModel)]="empleado.nota" class="form-control" cols="30" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" [disabled]="loading" class="btn btn-primary tcla-F10 float-right" tooltip="Guardar (F10)">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </form>
    </div>
</section>

<app-empleado-cuenta *ngIf="empleado.id" [empleado]="empleado"></app-empleado-cuenta>
<app-empleado-documentos *ngIf="empleado.id" [empleado]="empleado"></app-empleado-documentos>
<!-- <app-empleado-fletes *ngIf="empleado.id" [empleado]="empleado"></app-empleado-fletes> -->

<app-empleado-metas *ngIf="empleado.id"></app-empleado-metas>

