<div class="d-flex">
    <input id="lector" autocomplete="off" type="text" name="codigo" class="form-control" placeholder="Codigo de producto" [(ngModel)]="codigo" focus="true" (focus)="codigo = ''">
    <input id="cantidad" style="width: 10%;" type="number" name="cantidad" class="form-control" [(ngModel)]="cantidad">
</div>

<ng-template #mproductos>
  <div class="modal-header">
    <h3 class="modal-title text-center">Productos</h3>
  </div>
  <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 mr-top" style="max-height: 350px; overflow-y: auto;">
                <a *ngIf="productos?.length < 1 && !loading" href="javascript:void(0);" class="list-group-item text-center min-height">
                    <!-- <span class="label label-info">Busque productos por su nombre o codigo</span> -->
                    <br><br>
                    <i class="fa fa-cubes fa-5x text-muted"></i>
                    <br><br>
                  </a>
                <a *ngIf="productos?.length < 1 && loading" href="javascript:void(0);" class="list-group-item text-center">
                  <span class="label label-info">Cargando...</span>
                </a>
                <ul class="list-group" *ngIf="productos?.length > 0">
                  <a href="javascript:void(0);" (click)="selectProducto(producto)" class="list-group-item" *ngFor=" let producto of productos ; let i = index">
                    <span class="badge" style="background-color: #f44336;" *ngIf="producto.promocion">{{producto.promocion.precio | currency:'USD':'symbol':'1.2'}}</span>
                    <span class="badge">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                    <b style="margin-right: 15px;">{{ i }} {{producto.nombre}}</b> 
                    <small class="text-muted">{{producto.categoria}}</small>
                  </a>
                </ul>
            </div>
        </div>
  </div>
</ng-template>
