<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Asistencias <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/asistencias">Asistencias</a></li>
        </ol>
    </div>
</div>

<div class="card">

    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="asistencias?.total"> {{ asistencias?.total + ' registros' }} </span>

        <div class="input-group float-end w-50">
            <input type="text" name="search" placeholder="Buscar" focus="true" class="form-control" #box (keyup.enter)="search(box.value)">
            <button tooltip="Buscar" (click)="search(box.value)" class="btn btn-default"><i class="fa fa-search"></i></button>
            <button tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
            <button tooltip="Filtrar" (click)="openFilter(mfilter)" class="btn btn-default tcla-F8"><i class="fa fa-filter"></i></button>
            <button (click)="asistenciaDiaria()" class="btn btn-default" tooltip="Asistencia diaria"><i class="fa fa-print"></i></button>
            <button (click)="asistenciaMensual()" class="btn btn-default" tooltip="Asistencia mensual"><i class="fa fa-print"></i></button>
            <button routerLink="/asistencia/nuevo" tooltip="Agregar asistencia" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button>
        </div>
    </div>            
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Empleado</th>
                        <th>Entrada</th>
                        <th>Salida</th>
                        <th>Estado</th>
                        <th class="text-center">Horas</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="asistencias?.total < 1 && !loading">
                            <span class="badge badge-primary">No tiene asistencias registradas</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge badge-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let asistencia of asistencias?.data">
                        <td>{{ asistencia.fecha | date:'dd/M/yyyy' }}</td>
                        <td>{{ asistencia.nombre_empleado }}</td>
                        <td>{{ asistencia.entrada }}</td>
                        <td>{{ asistencia.salida }}</td>
                        <td>
                            <span class="badge click" [ngClass]="{'badge-dark' : asistencia.estado == 'Vacación', 'badge-info' : asistencia.estado == 'Permiso', 'badge-danger' : asistencia.estado == 'Falta', 'badge-success' : asistencia.estado == 'Asistencia'}">
                                {{asistencia.estado}}
                            </span>
                        </td>
                        <td class="text-center">{{ asistencia.horas }}</td>
                        <td class="text-center">
                            <div role="group" class="btn-group">
                                <a tooltip="Eliminar" class="btn btn-default" (click)="delete(asistencias.id)">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a class="btn btn-default" routerLink="/asistencia/{{ asistencia.id }}" data-toggle="tooltip" tooltip="Editar">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="">Empleado:</label>
                <ng-select name="empleado_id" [(ngModel)]="filtro.empleado_id">
                    <ng-option *ngFor="let empleado of empleados" [value]="empleado.id">
                        {{empleado.nombre}}
                    </ng-option>
                </ng-select>
            </div>

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
