.large{
    font-size: 60px;
}

.navbar.navbar-transparent {
    background-color: transparent !important;
    background: transparent !important;
    box-shadow: none;
    padding-top: 25px;
    color: #fff;
}

.logo img{
    border: 1 px solid;
    border-radius: 50%;
    background: white;
    padding: 2px;
}

.navbar.navbar-transparent .logo img{
    border: 0 px solid;
    background: transparent;
    padding: 0px;
}

.navbar {
    background: linear-gradient(45deg ,rgb(156,39,176,.1),rgb(0,188,212,.3)) !important;
    background-color: #252429 !important;
    /*background: -webkit-linear-gradient(135deg ,rgb(156,39,176),rgb(0,188,212,)) !important;*/
    color: #fff;
}


.header-filter:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background: linear-gradient(45deg ,rgba(156,39,176,.5),rgba(0,188,212,.5));
}

.color-filter{
    background: linear-gradient(45deg ,rgba(156,39,176,.7),rgba(0,188,212,.7));
}

.h5, h5 {
    font-size: 1.2rem;
}

p {
    font-size: 18px;
}

footer ul li a {
    font-size: 14px;
}

.main-raised{
    margin: -60px 90px 0;
}

@media (max-width: 830px){
    .main-raised {
        margin-left: 10px;
        margin-right: 10px;
    }
}
