<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Sucursal <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/sucursales">Sucursales</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Sucursal</a></li>
        </ol>
    </div>
</div>

<div class="card mb-5">
    <div class="card-body">
        <div class="row" *ngIf="!sucursal">
            <div class="text-muted text-center thumbler">
              Cargando...
            </div>
        </div>

        <div class="row" *ngIf="sucursal">   
            <div class="col-12 text-center">
                <h3 class="mb-3">{{ sucursal.nombre }}</h3>
            </div>
            <div class="col-md-12">
                <tabset #staticTabs type="pills" [justified]="true">
                    <tab class="pt-3">
                        <ng-template tabHeading>
                            <i class="fa fa-info-circle"></i> Información
                        </ng-template>
                        <div class="card">
                            <div class="card-body">
                                <form name="form" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                        <div class="form-group col-sm-3">
                                            <label for="">Nombre:</label>
                                            <input type="text" class="form-control" name="sucursal.nombre" [(ngModel)]="sucursal.nombre" focus="true"/>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label for="">Municipio:</label>
                                            <input type="text" class="form-control" name="sucursal.municipio" [(ngModel)]="sucursal.municipio"/>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label for="">Departamento:</label>
                                            <input type="text" class="form-control" name="sucursal.departamento" [(ngModel)]="sucursal.departamento"/>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label for="">Telefono:</label>
                                            <input type="tel" class="form-control" name="sucursal.telefono" [(ngModel)]="sucursal.telefono"/>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label for="">Correo:</label>
                                            <input type="email" class="form-control" name="sucursal.correo" [(ngModel)]="sucursal.correo"/>
                                        </div>
                                        <div class="form-group col-sm-9">
                                            <label for="">Dirección:</label>
                                            <input type="text" class="form-control" name="sucursal.direccion" [(ngModel)]="sucursal.direccion"/>
                                        </div>
                                        <div class="form-group col-md-12 mt-3">
                                            <button [disabled]="loading" class="btn btn-primary float-end">
                                                <span *ngIf="!loading">Guardar</span>
                                                <span *ngIf="loading">Guardando...</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </tab>
                    <tab class="pt-3">
                        <ng-template tabHeading>
                            <i class="fa fa-users"></i> Usuarios
                        </ng-template>
                        <div class="row">
                            <app-sucursal-usuarios [sucursal]="sucursal"></app-sucursal-usuarios>
                        </div>
                    </tab>
                    <tab class="pt-3">
                        <ng-template tabHeading>
                            <i class="fa fa-inbox"></i> Bodegas
                        </ng-template>
                        <div class="row">
                            <app-bodegas [sucursal]="sucursal"></app-bodegas>
                        </div>
                    </tab>
                    <tab class="pt-3">
                        <ng-template tabHeading>
                            <i class="fa fa-network-wired"></i> Departamentos
                        </ng-template>
                        <div class="row">
                            <app-departamentos [sucursal]="sucursal"></app-departamentos>
                        </div>
                    </tab>
                    <tab class="pt-3">
                        <ng-template tabHeading>
                            <i class="fa fa-cash-register"></i> Cajas
                        </ng-template>
                        <div class="row">
                            <app-cajas [sucursal]="sucursal"></app-cajas>
                        </div>
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>

