
<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Inventario <small class="text-muted p-2" *ngIf="!loading"> {{productos?.data[0]?.nombre_bodega}}</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/bodegas">Bodegas</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Productos</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="productos?.total">{{ productos?.total + ' registros' }}</span>

        <form name="form" (ngSubmit)="search()" autocomplete="off">
        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <div class="input-group-btn">
                <button type="submit" tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
                <button type="button" tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
                <a tooltip="Filtrar" (click)="openFilter(mfilter)" class="btn btn-default tcla-F8"><i class="fa fa-filter"></i></a>
                <button  *ngIf="filtrado && productos?.total" (click)="imprimir()" class="btn btn-default" tooltip="Imprimir">
                    <i class="fa fa-print"></i>
                </button>
                <app-descargar-excel *ngIf="filtrado && productos?.total" [nombre]="'Productos'"></app-descargar-excel>
                <app-importar-excel (loadAll)="loadAll()" [nombre]="'Productos'"></app-importar-excel>
            </div>
        </div>
        </form>

    </div>

    <div class="table-responsive">
        <table class="table table-borderless table-hover mb-0">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Categoria</th>
                    <th class="text-center">Stock Min</th>
                    <th class="text-center">Stock Max</th>
                    <th class="text-center">Stock Actual</th>
                    <th class="text-center"><i class="fa fa-cog"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8" class="text-center" *ngIf="productos?.total < 1 && !loading">
                        <span class="badge badge-info">No tiene bodega registrados</span>
                    </td>
                    <td colspan="8" class="text-center" *ngIf="loading">
                        <span class="badge badge-info">Cargando...</span>
                    </td>
                </tr>

                <tr *ngFor=" let inventario of productos?.data">
                    
                    <td><a routerLink="/producto/'{{ inventario.producto_id }}">{{ inventario.producto.nombre }}</a></td>
                    <td>{{ inventario.producto.nombre_categoria }} &rsaquo; {{ inventario.producto.nombre_subcategoria }}</td>
                    <td class="text-center">{{ inventario.stock_min | number:'1.0'}}</td>
                    <td class="text-center">{{ inventario.stock_max | number:'1.0'}}</td>
                    <td class="text-center" [ngClass]="{ 'text-danger' : inventario.stock * 1 < inventario.stock_min * 1 }">{{ inventario.stock | number:'1.0'}} </td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a class="btn btn-default"  (click)="openModal(minventario, inventario)" tooltip="Editar">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            <app-ajuste [producto]="inventario.producto" [inventario]="inventario" (setAjuste)="setAjuste($event)"></app-ajuste>
                            <a class="btn btn-default" routerLink="/kardex/{{ inventario.producto_id }}" tooltip="Kardex">
                                <i class="fa fa-list-alt"></i>
                            </a>
                        </div>  
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="card-footer" *ngIf="productos?.last_page > 1">
            <div class="d-flex justify-content-center">
                <app-pagination [items]="productos" (setPagination)="setPagination($event)"></app-pagination>
            </div>
        </div>
    </div>

</div>

<ng-template #minventario>
  <div class="modal-header">
    <h3 class="modal-title text-center">{{producto.producto.nombre}}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="mb-3 col-md-6">
            <label for="nota">Stock Minimo:</label>
            <input type="number" class="form-control" [(ngModel)]="producto.stock_min" name="nota" placeholder="Stock minimo" focus="true">
        </div>
        <div class="mb-3 col-md-6">
            <label for="stock_max">Stock deseado:</label>
            <input type="number" name="stock_max" [(ngModel)]="producto.stock_max" placeholder="Stock deseado" class="form-control">
        </div>
        <div class="mb-3 col-md-12">
            <label for="ubicacion">Ubicación:</label>
            <input type="text" class="form-control" [(ngModel)]="producto.ubicacion" name="ubicacion" placeholder="Ubicación">
        </div>
        
        <div class="col-12 mt-5">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !producto.stock_min || !producto.producto_id">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </div>
    </form>
  </div>
</ng-template>

<ng-template #majuste>
  <div class="modal-header">
    <h3 class="modal-title text-center">{{ producto.producto.nombre }}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmitAjuste()" autocomplete="off">
        <div class="row text-center">

            <div class="form-group col-xs-12">
                <label for="stock_inicial">Stock Actual:</label>
                <p> {{ ajuste.stock_inicial}}</p>
            </div>

            <div class="form-group col-xs-12">
                <label for="stock_final">Stock Real:</label>
                <input type="number" min="1" class="form-control" [(ngModel)]="ajuste.stock_final" name="stock_final" focus="true">
            </div>
            
            <div class="form-group col-xs-12">
                <label for="ajuste">Ajuste:</label>
                <p *ngIf="ajuste.stock_final"> {{ ajuste.stock_final - ajuste.stock_inicial }}</p>
                <p *ngIf="!ajuste.stock_final"> 0</p>
            </div>

            <div class="form-group col-xs-12">
                <label for="nota">Nota:</label>
                <input type="text" class="form-control" [(ngModel)]="ajuste.nota" name="nota" placeholder="Nota">
            </div>

        </div>
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !ajuste.stock_inicial || !ajuste.stock_final">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>

    </form>
  </div>
</ng-template>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">
            <div class="form-group col-sm-12">
                <label for="filtro.subcategorias_id">Seleccione una o más categorias:</label>
                <!-- <p>
                    <input type="radio" name="categorias" (click)="filtro.categorias_id = [2,3,4,5,6,7,8,9,10,11,12,13,14,15]">Tienda &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="categorias" (click)="filtro.categorias_id = [1,16,17,18,19]">Gasolinera
                </p> -->

                <select [(ngModel)]="filtro.subcategorias_id" class="form-control form-select" name="filtro.subcategorias_id" multiple style="height: 250px;">
                    <optgroup label="{{ categoria.nombre }}" *ngFor="let categoria of categorias">
                        <option [value]="sub.id" *ngFor="let sub of categoria.subcategorias">{{ sub.nombre }}</option>
                      </optgroup>
                </select>

            </div>
            <div class="form-group col-sm-6">
                <label for="filtro.stock_bodega">Inventario bajo:</label>
                <input type="checkbox" [(ngModel)]="filtro.stock_bodega" class="form-check" name="filtro.stock_bodega">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
