<div class="row">
    <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row justify-content-between">
                    <div class="col py-4">
                        <h3 class="text-success">{{ (dash?.suma_ordenes ? dash?.suma_ordenes: 0 ) | currency:'USD':'symbol':'1.2' }}</h3>
                        <h5 class="text-success mb-3"><i class="fa fa-money-bill-trend-up"></i> Ventas</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row justify-content-between">
                    <div class="col py-4">
                        <h3 class="text-secondary">{{ (dash?.cantidad_ordenes ? dash?.cantidad_ordenes : 0) | number:'1.0' }}</h3>
                        <h5 class="text-secondary mb-3"><i class="fa fa-money-bill"></i> Ordenes</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row justify-content-between">
                    <div class="col py-4">
                        <h3 class="text-primary">{{ (dash?.tproductos ? dash?.tproductos : 0) | number:'1.0' }}</h3>
                        <h5 class="text-primary mb-3"><i class="fa fa-list-alt"></i> Productos vendidos</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row justify-content-between">
                    <div class="col py-4">
                        <h3 class="text-warning">{{ (dash?.tclientes ? dash?.tclientes : 0) | number:'1.0' }}</h3>
                        <h5 class="text-warning mb-3"><i class="fa fa-users"></i> Clientes nuevos</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
