<div class="nk-sidebar" style="width: 100%; top: 15px; right: 0px;">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>
            <li>
                <a routerLink="/" aria-expanded="false"><i class="icon-chart"></i> <span class="nav-text">Dashboard</span></a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer"></i><span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="index.html">Admin Overview</a></li>
                    <li><a href="index-2.html">Custommer Overview</a></li>
                    <li><a href="index-3.html">Employee Overview</a></li>
                    <li><a href="restaurant-menus.html">Menus</a></li>
                    <li><a href="restaurant-offers.html">Offer</a></li>
                    <li><a href="restaurant-reservation.html">Reservation</a></li>
                    <li><a href="restaurant-employees.html">Employees</a></li>
                    <li><a href="restaurant-custommer.html">Custommer</a></li>
                    <li><a href="restaurant-order.html">Order</a></li>
                    <li><a href="restaurant-packages.html">Packages</a></li>
                    
                </ul>
            </li>

            <li class="nav-label">Apps</li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="icon-screen-smartphone"></i><span class="nav-text">Apps</span></a>
                <ul aria-expanded="false">
                    <li><a href="email-inbox.html">Mailbox</a></li>
                    <li><a href="app-profile.html">Profile</a></li>
                    <li><a href="app-calender.html">Calendar</a></li>
                </ul>
            </li>

            <li class="nav-label">Clientes</li>
            <li>
                <a routerLink="/clientes" aria-expanded="false"><i class="icon-diamond"></i>
                    <span class="nav-text">Clientes</span>
                </a>
            </li>
            <li>
                <a href="components.html" aria-expanded="false"><i class="icon-puzzle"></i><span class="nav-text">Components</span></a>
            </li>
            
        </ul>
    </div>
</div>
