<button type="button" (click)="openModal(mcliente)" title="Buscar o editar cliete (F1)" class="btn btn-default float-right tcla-F1">
    <i class="fa fa-pencil-alt"></i>
</button>
<ng-template #mcliente>
  <div class="modal-header text-center">
    <h3 class="modal-title">Cliente</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(cliente)">
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="cantidad" class="w-100">* Nombre: 
                <span class="text-primary float-right" *ngIf="searching"> Buscando... </span>
                <span class="text-primary float-right" *ngIf="!searching && clientes?.data?.length"> {{ clientes?.data?.length }} registros</span>
            </label>
            <form autocomplete="off" class="buscador">
                <input id="cliente" type="text" name="cliente.nombre" class="form-control" placeholder="Buscar por nombre, dui, nrc..." [(ngModel)]="cliente.nombre" focus="true" id="example" required>
                <button title="Limpiar" class="btn btn-default clear" *ngIf="cliente.id" (click)="clear()"><i class="fa fa-close"></i></button>
                <ul class="list-group" *ngIf="clientes?.total > 0">
                    <a href="javascript:void(0);" class="list-group-item" (click)="nuevoCliente()">Crear como nuevo</a>
                    <a href="javascript:void(0);" class="list-group-item" (click)="selectCliente(cliente)" *ngFor=" let cliente of clientes?.data">
                        {{cliente.nombre}} <span *ngIf="cliente.registro" class="text-info cliente.registro float-right"> NCR: {{cliente.registro}}</span>
                    </a>
                </ul>
            </form>
        </div>

        <div class="form-group col-sm-6 col-lg-4">
            <label for="registro">Registro:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.registro" name="registro" placeholder="xxxx-x" id="registro">  
        </div>
        <div class="form-group col-sm-6 col-lg-4">
            <label for="giro">Giro:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.giro" name="giro" placeholder="Giro">
        </div>
        <div class="form-group col-sm-6 col-lg-4">
            <label for="dui">Número de identificación:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.dui" name="dui" [dropSpecialCharacters]="false" mask='00000000-0' placeholder="xxxxxxx-x">
        </div>
        <div class="form-group col-sm-6 col-lg-4">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.telefono" [dropSpecialCharacters]="false" name="telefono" mask='0000-0000' placeholder="0000-0000">
        </div>
        <div class="form-group col-sm-6 col-lg-4">
            <label for="correo">Correo:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.correo" name="correo" placeholder="Correo">
        </div>
        <div class="form-group col-sm-6 col-lg-4">
            <label for="municipio">Municipio:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.municipio" name="municipio" placeholder="Municipio">
        </div>
        <div class="form-group col-sm-6 col-lg-4">
            <label for="departamento">Departamento:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.departamento" name="departamento" placeholder="Departamento">
        </div>
        <div class="form-group col-sm-12 col-lg-8">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.direccion" name="direccion" placeholder="Dirección">
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block tcla-F12"  [disabled]="!cliente.nombre">
                <span *ngIf="!loading">Guardar <small>(F12)</small> </span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </div>
    </form>
  </div>
</ng-template>
