<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Usuario <small class="text-muted p-2"> Detalle</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/usuarios">Usuarios</a></li>
            <li class="breadcrumb-item active">Usuario</li>
        </ol>
    </div>
</div>

<form name="form" (ngSubmit)="onSubmit()">
<section class="card">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <figure style="min-height: 100px;" class="img-thumbnail file-upload d-flex justify-content-center align-items-center" tooltip="Agregar">
                    <i *ngIf="!usuario.avatar && !preview" class="fa fa-image fa-2x text-muted"></i>
                    <img *ngIf="usuario.avatar && !preview" src="{{ apiService.baseUrl + '/img/' + usuario.avatar }}" height="100">
                    <img *ngIf="url_img_preview && preview" src="{{ url_img_preview }}" height="100">
                    <input type="file" name="img" (change)="setFile($event)" accept="image/png, image/jpeg, image/jpg">
                </figure>
            </div>
        </div>
        <div class="row">
            <h5 class="my-3">Información</h5>   
                <div class="form-group col-md-4 col-lg-3">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" [(ngModel)]="usuario.name" name="nombre" placeholder="Nombre" focus="true">
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="tipo">Tipo:</label>
                    <select name="tipo" [(ngModel)]="usuario.tipo" class="form-control form-select">
                    	<option value="Administrador">Administrador</option>
                        <option value="Supervisor">Supervisor</option>
                    	<option value="Vendedor">Vendedor</option>
                        <option value="Cajero">Cajero</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="codigo">Codigo para autorizaciones:</label>
                    <input type="password" class="form-control" [(ngModel)]="usuario.codigo" name="codigo" placeholder="Código para autorizaciones">
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="sucursal_id">Sucursal:</label>
                    <select [(ngModel)]="usuario.sucursal_id" class="form-control form-select" name="sucursal_id">
                        <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                            {{ sucursal.nombre }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="empleado_id">Empleado:</label>
                    <select [(ngModel)]="usuario.empleado_id" class="form-control form-select" name="empleado_id">
                        <option *ngFor="let empleado of empleados" [value]="empleado.id">
                            {{ empleado.nombre }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label>Esta activo </label>
                    <input type="checkbox" class="form-check" [(ngModel)]="usuario.activo" name="activo">
                </div>

            <h5 class="my-3">Facturación</h5>   
                <div class="form-group col-md-4 col-lg-3">
                    <label for="caja_id">Caja:</label>
                    <select [(ngModel)]="usuario.caja_id" class="form-control form-select" name="caja_id">
                        <option *ngFor="let caja of cajas" [value]="caja.id">
                            {{ caja.nombre }} - {{ caja.nombre_sucursal }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="bodega_id">Bodega:</label>
                    <select [(ngModel)]="usuario.bodega_id" class="form-control form-select" name="bodega_id">
                        <option *ngFor="let bodega of bodegas" [value]="bodega.id">
                            {{ bodega.nombre }} - {{ bodega.nombre_sucursal }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label>Vender sin Stock </label>
                    <input type="checkbox" class="form-check" [(ngModel)]="usuario.vender_sin_stock" name="vender_sin_stock">
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label>Editar precio </label>
                    <input type="checkbox" class="form-check" [(ngModel)]="usuario.editar_precio" name="editar_precio">
                </div>


        </div>

        <h5 class="my-3">Datos para inicio de sesión</h5>
        <div class="row">
            <div class="form-group col-md-4 col-lg-3">
                <label for="username">Usuario:</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.username" name="username" placeholder="Usuario" required>
            </div>
            <div class="form-group col-md-4 col-lg-3">
              <label for="password">Contraseña:</label>
              <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password" placeholder="Ingrese una contraseña para reemplazar la actual">
            </div>
            <div class="form-group col-md-4 col-lg-3">
              <label for="password_confirmation">Confirmar contraseña:</label>
              <input type="password" class="form-control" [(ngModel)]="usuario.password_confirmation" name="password_confirmation" placeholder="Confirme la contraseña">
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button [disabled]="loading" class="btn btn-primary float-end tcla-F10" tooltip="Guardar (F10)">
            <span *ngIf="!loading">Guardar</span>
            <span *ngIf="loading">Guardando...</span>
        </button>
    </div>
</section>

</form>


<div class="card mb-3" *ngIf="usuario.ultimo_login">
    <div class="card-body">
        <div class="row">
            <h5 class="col-12 pb-2 mb-2">Datos</h5>
            <div *ngIf="usuario.created_at" class="form-group col-md-6 col-lg-3">
                <label for="pais">Creado:</label>
                <p>{{ usuario.created_at | date:'d/M/y h:m:s a' }}</p>
            </div>
            <div *ngIf="usuario.updated_at" class="form-group col-md-6 col-lg-3">
                <label for="pais">Actualizado:</label>
                <p>{{ usuario.updated_at | date:'d/M/y h:m:s a' }}</p>
            </div>
            <div *ngIf="usuario.ultimo_login" class="form-group col-md-6 col-lg-3">
                <label for="pais">Último login:</label>
                <p>{{ usuario.ultimo_login | date:'d/M/y h:m:s a' }} ({{ usuario.ultimo_login_human}})</p>
            </div>
        </div>

    </div>
</div>
