<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Cajas Chicas <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Cajas Chicas</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="cajaschicas?.total">
            {{ cajaschicas?.total + ' registros' }}
            <span *ngIf="filtrado">{{ cajaschicas?.data | sum:'total' | currency:'USD':'symbol':'1.2'  }}</span>
        </span>

        <form name="form" (ngSubmit)="search()" autocomplete="off">
        <div class="btn-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <button tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
            <button tooltip="Actualizar (F5)" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
            <button (click)="openModal(mcajachica, {})" tooltip="Crear  cajachica (F7)" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button>
        </div>
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Sucursal</th>
                        <th>Usuario</th>
                        <th>Descripción</th>
                        <th class="text-center">Entradas</th>
                        <th class="text-center">Salidas</th>
                        <th class="text-center">Saldo</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="cajaschicas?.total < 1 && !loading">
                            <span class="badge badge-primary">No tiene cajaschicas registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge badge-primary">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let cajachica of cajaschicas?.data">
                        
                        <td>{{cajachica.created_at | date:'dd/MM/yyyy'}}</td>
                        <td> {{cajachica.nombre_sucursal }} </td>
                        <td>{{cajachica.nombre_usuario | truncate:30}}</td>
                        <td>{{cajachica.descripcion | truncate:'30'}}</td>
                        <td class="text-center">{{cajachica.entradas | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">{{cajachica.salidas | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">{{cajachica.saldo | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" (click)="delete(cajachica.id)" tooltip="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a class="btn btn-default" (click)="openModal(mcajachica, cajachica)" tooltip="Editar">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                                <a class="btn btn-default" routerLink="/caja-chica/{{cajachica.id}}" tooltip="Ver">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer" *ngIf="cajaschicas?.last_page > 1">
        <div class="d-flex justify-content-center">
            <app-pagination [items]="cajaschicas" (setPagination)="setPagination($event)"></app-pagination>
        </div>
    </div>
</div>

<ng-template #mcajachica>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Caja chica</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="cajachica.usuario">Encargado:</label>
                <select [(ngModel)]="cajachica.usuario_id" class="form-control form-select" name="cajachica.usuario_id">
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <label for="cajachica.sucursal">Sucursal:</label>
                <select [(ngModel)]="cajachica.sucursal_id" class="form-control form-select" name="cajachica.sucursal_id">
                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.id">
                        {{ sucursal.nombre }}
                    </option>
                </select>
            </div>

            <div class="form-group col-sm-12">
                <label for="">Descripción:</label>
                <input type="text" class="form-control" name="cajachica.descripcion" [(ngModel)]="cajachica.descripcion" focus="true"/>
            </div>

            <!-- <div class="form-group col-sm-6" *ngIf="cajachica.id">
                <label for="">Entradas:</label>
                <input type="number" class="form-control" name="cajachica.entradas" [(ngModel)]="cajachica.entradas"/>
            </div>


            <div class="form-group col-sm-6" *ngIf="cajachica.id">
                <label for="">Salidas:</label>
                <input type="number" class="form-control" name="cajachica.salidas" [(ngModel)]="cajachica.salidas"/>
            </div> -->

            <div class="form-group col-sm-12 mt-5">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Crear</span>
                    <span *ngIf="loading">Creando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
