<a class="btn btn-default" (click)="openModalAjuste(majuste)" tooltip="Ajustar stock en inventario">
    <i class="fa fa-sliders-h"></i>
</a>

<ng-template #majuste>
  <div class="modal-header d-block text-center">
    <h4 class="modal-title mb-0"> {{ inventario.nombre_bodega }} </h4>
    <button type="button" class="close" style="position: absolute; top: 15px; right:15px;" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmitAjuste()" autocomplete="off">
        <div class="row text-center">
            <p>{{ producto.nombre }}</p>
            <p><span class="badge badge-info">{{ ajuste.stock_inicial | number:'1.0' }} unidades</span></p>
            <div class="form-group col-md-12">
                <label for="stock_final">Ingrese la cantidad que debe haber en existencias:</label>
                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control text-center" [(ngModel)]="ajuste.stock_final" name="stock_final" focus="true">
            </div>
            
            <div class="form-groumdcol-xs-12" *ngIf="ajuste.stock_final">
                <label for="ajuste">Se realizá un ajuste de:</label>
                <p *ngIf="ajuste.stock_final"> {{ ajuste.stock_final - ajuste.stock_inicial }}</p>
                <p *ngIf="!ajuste.stock_final"> 0</p>
            </div>

            <div class="form-group col-md-12">
                <label for="nota">Nota:</label>
                <input type="text" class="form-control" [(ngModel)]="ajuste.nota" name="nota">
            </div>

        </div>
        <br><br>
        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loading || !ajuste.stock_final">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>

    </form>
  </div>
</ng-template>