<div class="row" *ngIf="dash?.ordenes?.length < 1 && loading">
    <div class="col-12 text-muted text-center thumbler">
      Cargando...
    </div>
</div>

<div class="row" *ngIf="dash?.ordenes?.length > 0">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lista de ordenes</h4>
                <div class="table-responsive" style="max-height: calc(100vh - 290px); overflow-y: auto;">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr style="cursor: pointer;" (click)="selectComanda(orden)" *ngFor="let orden of dash?.ordenes">
                                <td>Orden #{{ orden.id }}</td>
                                <td>Mesa: {{ orden.mesa }}</td>
                                <td>
                                    <span class="badge" [ngClass]="{ 
                                            'badge-default' : orden.estado == 'Creada', 
                                            'badge-danger' : orden.estado == 'Solicitada', 
                                            'badge-warning' : orden.estado == 'En Proceso', 
                                            'badge-success' : orden.estado == 'Entregada'} ">
                                        {{ orden.estado }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
