
<div class="card">
    <div class="card-header">
        <h4 class="mb-0">Resumen de ventas por cajas</h4>
    </div>
    <div class="card-body">
        <div class="row" style="min-height: 300px;">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-borderless table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center d-none d-md-table-cell">N° Ventas</th>
                                <th class="text-right">Total</th>
                                <th class="text-center"><i class="fa fa-cog"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="5" class="text-center" *ngIf="dash?.cajas?.length < 1">
                                    <span class="badge badge-info">No tiene cajas pendientes</span>
                                </td>
                            </tr>

                            <tr class="animated fadeIn" *ngFor=" let caja of dash?.cajas">
                                
                                <td>{{caja.nombre }} </td>
                                <td class="text-center">{{ caja.estado }}</td>
                                <td class="text-center d-none d-md-table-cell">{{caja.ventas_cantidad}}</td>
                                <td class="text-right">{{caja.ventas_suma | currency:'USD':'symbol':'1.2'}}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" routerLink="/admin/caja/{{caja.id}}" tooltip="Ver detalles">
                                        <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>  
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
</div>