<form name="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <h6 class="my-3 font-weight-bold">Información</h6>
        <div class="form-group col-md-12 col-lg-5">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre" placeholder="Nombre" required focus="true">
        </div>
        <div class="form-group col-md-6 col-lg-3">
            <label for="codigo">Código:</label>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="producto.codigo" name="codigo" placeholder="Código de barras" required>
                <span class="input-group-text" *ngIf="producto.codigo">
                    <a class="click" tooltip="Generar codigo de barra" (click)="barcode()"><i class="fa fa-barcode"></i></a>
                </span>
            </div>
        </div>
        <div class="form-group col-md-6 col-lg-2">
            <label for="sku">SKU:</label>
            <input type="text" class="form-control" [(ngModel)]="producto.sku" name="sku" placeholder="Código interno" required>
        </div>
        <div class="form-group col-md-6 col-lg-2">
            <label for="medida">Medida:</label>
            <input type="text" class="form-control" [(ngModel)]="producto.medida" name="medida" placeholder="Unidad, Lb, Cm etc." required>
        </div>

        <h6 class="my-3 font-weight-bold">Organización</h6>
        <div class="form-group col-md-6 col-lg-3">
            <label for="subcategoria_id" class="w-100">Categoria:</label>
            <div class="input-group">
                <ng-select [(ngModel)]="producto.categoria_id" (change)="onSelectCategoria(producto.categoria_id)" class="form-select p-0" name="categoria">
                    <ng-option *ngFor="let categoria of categorias" [value]="categoria.id">
                        {{ categoria.nombre }}
                    </ng-option>
                </ng-select>
                <app-crear-categoria (update)="setCategoria($event)"></app-crear-categoria>
            </div>
        </div>
        <div class="form-group col-md-6 col-lg-3">
            <label for="subcategoria_id" class="w-100">Sub Categoria:</label>
            <div class="input-group">
                <ng-select [(ngModel)]="producto.subcategoria_id" class="form-select p-0" name="subcategoria">
                    <ng-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id">
                        {{ subcategoria.nombre }}
                    </ng-option>
                </ng-select>
                <app-crear-subcategoria [categoria_id]="producto.categoria_id" (update)="setSubCategoria($event)"></app-crear-subcategoria>
            </div>
        </div>
        <div class="form-group col-md-6 col-lg-2">
            <label for="marca">Marca:</label>
            <input type="text" class="form-control" [(ngModel)]="producto.marca" name="marca" placeholder="Marca">
        </div>
        <div class="form-group col-md-6 col-lg-4">
            <label for="etiquetas">Etiquetas:</label>
            <tag-input theme='bootstrap' secondaryPlaceholder="Etiquetas" [separatorKeyCodes]="[32]" [(ngModel)]="producto.etiquetas" name="etiquetas"></tag-input>
        </div>
        <h6 class="my-3 font-weight-bold">Precio</h6>
        <div class="form-group col-md-4 col-lg-2">
            <label for="costo">Costo:</label>
            <input type="number" class="form-control" [(ngModel)]="producto.costo" name="costo" placeholder="$0.00" required>
        </div>
        <div class="form-group col-md-4 col-lg-2">
            <label for="precio">Precio:</label>
            <input type="number" class="form-control" (keyup)="calPrecioFinal()" [(ngModel)]="producto.precio" name="precio" placeholder="$0.00" required>
        </div>
        <div class="form-group col-md-4 col-lg-2">
            <label for="tipo_impuesto">Tipo Impuesto:</label>
            <select class="form-select" (change)="calPrecioFinal()" [(ngModel)]="producto.tipo_impuesto" name="tipo_impuesto">
                <option value="No Sujeta">No Sujeta</option>
                <option value="Exenta">Exenta</option>
                <option value="Gravada">Gravada</option>
            </select>
        </div>
        <div class="form-group col-md-4 col-lg-2" *ngIf="producto.tipo_impuesto == 'Gravada'">
            <label for="impuesto">Impuesto:</label>
            <select class="form-select" (change)="calPrecioFinal()" [(ngModel)]="producto.impuesto" name="impuesto">
                <option value="0.00">Ninguno</option>
                <option value="0.13">13%</option>
            </select>
        </div>
        <div class="form-group col-md-4 col-lg-2" *ngIf="producto.tipo_impuesto == 'Gravada'">
            <label for="precio_final">Precio Final:</label>
            <input type="number" class="form-control" (keyup)="calPrecioBase()" [(ngModel)]="producto.precio_final" name="precio_final">
        </div>
        <h6 class="my-3 font-weight-bold w-100">Comisiones por venta</h6>
        <div class="form-group col-6 col-md-3">
            <label>Tipo de comisión </label>
            <select class="form-select" (change)="setTipoComision()" [(ngModel)]="producto.tipo_comision" name="tipo_comision">
                <option value="Ninguna">Ninguna</option>
                <option value="Porcentaje">Porcentaje</option>
                <option value="Monto Fijo">Monto Fijo</option>
            </select>
        </div>
        <div class="form-group col-6 col-md-3">
            <label>Comisión </label>
            <div class="input-group">
                <span *ngIf="producto.tipo_comision == 'Monto Fijo'" class="input-group-text">$</span>
                <input type="number" class="form-control" [(ngModel)]="producto.comision" name="comision">
                <span *ngIf="producto.tipo_comision == 'Porcentaje'" class="input-group-text">%</span>
            </div>
        </div>
        <div class="form-group col-lg-12">
            <label for="descripcion">Descripción:</label>
            <textarea class="form-control" [(ngModel)]="producto.descripcion" name="Descripcion" placeholder="Descripción" cols="30" rows="2"></textarea>
        </div>
        <div class="form-group col-lg-12">
            <button [disabled]="loading" class="btn btn-primary float-end tcla-F10" tooltip="Guardar (F10)">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </div>
</form>
