<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Traslado <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/traslados">Traslados</a></li>
            <li class="breadcrumb-item"><a>Traslado</a></li>
        </ol>
    </div>
</div>
<div *ngIf="loading" class="row"> <p class="col-md-12 text-center text-muted mt-5">Cargando...</p> </div>
<div *ngIf="bodegas.length && bodegas.length < 2" class="row">
    <p class="col-md-12 text-center text-muted mt-5">No hay bodegas suficientes para realizar este proceso</p>
</div>

<div class="card mb-3" *ngIf="bodegas.length >= 2">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-2">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" [(ngModel)]="traslado.fecha" name="fecha">
            </div>
            <div class="form-group col-md-1">
                <label for="fecha">Estado:</label><br>
                <p class="badge badge-info">{{ traslado.estado }}</p>
            </div>
            <div class="form-group col-md-2">
                <label for="traslado.origen_id">De:</label>
                <select class="form-control form-select" (change)="setOrigen($event.target.value)" [(ngModel)]="traslado.origen_id" name="traslado.origen_id">
                    <option [value]="bodega.id" *ngFor="let bodega of bodegas">{{ bodega.nombre }}</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="traslado.destino_id">Para:</label>
                <select class="form-control form-select" (change)="setDestino($event.target.value)" [(ngModel)]="traslado.destino_id" name="traslado.destino_id">
                    <option [value]="bodega.id" *ngFor="let bodega of bodegas">{{ bodega.nombre }}</option>
                </select>
            </div>

            <div class="form-group col-md-5">
                <label for="nota">Nota:</label>
                <input type="text" class="form-control" [(ngModel)]="traslado.nota" name="nota" placeholder="Nota" required focus="true">
            </div>
        </div>
                    
        <!-- Tabla -->
        <div class="row" style="min-height: 350px;">
            <div class="col-md-12">
                <table class="table table-borderless table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">N°</th>
                            <th>Producto</th>
                            <th class="text-center">Medida</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center" *ngIf="traslado.estado == 'En Proceso'"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let de of traslado?.detalles, let i=index">
                            <td class="text-center">{{ i + 1 }}</td>
                            <td>{{ de.nombre_producto }}</td>
                            <td class="text-center">{{ de.medida }}</td>
                            <td class="text-center">{{ de.cantidad }}</td>
                            <td style="width: 100px;" class="text-center" *ngIf="traslado.estado == 'En Proceso'">
                                <a tooltip="Eliminar" class="btn btn-default" (click)="eliminarDetalle(de)"><i class="fa fa-trash"></i>
                                </a>
                                <a tooltip="Editar" class="btn btn-default" (click)="openModalDetalle(mdetalle, de)"><i class="fa fa-pencil-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button *ngIf="traslado.estado == 'En Proceso'" (click)="openModal(inventario)" class="btn btn-danger tcla-F4" tooltip="Buscar y agregar productos">
            <i class="fa fa-list-alt"></i> Producto <small>(F4)</small>
        </button>
        <button *ngIf="traslado.estado == 'En Proceso'" (click)="openModalStock(stock)" class="btn btn-success tcla-F6" tooltip="Agregar todos los productos e igualar el stock ideal">
            <i class="fa fa-list-alt"></i> Generar <small>(F6)</small>
        </button>
        <a *ngIf="traslado.id" class="btn btn-default float-end tcla-F12 ml-2" href="{{ apiService.baseUrl + '/api/reporte/traslado/' + traslado.id + '?token=' + apiService.auth_token() }}" target="_blank" tooltip="Imprimir">
            Imprimir (F12)
        </a>
        <button title="Aplica el cargo y descargo de los inventarios" *ngIf="traslado.estado == 'En Proceso'" (click)="onAprobar()" [disabled]="loading || traslado?.detalles?.length < 1" class="btn btn-primary float-end tcla-F10">
            <span *ngIf="!loading">Guardar y Aplicar <small>(F10)</small></span>
            <span *ngIf="loading">Aplicando...</span>
        </button>
        <button title="Guarda el traslado sin afectar los inventarios para poder editarlo e imprimirlo" *ngIf="traslado.estado == 'En Proceso'" (click)="onGenerar()" [disabled]="loading || traslado?.detalles?.length < 1" class="btn btn-primary float-end tcla-F9 mr-2">
            <span *ngIf="!loading">Guardar <small>(F9)</small></span>
            <span *ngIf="loading">Generando...</span>
        </button>
    </div>
</div>

<ng-template #mdetalle>
  <div class="modal-header">
    <h3 class="modal-title text-center">Producto</h3>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" autocomplete="off" (ngSubmit)="editDetalle()">
        <div class="form-group col-sm-12">
            <label for="cantidad">Cantidad:</label>
            <input id="cantidad" type="number" min="1" class="form-control text-center" [(ngModel)]="detalle.cantidad" name="cantidad" focus="true">
        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <button type="submit" [disabled]="!detalle.cantidad" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #inventario>
  <div class="modal-header">
    <h3 class="modal-title text-center">Producto</h3>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm" name="form" class="buscador" autocomplete="off" (ngSubmit)="agregarDetalle()">
        <div class="form-group col-sm-12">
            <app-buscador-productos (selectProducto)="productoSelect($event)"></app-buscador-productos>
        </div>

        <div class="form-group col-sm-12">
            <label for="cantidad">Cantidad:</label>
            <input id="cantidad" type="number" min="1" class="form-control text-center" [(ngModel)]="detalle.cantidad" name="cantidad" required>
        </div>

        <div class="row" *ngIf="producto.id && detalle.cantidad">
            <div class="form-group col-md-4 text-center"  *ngIf="producto.inventarios[traslado.origen_id - 1]">
                <label for="precio">{{ producto.inventarios[traslado.origen_id - 1].nombre_bodega }}</label><br>
                <p>{{ producto.inventarios[traslado.origen_id - 1].stock * 1 - detalle.cantidad }}</p>
            </div>
            <div class="form-group col-md-4 text-center text-muted">
                <i class="fa fa-random fa-2x"></i>
            </div>
            <div class="form-group col-md-4 text-center" *ngIf="producto.inventarios[traslado.destino_id - 1]">
                <label for="medida">{{ producto.inventarios[traslado.destino_id - 1].nombre_bodega }}</label><br>
                <p>{{ producto.inventarios[traslado.destino_id - 1].stock * 1 + detalle.cantidad}}</p>
            </div>
            <div class="form-group col-md-4 text-center" *ngIf="!producto.inventarios[traslado.destino_id - 1]">
                <p>No esta configurada la bodega</p>
            </div>
        </div>

        <div class="form-group col-sm-12">
            <button type="submit" [disabled]="!form.form.valid || loading" class="btn btn-primary btn-block"> Agregar </button>
        </div>
    </form>
  </div>
</ng-template>

<ng-template #stock>
  <div class="modal-header">
    <h2 class="modal-title text-center">Productos con Stock Bajo <span class="badge">{{ productos?.length }}</span></h2>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" autocomplete="off" (ngSubmit)="agregarProductos()">
        <div class="row col-md-12" style="max-height: 350px; overflow-y: auto;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center"><i class="fa fa-cog"></i></th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th class="text-center">Stock</th>
                    <th class="text-center">Stock ideal</th>
                    <th class="text-center">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6" class="text-center" *ngIf="productos?.length < 1 && !loading">
                        <span class="label label-info">No tiene productos con stock bajo</span>
                    </td>
                    <td colspan="6" class="text-center" *ngIf="loading">
                        <span class="label label-info">Cargando...</span>
                    </td>
                </tr>
                <tr *ngFor=" let producto of productos">
                    <td class="text-center">
                        <a class="btn btn-danger btn-md" (click)="eliminarProducto(producto)"><i class="fa fa-trash"></i>
                        </a>
                    </td>
                    <td>{{ producto.nombre_producto }}</td>
                    <td>{{ producto.nombre_categoria }}</td>
                    <td class="text-center">{{ producto.stock }}</td>
                    <td class="text-center">{{ producto.stock_max }}</td>
                    <td class="text-center">
                        <input type="number" max="{{ producto.existencia }}" class="form-control" name="{{ 'producto[' + producto.producto_id + '].cantidad' }}" [(ngModel)]="producto.cantidad" style="text-align: center;">
                        <span class="text-muted" *ngIf="!producto.disponible">No hay mas existencias</span>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <br><br>
                <button type="submit" class="btn btn-primary btn-block"> Agregar </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>