
<!-- <tabset #staticTabs type="tabs">
    <tab #tab0="tab" [active]="departamento == 0">
        <ng-template tabHeading>
            <i class="fa fa-utensils"></i> General
        </ng-template>
        <app-cocina-dash class="pt-2" [dash]="dash" [loading]="loading" (loadAll)="loadAll()"></app-cocina-dash>
    </tab>
    <tab *ngFor="let dep of departamentos" #tab{{departamento.id}}="tab" [active]="dep.id == departamento">
        <ng-template tabHeading>
            <i class="fa fa-utensils"></i> {{ dep.nombre }}
        </ng-template>
        <app-departamento class="pt-2" [departamento_id]="dep.id" [loading]="loading"></app-departamento>
    </tab>
</tabset> -->