
<form (ngSubmit)="onSubmit()">
    <div class="row">
        <h5 class="col-12 pb-2 mb-2">Información:</h5>
        <div class="form-group col-lg-3">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="cliente.nombre">
        </div>
        <div class="form-group col-6 col-lg-2">
            <label for="sexo">Sexo:</label>
            <select class="form-select" name="sexo" [(ngModel)]="cliente.sexo">
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
        <div class="form-group col-6 col-lg-2">
            <label for="estado_civil">Estado civil:</label>
            <select class="form-select" name="estado_civil" [(ngModel)]="cliente.estado_civil">
                <option value="Casado">Casado</option>
                <option value="Soltero">Soltero</option>
            </select>
        </div>
        <div class="form-group col-6 col-lg-2">
            <label for="fecha_nacimiento">Fecha nacimiento:</label>
            <input type="date" class="form-control" name="fecha_nacimiento" [(ngModel)]="cliente.fecha_nacimiento">
        </div>
        <div class="form-group col-6 col-lg-3">
            <label for="profesion">Profesión:</label>
            <input type="text" class="form-control" name="profesion" [(ngModel)]="cliente.profesion">
        </div>
        <h5 class="col-12 pb-2 my-4">Facturación:</h5>
        <div class="form-group col-6 col-lg-3">
            <label for="nrc">NRC:</label>
            <input type="text" class="form-control" name="nrc" [(ngModel)]="cliente.nrc">
        </div>
        <div class="form-group col-md-3">
            <label for="tipo_contribuyente">Tipo de contribuyente:</label>
            <select class="form-select" [(ngModel)]="cliente.tipo_contribuyente" name="tipo_contribuyente">
                <option value="Pequeño">Pequeño</option>
                <option value="Mediano">Mediano</option>
                <option value="Grande">Grande</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="giro">Giro:</label>
            <ng-select [(ngModel)]="cliente.cod_giro" (change)="setGiro()" placeholder="Escribe aquí" class="form-control form-select" style="padding: 0px;" name="cliente.cod_giro">
                <ng-option *ngFor="let actividad_economica of actividad_economicas" [value]="actividad_economica.cod">
                    {{ actividad_economica.nombre }}
                </ng-option>
            </ng-select>
        </div>
        <div class="form-group col-md-3">
            <label for="nit">NIT:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.nit" name="nit" [dropSpecialCharacters]="false" mask='0000-000000-000-0' placeholder="xxx-xxxxxx-xxx-x">
        </div>
        <div class="form-group col-md-3">
            <label for="dui">DUI:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.dui" name="dui" [dropSpecialCharacters]="false" mask='00000000-0' placeholder="xxxxxxx-x">
        </div>
        <h5 class="col-12 pb-2 my-4">Contactos:</h5>
        <div class="form-group col-6 col-lg-3">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control" name="telefono" [(ngModel)]="cliente.telefono">
        </div>
        <div class="form-group col-6 col-lg-3">
            <label for="correo">Correo:</label>
            <input type="email" class="form-control" name="correo" [(ngModel)]="cliente.correo">
        </div>
        <div class="form-group col-md-4">
            <label for="departamento">Departamento:</label>
            <ng-select [(ngModel)]="cliente.cod_departamento" (change)="setDepartamento()" placeholder="Escribe aquí" class="form-control form-select" style="padding: 0px;" name="cliente.cod_departamento">
                <ng-option *ngFor="let departamento of departamentos" [value]="departamento.cod">
                    {{ departamento.nombre }}
                </ng-option>
            </ng-select>
        </div>
        <div class="form-group col-md-4">
            <label for="distrito">Distrito:</label>
            <ng-select [(ngModel)]="cliente.cod_distrito" (change)="setDistrito()" placeholder="Escribe aquí" class="form-control form-select" style="padding: 0px;" name="cliente.cod_distrito">
                <ng-option *ngFor="let distrito of distritos | filter:'cod_departamento':cliente.cod_departamento" [value]="distrito.cod">
                    {{ distrito.nombre }}
                </ng-option>
            </ng-select>
        </div>
        <div class="form-group col-md-4">
            <label for="municipio">Municipio:</label>
            <ng-select [(ngModel)]="cliente.cod_municipio" (change)="setMunicipio()" placeholder="Escribe aquí" class="form-control form-select" style="padding: 0px;" name="cliente.cod_municipio">
                <ng-option *ngFor="let municipio of municipios | filter:'cod_departamento':cliente.cod_departamento" [value]="municipio.cod">
                    {{ municipio.nombre }}
                </ng-option>
            </ng-select>
        </div>
        <div class="form-group col-sm-12">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.direccion" name="direccion" placeholder="Dirección">
        </div>
        <div class="form-group col-lg-6">
            <label for="etiquetas">Etiquetas:</label>
            <tag-input theme='bootstrap' secondaryPlaceholder="Etiquetas" [placeholder]="'etiquetas'" [separatorKeyCodes]="[32]" [(ngModel)]="cliente.etiquetas" name="etiquetas"></tag-input>
        </div>
        <div class="form-group col-lg-12">
            <label for="nota">Observaciones y notas</label>
            <textarea placeholder="Cualquier comentario adicional" name="nota" [(ngModel)]="cliente.nota" class="form-control" cols="30" rows="3"></textarea>
        </div>
                    
        <div class="form-group col-md-12 mt-3">
            <button type="submit" [disabled]="saving" class="btn btn-primary float-right tcla-F10" tooltip="Guardar (F10)">
                <span *ngIf="!saving">Guardar</span>
                <span *ngIf="saving">Guardando...</span>
            </button>
        </div>
    </div>
</form>

<div class="row">
    <h5 class="col-12 pb-2 mb-2">Otros datos</h5>
    <div class="form-group col-6 col-lg-3">
        <label for="pais">Fecha de registro:</label>
        <p>{{ cliente.created_at | date:'d/M/y hh:mm:ss a' }}</p>
    </div>
    <div class="form-group col-6 col-lg-3">
        <label for="pais">Última actualización:</label>
        <p>{{ cliente.updated_at  | date:'d/M/y hh:mm:ss a' }}</p>
    </div>
</div>

