<div class="card mb-3">
    <div class="card-body">
    <div class="row" *ngIf="ordenes">
        <h5 class="col-12 pb-2 mb-2">Últimas ordenes</h5>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha y Hora</th>
                        <th class="d-none d-md-table-cell">Pago</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="ordenes?.length < 1 && !loading">
                            <span class="label label-info">No tiene ordenes registradas</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="label label-info">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let orden of ordenes?.data">
                        <td> {{orden.id }} </td>
                        <td>{{orden.created_at | date:'dd-MM-yyyy'}}, {{orden.created_at | date:'hh:mm:ss a'}}</td>
                        <td class="d-none d-md-table-cell"> {{orden.metodo_pago }} </td>
                        <td class="text-center">
                            <span class="badge label-pop" [ngClass]="{'badge-dark' : orden?.estado == 'En Proceso','badge-warning' : orden?.estado == 'Pendiente de Pago', 'badge-success' : orden?.estado == 'Pagado', 'badge-info' : orden?.estado == 'Enviado', 'badge-primary' : orden?.estado == 'Entregado', 'badge-secondary' : orden?.estado == 'Cancelado'}" >
                                {{orden.estado}}
                            </span>
                        </td>
                        <td class="text-center">{{orden.total | currency:'USD':'symbol':'2.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm" role="group">
                                <a class="btn btn-secondary" tooltip="Ver" routerLink="/orden/{{orden.id}}">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center" *ngIf="ordenes?.last_page > 1">
                <pagination [totalItems]="ordenes?.total" (pageChanged)="setPagination($event)"></pagination>
            </div>
        </div>
    </div>
    </div>
</div>