<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Servicio <small class="text-muted p-2"> Edición</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/servicios">Servicios</a></li>
            <li class="breadcrumb-item active"><a>Servicio</a></li>
        </ol>
    </div>
</div>

<div *ngIf="loading" class="spinner-border text-primary" role="status" style="position: absolute; top: 50vh;right: 50vw; z-index: 2000;">
    <span class="sr-only">Loading...</span>
</div>

<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form name="form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="nombre">* Nombre:</label>
                            <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre" placeholder="Nombre" required focus="true">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="subcategoria_id" class="w-100">Categoria:</label>
                            <div class="input-group flex-nowrap">
                                <ng-select name="categoria_id" (change)="onSelectCategoria(producto.categoria_id)" [(ngModel)]="producto.categoria_id" style="flex: 1 1 auto;">
                                    <ng-option *ngFor="let categoria of categorias" [value]="categoria.id">
                                        {{ categoria.nombre }}
                                    </ng-option>
                                </ng-select>
                                <app-crear-categoria (update)="setCategoria($event)"></app-crear-categoria>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="subcategoria_id" class="w-100">Sub Categoria:</label>
                            <div class="input-group flex-nowrap">
                                <ng-select name="subcategoria_id" [(ngModel)]="producto.subcategoria_id" style="flex: 1 1 auto;">
                                    <ng-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id">
                                        {{ subcategoria.nombre }}
                                    </ng-option>
                                </ng-select>
                                <app-crear-subcategoria [categoria_id]="producto.categoria_id" (update)="setSubCategoria($event)"></app-crear-subcategoria>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="codigo">Código:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="producto.codigo" name="codigo" placeholder="Código" required>
                                <span class="input-group-text" *ngIf="producto.codigo">
                                    <a class="click" tooltip="Generar codigo" (click)="barcode()"><i class="fa fa-barcode"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="costo">* Costo:</label>
                            <input type="number" class="form-control" [(ngModel)]="producto.costo" name="costo" placeholder="$0.00" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="precio">* Precio:</label>
                            <input type="number" class="form-control" [(ngModel)]="producto.precio" name="precio" placeholder="$0.00" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="etiquetas">Etiquetas:</label>
                            <tag-input theme='bootstrap' secondaryPlaceholder="Etiquetas" [separatorKeyCodes]="[32]" [(ngModel)]="producto.etiquetas" name="etiquetas"></tag-input>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="nota">Nota:</label>
                            <textarea class="form-control" [(ngModel)]="producto.nota" name="nota" placeholder="Nota" cols="30" rows="2"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <button [disabled]="loading" class="btn btn-primary float-end tcla-F4">
                                <span *ngIf="!loading">Guardar <small>(F4)</small></span>
                                <span *ngIf="loading">Guardando...</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" *ngIf="producto.id">
            <div class="card-body">
                <app-producto-sucursales [producto]='producto'></app-producto-sucursales>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card" *ngIf="producto.id">
            <div class="card-body">
                <app-producto-imagenes  [producto]='producto'></app-producto-imagenes>
            </div>
        </div>
    </div>
</div>
