<div class="row">
    <div class="col-md-12 d-inline-flex mb-3">
        <div class="btn-group">
            <app-compra-producto (productoSelect)="productoSelect($event)"></app-compra-producto>
        </div>
        <!-- <app-codigo-barra class="w-100" (productoSelect)="productoSelect($event)"></app-codigo-barra> -->
    </div>
    <div class="col-md-12">
        <table class="table table-sm table-bordered table-condensed mb-0">
            <thead>
                <tr>
                    <th style="width: 50px;" class="text-center">#</th>
                    <th>Producto</th>
                    <th style="width: 100px;" class="text-center">Cantidad</th>
                    <th style="width: 100px;" class="text-center">Costo</th>
                    <th style="width: 100px;" class="text-center">Descuento</th>
                    <th style="width: 100px;" class="text-center">No Sujeta</th>
                    <th style="width: 100px;" class="text-center">Exenta</th>
                    <th style="width: 100px;" class="text-center">Gravada</th>
                    <th style="width: 100px;" class="text-center">Total</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-12" id="detalles">
        <table class="table table-sm table-bordered table-condensed mb-0">
            <tbody>
                <tr *ngIf="compra?.detalles?.length < 1">
                    <td colspan="7" class="text-center text-muted">
                        Ningún detalle agregado
                    </td>
                </tr>
                <tr *ngFor="let detalle of compra?.detalles; let i = index">
                    <td style="width: 50px;" class="text-center">{{ i + 1 }}</td>
                    <td>
                        {{ detalle.nombre_producto }}
                        <div class="d-none btn-group">
                            <a class="click" (click)="delete(detalle)" tooltip="Eliminar">
                              <i class="fa fa-trash fa-fw"></i>
                            </a>
                            <a class="click mx-3" (click)="delete(detalle)" tooltip="Actualizar precio">
                              <i class="fa fa-dollar-sign fa-fw"></i>
                            </a>
                            <a class="click" (click)="openModalEdit(mdetalle, detalle)" tooltip="Editar linea">
                              <i class="fa fa-pencil-alt fa-fw"></i>
                            </a>
                        </div>
                    </td>
                    <td style="width: 100px;" class="text-center">{{ detalle.cantidad }}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.costo | currency:'USD':'symbol':'1.2'}}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.descuento | currency:'USD':'symbol':'1.2'}}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.no_sujeta | currency:'USD':'symbol':'1.2'}}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.exenta | currency:'USD':'symbol':'1.2'}}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.gravada | currency:'USD':'symbol':'1.2'}}</td>
                    <td style="width: 100px;" class="text-center">{{ detalle.total | currency:'USD':'symbol':'1.2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #mdetalle>
<form name="producto" autocomplete="off" (ngSubmit)="onSubmit()">
  <div class="modal-header text-center">
    <h3 class="modal-title">Producto</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-6 col-lg-3">
                <label for="cantidad">Cantidad:</label>
                <input type="number" min="1" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="detalle.cantidad" (keyup)="calcularByCosto()" (change)="calcularByCosto()">
            </div>
            <div class="form-group col-md-6 col-lg-3">
                <label for="costo">Costo: <small *ngIf="detalle.costo_actual">{{detalle.costo_actual | currency:'USD':'symbol':'1.2'}}</small></label>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalle.costo" name="costo" (keyup)="calcularByCosto()" (change)="calcularByCosto()">
            </div>
            <div class="form-group col-md-6 col-lg-3">
                <label for="descuento">Descuento:</label>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalle.descuento" name="descuento" (keyup)="calcularByCosto()" (change)="calcularByCosto()">
            </div>
            <div class="form-group col-md-6 col-lg-3">
                <label for="subtotal">Subtotal:</label>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalle.subtotal" name="subtotal" (change)="calcularCosto()">
            </div>
            <div class="form-group col-md-6 col-lg-3">
                <label for="no_sujeta">No Sujeto</label>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalle.no_sujeta" name="no_sujeta" (change)="updateTotal()" (keyup)="updateTotal()">
            </div>
            <div class="form-group col-md-6 col-lg-3">
                <label for="exenta">Exento</label>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalle.exenta" name="exenta" (change)="updateTotal()" (keyup)="updateTotal()">
            </div>
            <div class="form-group col-md-6 col-lg-3">
                <label for="gravada">Gravado</label>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalle.gravada" name="gravada" (change)="updateTotal()" (keyup)="updateTotal()">
            </div>
            <div class="form-group col-md-6 col-lg-3">
                <label for="iva">IVA:</label>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalle.iva" name="iva">
            </div>
            <div class="form-group col-md-6 col-lg-3">
                <label for="total">Total:</label>
                <input type="number" min="1" class="form-control" [(ngModel)]="detalle.total" name="total">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!detalle.producto_id || !detalle.cantidad || !detalle.costo" class="btn btn-primary float-end"> Agregar </button>
    </div>
</form>
</ng-template>
