<div class="row">
    <h6 class="my-3 font-weight-bold">Lista de precios</h6>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Precio</th>
                    <th *ngIf="producto.impuesto > 0">Impuesto</th>
                    <th *ngIf="producto.impuesto > 0">Precio Final</th>
                    <th width="100" class="text-center"><i class="fa fa-cog"></i> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8" class="text-center" *ngIf="loading">
                        <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                    </td>
                </tr>

                <tr class="animated fadeIn" *ngFor=" let precio of producto?.precios">
                    <td>{{ precio.precio | currency:'USD':'symbol':'1.2' }}</td>
                    <td *ngIf="producto.impuesto > 0">{{ producto.impuesto * 100 }}%</td>
                    <td *ngIf="producto.impuesto > 0">{{ ((precio.precio * 1) + (precio.precio * producto.impuesto)) | currency:'USD':'symbol':'1.2' }}</td>
                    <td width="100" class="text-center">
                        <div class="btn-group">
                            <a (click)="delete(precio)" class="btn btn-default"><i class="fa fa-trash"></i></a>
                            <a (click)="openModal(mPrecio, precio)" class="btn btn-default"><i class="fa fa-pencil-alt"></i></a>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!loading">
                    <td colspan="8" class="text-center">
                        <a class="btn btn-link" (click)="openModal(mPrecio, {})" tooltip="Agregar precio">
                            Agregar precio
                        </a>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>        

<ng-template #mPrecio>
    <div class="modal-header">
        <h3 class="modal-title text-center">Agregar precio</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <p for="precio">Se mostrara como opción al momento de vender:</p>
            <div class="form-group col-md-12">
                <label>Precio </label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type='number' class="form-control" name="precio" (keyup)="calcularPrecioFinal()" (change)="calcularPrecioFinal()" [(ngModel)]="precio.precio"/>
                </div>
            </div>

            <div class="form-group col-md-12" *ngIf="producto.impuesto > 0">
                <label>Precio Final <small class="text-muted">({{ (producto.impuesto * 100) | number:'1.0-0' }}%)</small></label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type='number' class="form-control" name="precio_final" (keyup)="calcularPrecio()" (change)="calcularPrecio()" [(ngModel)]="precio.precio_final"/>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Agregar</span>
                    <span *ngIf="loading">Agregando...</span>
                </button>
            </div>
        </div>
        </form>
  </div>
</ng-template>
