<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Ventas <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Ventas</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start pl-3" *ngIf="ventas?.length">
            {{ ventas?.length + ' registros' }}
            <span *ngIf="filtrado">{{ ventas | sum:'total' | currency:'USD':'symbol':'1.2'  }}</span>
        </span>

        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar según correlativo" [(ngModel)]="buscador" focus="true">
            <div class="input-group-btn">
                <button tooltip="Buscar" class="btn btn-default"><i class="fa fa-search"></i></button>
                <button tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
            </div>
        </div>

    </div>
    <div class="card-body pt-0">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Usuario</th>
                        <th>Ref</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Correlativo</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Metodo de pago</th>
                        <th class="text-center">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center" *ngIf="ventas?.length < 1 && !loading">
                            <span class="badge badge-info">No tiene ventas registradas</span>
                        </td>
                        <td colspan="10" class="text-center" *ngIf="loading">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                    </tr>

                    <tr class="animated fadeIn" *ngFor=" let venta of ventas | filter:['correlativo']:buscador">
                        
                        <td>{{venta.id }}</td>
                        <td>
                            <span [tooltip]="popFecha"> {{ venta.fecha  | date:'dd/MM/yyyy' }} </span>
                            <ng-template #popFecha> <p>{{ venta.created_at  | date:'hh:mm:s a' }}</p> </ng-template>
                        </td>
                        <!-- <td>{{venta.fecha | date:'hh:mm:ss a'}}</td> -->
                        <td>{{venta.nombre_cliente | truncate:'30'}}</td>
                        <td>{{venta.nombre_usuario | truncate:30}}</td>
                        <td>{{venta.nota}}</td>
                        <td class="text-center"> {{venta.tipo_documento }} </td>
                        <td class="text-center"> {{venta.correlativo }} </td>
                        <td class="text-center">
                            <span class="badge" [ngClass]="{'badge-info' : venta?.estado == 'En Proceso','badge-warning' : venta?.estado == 'Pendiente', 'badge-danger' : venta?.estado == 'Anulada', 'badge-success' : venta?.estado == 'Pagada'}">
                                {{venta.estado}}
                            </span>
                        </td>
                        <td class="text-center"><span tooltip="{{ venta.referencia }}">{{venta.metodo_pago}}</span></td>
                        <td class="text-center">{{venta.total | currency:'USD':'symbol':'1.2'}}</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a *ngIf="apiService.auth_user().tipo == 'Cajero'" class="btn btn-default" (click)="reemprimir(venta)" tooltip="Reemprimir">
                                    <i class="fa fa-print"></i>
                                </a>
                                <a routerLink="/devolucion-venta/nueva" [queryParams]="{ venta_id: venta.id }" class="btn btn-default" tooltip="Hacer devolucion"><i class="fa fa-right-left"></i></a>
                                <a *ngIf="venta.credito" routerLink="/credito/{{venta.credito.id}}" class="btn btn-default" tooltip="Ver crédito">
                                    <i class="fa fa-money-check"></i>
                                </a>
                                <a class="btn btn-default" routerLink="/venta/{{venta.id}}" tooltip="Ver">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>  
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
