<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Ventas <small class="text-muted p-2"> Categorias</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/ventas">Ventas</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Categorias</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <form name="form" (ngSubmit)="loadAll()" autocomplete="off">
            <div class="row justify-content-around">
                <div class="col-lg-6 mb-4">
                    <div class="input-group">
                        <a class="btn" [ngClass]="{'btn-primary': filtro.time == 'day', 'btn-default': filtro.time != 'day' }" (click)="setTime('day')">Hoy</a>
                        <a class="btn" [ngClass]="{'btn-primary': filtro.time == 'week', 'btn-default': filtro.time != 'week' }" (click)="setTime('week')">Semana</a>
                        <a class="btn" [ngClass]="{'btn-primary': filtro.time == 'month', 'btn-default': filtro.time != 'month' }" (click)="setTime('month')">Mes</a>
                        <a class="btn" [ngClass]="{'btn-primary': filtro.time == 'year', 'btn-default': filtro.time != 'year' }" (click)="setTime('year')">Año</a>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 d-flex justify-content-end">
                    <div class="input-group">
                        <input type="date" class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
                        <input type="date" class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
                        <button type="submit" class="btn btn-default" tooltip="Filtrar"><i class="fa fa-filter"></i></button>
                    </div>
                </div>    
            </div>
        </form>
    </div>
    <div class="card-body table-responsive no-padding">
        <table class="table table-borderless table-hover" id="tablaReporte">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th class="text-right">Cantidad de ventas</th>
                    <th class="text-right">Venta Neta</th>
                    <th class="text-right">Costo de Venta</th>
                    <th class="text-right">Utilidad</th>
                    <th class="text-right">Margen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8" class="text-center" *ngIf="ventas?.length < 1 && !loading">
                        <span class="badge badge-primary">No tiene ventas registradas</span>
                    </td>
                    <td colspan="8" class="text-center" *ngIf="loading">
                        <span class="badge badge-primary">Cargando...</span>
                    </td>
                </tr>

                <tr class="animated fadeIn" *ngFor=" let venta of ventas">
                    
                    <td>{{venta.categoria}}</td>
                    <td class="text-right">{{venta.cantidad}}</td>
                    <td class="text-right">
                        <span tooltip="Total: {{ venta.total | currency:'USD':'symbol':'1.2'}} IVA: {{ venta.iva | currency:'USD':'symbol':'1.2'}}">
                            {{ venta.ventaNeta | currency:'USD':'symbol':'1.2'}}
                        </span>
                    </td>
                    <td class="text-right">{{venta.costo | currency:'USD':'symbol':'1.2'}}</td>
                    <td class="text-right">{{venta.utilidad | currency:'USD':'symbol':'1.2'}}</td>
                    <td class="text-right">{{venta.margen | number:'1.2'}} %</td>
                </tr>

                <tr *ngIf="ventas?.length > 0 && !loading">
                    <td><b>Total</b></td>                                
                    <td class="text-right"><b>{{ ventas | sum:'cantidad'}}</b></td>
                    <td class="text-right"><span tooltip="Total: {{ ventas | sum:'total' | currency:'USD':'symbol':'1.2'}} IVA: {{ ventas | sum:'iva' | currency:'USD':'symbol':'1.2'}}"><b>{{ ventas | sum:'ventaNeta' | currency:'USD':'symbol':'1.2' }}</b></span></td>
                    <td class="text-right"><b>{{ ventas | sum:'costo' | currency:'USD':'symbol':'1.2' }}</b></td>
                    <td class="text-right"><b>{{ ventas | sum:'utilidad' | currency:'USD':'symbol':'1.2' }}</b></td>
                    <td class="text-right"><b>{{ ventas | avg:'margen' | number:'1.2'}} %</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #mfilter>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Filtros</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onFiltrar()">
        <div class="row text-center">

            <div class="form-group col-sm-6">
                <label for="">Del:</label>
                <input type="date" class="form-control" [(ngModel)]="filtro.fecha_ini" name="fecha_ini">
                <input type="time" class="form-control" [(ngModel)]="filtro.hora_ini" name="hora_ini">
            </div>
            <div class="form-group col-sm-6">
                <label for="">Al:</label>
                <input type="date" class="form-control" [(ngModel)]="filtro.fecha_fin" name="fecha_fin">
                <input type="time" class="form-control" [(ngModel)]="filtro.hora_fin" name="hora_fin">
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.usuario">Empleado:</label>
                <select [(ngModel)]="filtro.usuario_id" class="form-control" name="filtro.usuario_id">
                    <option value="">Todos</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">
                        {{ usuario.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.estado">Estado:</label>
                <select [(ngModel)]="filtro.estado" class="form-control" name="filtro.estado">
                    <option value="">Todos</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Cobrada">Cobrada</option>
                    <option value="Anulada">Anulada</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="filtro.forma_de_pago">Forma de Pago:</label>
                <select [(ngModel)]="filtro.forma_de_pago" class="form-control" name="filtro.forma_de_pago">
                    <option value="">Todos</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Consumo Interno">Consumo Interno</option>
                    <option value="Credito Empleado">Crédito Empleado</option>
                </select>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Filtrar</span>
                    <span *ngIf="loading">Filtrando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
