<div class="card mb-5">
    <div class="card-body">
        <div class="row" *ngIf="loading">
            <div class="text-muted text-center thumbler">
              Cargando...
            </div>
        </div>

        <div class="row" *ngIf="!loading">
            <h4 class="col-12 pb-2 mb-2">Documentos</h4>
            <div class="col-md-3" *ngFor="let documento of documentos">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> {{ documento.nombre }} </h3>
                        {{ documento.nota }} <br>
                        <!-- <img (click)="preview(documento)" src="{{ apiService.baseUrl + documento.url }}" class="click img-fluid"> -->
                        <a class="click" tooltip="Ver archivo" (click)="preview(documento)">
                            <i class="fa fa-image fa-4x"></i>
                        </a>
                    </div>
                    <div class="card-footer">
                        <div role="group" class="btn-group">
                            <a tooltip="Eliminar" class="btn btn-default" (click)="delete(documento.id)">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a tooltip="Editar" class="btn btn-default" (click)="openModal(mdocumento, documento)" >
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <a class="click" (click)="openModal(mdocumento, {})">
                    <div class="card py-3">
                        <div class="card-body text-center py-5">
                            <i class="fa fa-file fa-2x"></i>
                            <p>Agregar</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>

<ng-template #mdocumento>
  <div class="modal-header">
    <div class="modal-title text-center">
        <h2 class="text-center no-margin">Documento</h2>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef!.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="form-group col-sm-12">
                <label for="">Nombre *:</label>
                <input type="text" class="form-control" name="documento.nombre" [(ngModel)]="documento.nombre" focus="true"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="">Nota:</label>
                <input type="text" class="form-control" name="documento.nota" [(ngModel)]="documento.nota"/>
            </div>
            <div class="form-group col-sm-12">
                <label for="">Archivo:</label>
                <input type="file" accept="image/jpeg,image/png,application/pdf,image/x-eps" class="form-control" name="documento.file" (change)="setFile($event)"/>
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" [disabled]="loading || !documento.nombre" class="btn btn-primary btn-block">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
