<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Proveedor <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/proveedores">Proveedores</a></li>
            <li class="breadcrumb-item"><a>Proveedor</a></li>
        </ol>
    </div>
</div>
<div *ngIf="!proveedor" class="row"> <p class="col-md-12 text-center text-muted mt-5">Cargando...</p> </div>

<div class="card mb-3">
    <div class="card-body">
        
        <form (ngSubmit)="onSubmit()">
    <div class="row">
        <h5 class="col-12 pb-2 mb-2">Información:</h5>
        <div class="form-group col-lg-3">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="proveedor.nombre">
        </div>
        <h5 class="col-12 pb-2 my-4">Facturación:</h5>
        <div class="form-group col-6 col-lg-3">
            <label for="nrc">NRC:</label>
            <input type="text" class="form-control" name="nrc" [(ngModel)]="proveedor.nrc">
        </div>
        <div class="form-group col-md-3">
            <label for="tipo_contribuyente">Tipo de contribuyente:</label>
            <select class="form-select" [(ngModel)]="proveedor.tipo_contribuyente" name="tipo_contribuyente">
                <option value="Pequeño">Pequeño</option>
                <option value="Mediano">Mediano</option>
                <option value="Grande">Grande</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="giro">Giro:</label>
            <ng-select [(ngModel)]="proveedor.cod_giro" (change)="setGiro()" placeholder="Escribe aquí" class="form-control form-select" style="padding: 0px;" name="proveedor.cod_giro">
                <ng-option *ngFor="let actividad_economica of actividad_economicas" [value]="actividad_economica.cod">
                    {{ actividad_economica.nombre }}
                </ng-option>
            </ng-select>
        </div>
        <div class="form-group col-md-3">
            <label for="nit">NIT:</label>
            <input type="text" class="form-control" [(ngModel)]="proveedor.nit" name="nit" [dropSpecialCharacters]="false" mask='0000-000000-000-0' placeholder="xxx-xxxxxx-xxx-x">
        </div>
        <div class="form-group col-md-3">
            <label for="dui">DUI:</label>
            <input type="text" class="form-control" [(ngModel)]="proveedor.dui" name="dui" [dropSpecialCharacters]="false" mask='00000000-0' placeholder="xxxxxxx-x">
        </div>
        <h5 class="col-12 pb-2 my-4">Contactos:</h5>
        <div class="form-group col-6 col-lg-3">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control" name="telefono" [(ngModel)]="proveedor.telefono">
        </div>
        <div class="form-group col-6 col-lg-3">
            <label for="correo">Correo:</label>
            <input type="email" class="form-control" name="correo" [(ngModel)]="proveedor.correo">
        </div>
        <div class="form-group col-md-4">
            <label for="departamento">Departamento:</label>
            <ng-select [(ngModel)]="proveedor.cod_departamento" (change)="setDepartamento()" placeholder="Escribe aquí" class="form-control form-select" style="padding: 0px;" name="proveedor.cod_departamento">
                <ng-option *ngFor="let departamento of departamentos" [value]="departamento.cod">
                    {{ departamento.nombre }}
                </ng-option>
            </ng-select>
        </div>
        <div class="form-group col-md-4">
            <label for="distrito">Distrito:</label>
            <ng-select [(ngModel)]="proveedor.cod_distrito" (change)="setDistrito()" placeholder="Escribe aquí" class="form-control form-select" style="padding: 0px;" name="proveedor.cod_distrito">
                <ng-option *ngFor="let distrito of distritos | filter:'cod_departamento':proveedor.cod_departamento" [value]="distrito.cod">
                    {{ distrito.nombre }}
                </ng-option>
            </ng-select>
        </div>
        <div class="form-group col-md-4">
            <label for="municipio">Municipio:</label>
            <ng-select [(ngModel)]="proveedor.cod_municipio" (change)="setMunicipio()" placeholder="Escribe aquí" class="form-control form-select" style="padding: 0px;" name="proveedor.cod_municipio">
                <ng-option *ngFor="let municipio of municipios | filter:'cod_departamento':proveedor.cod_departamento" [value]="municipio.cod">
                    {{ municipio.nombre }}
                </ng-option>
            </ng-select>
        </div>
        <div class="form-group col-sm-12">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" [(ngModel)]="proveedor.direccion" name="direccion" placeholder="Dirección">
        </div>
        <div class="form-group col-lg-6">
            <label for="etiquetas">Etiquetas:</label>
            <tag-input theme='bootstrap' secondaryPlaceholder="Etiquetas" [placeholder]="'etiquetas'" [separatorKeyCodes]="[32]" [(ngModel)]="proveedor.etiquetas" name="etiquetas"></tag-input>
        </div>
        <div class="form-group col-lg-12">
            <label for="nota">Observaciones y notas</label>
            <textarea placeholder="Cualquier comentario adicional" name="nota" [(ngModel)]="proveedor.nota" class="form-control" cols="30" rows="3"></textarea>
        </div>
                    
        <div class="form-group col-md-12 mt-3">
            <button type="submit" [disabled]="saving" class="btn btn-primary float-right tcla-F10" tooltip="Guardar (F10)">
                <span *ngIf="!saving">Guardar</span>
                <span *ngIf="saving">Guardando...</span>
            </button>
        </div>
    </div>
</form>

    </div>
</div>

<!-- <app-proveedor-direcciones></app-proveedor-direcciones> -->
<!-- <app-proveedor-ordenes></app-proveedor-ordenes> -->

<div class="card mb-3">
    <div class="card-body">
    <div class="row">
        <h5 class="col-12 pb-2 mb-2">Datos</h5>
        <div class="form-group col-6 col-lg-3">
            <label for="pais">Fecha de registro:</label>
            <p>{{ proveedor.created_at | date:'d/M/y h:m:s a' }}</p>
        </div>
        <div class="form-group col-6 col-lg-3">
            <label for="pais">Última actualización:</label>
            <p>{{ proveedor.updated_at  | date:'d/M/y h:m:s a' }}</p>
        </div>
        <div class="form-group col-6 col-lg-3">
            <label for="pais">Número de Compras:</label>
            <p>{{ proveedor.num_compras }}</p>
        </div>
    </div>

    </div>
</div>
