<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading" (click)="loadAll()">Detalle de Venta</h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/ventas">Ventas</a></li>
            <li class="breadcrumb-item"><a>Venta</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <!-- <h4 class="card-title">
            Información
            <a *ngIf="venta.credito" routerLink="/venta.credito/{{venta.credito?.id}}" class="btn btn-default float-end" tooltip="Ver crédito">
                <i class="fa fa-money-check"></i>
            </a>
        </h4> -->

        <div class="d-flex flex-wrap">
            <div class="col">
                <p class="font-weight-bold">Fecha</p>
                <p>{{ venta.fecha | date:'d/MM/y' }}</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Usuario</p>
                <p>{{ venta.nombre_usuario }}</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Cliente</p>
                <p class="text-nowrap">{{ venta.nombre_cliente }} <a routerLink="/cliente/{{venta.cliente_id}}"><i class="fa fa-edit ml-2"></i></a></p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Estado</p>
                <p>{{ venta.estado }}</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Condicion</p>
                <p>{{ venta.condicion }}</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Forma de pago</p>
                <p>{{ venta.metodo_pago }}</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Documento</p>
                <p>{{ venta.tipo_documento }} # {{ venta.correlativo }}</p>
            </div>
        </div>    

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="6">Detalles</th>
                    </tr>
                    <tr>
                        <th class="text-center">N°</th>
                        <th>Producto</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Descuento</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <td colspan="8" class="text-center" *ngIf="venta.detalles?.length < 1 && !loading">
                        <span class="badge badge-info">No tiene productos agregados</span>
                    </td>
                    <td colspan="8" class="text-center" *ngIf="loading">
                        <span class="badge badge-info">Cargando...</span>
                    </td>
                    <tr *ngFor="let detalle of venta.detalles; let i=index">
                        <td class="text-center"> {{ i + 1 }} </td>
                        <td> {{ detalle.nombre_producto }} </td>
                        <td class="text-center">{{ detalle.cantidad }}</td>
                        <td class="text-center">{{ detalle.precio | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">{{ detalle.descuento | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-right">{{ detalle.total | currency:'USD':'symbol':'1.2' }}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right"><b>Sub Total:</b></td>
                        <td class="text-right"><b>{{ venta?.subtotal | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right"><b>IVA:</b></td>
                        <td class="text-right"><b>{{ venta?.iva | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right"><b>Descuento:</b></td>
                        <td class="text-right"><b>{{ venta?.descuento | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right"><b>Total:</b></td>
                        <td class="text-right"><b>{{ venta?.total | currency:'USD':'symbol':'1.2' }}</b></td>
                    </tr>
                    <tr *ngIf="venta.saldo > 0">
                        <td colspan="5" class="text-right"><b>Saldo:</b></td>
                        <td class="text-right">
                            <div class="badge badge-warning float-end">
                            {{ venta.saldo | currency:'USD':'symbol':'1.2' }}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card" *ngIf="venta.credito?.fecha">
    <div class="card-body">
        <h4 class="card-title mb-3">
            Crédito
            <div class="btn-option">
                <div class="btn-group">                    
                    <button (click)="planDePagos()" class="btn btn-default float-end" tooltip="Imprimir reporte de pagos">Pagos <i class="fa fa-print"></i></button>
                    <button (click)="planDeAmortizacion()" class="btn btn-default float-end" tooltip="Imprimir plan de amortización">Amortización <i class="fa fa-print"></i></button>
                </div>
            </div>
        </h4>
        <div class="d-flex flex-wrap">
            <div class="col">
                <p class="font-weight-bold">Fecha</p>
                <p>{{ venta.credito?.fecha | date:'d/MM/y' }}</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Monto</p>
                <p>{{ venta.credito?.total | currency:'USD':'symbol':'2.2' }}</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Interes</p>
                <p>{{ venta.credito?.interes_anual | number:'1.2-2' }} %</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Cuotas</p>
                <p>{{ venta.credito?.numero_de_cuotas }}</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Forma de pago</p>
                <p>{{ venta.credito?.forma_de_pago }}</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Prima</p>
                <p>{{ venta.credito?.prima | currency:'USD':'symbol':'2.2' }}</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Abonado</p>
                <p>{{ venta.credito?.total_abonos | currency:'USD':'symbol':'2.2' }}</p>
            </div>
            <div class="col">
                <p class="font-weight-bold">Saldo</p>
                <p>{{ venta.credito?.saldo | currency:'USD':'symbol':'2.2' }}</p>
            </div>

        </div>    
    </div>

</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Abonos
            <!-- <a href="" class="btn btn-default float-end">Agregar abono</a> -->
        </h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">N°</th>
                        <th>Fecha</th>
                        <th>Forma de pago</th>
                        <th>Concepto</th>
                        <th class="text-right">Total</th>
                        <th class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="venta.abonos?.length < 1 && !loading">
                            <span class="badge badge-info">No tiene productos agregados</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge badge-info">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor="let abono of venta?.abonos; let i=index">
                        <td class="text-center"> {{ i + 1 }} </td>
                        <td>{{ abono?.fecha | date:'dd/MM/yyyy' }} </td>
                        <td>{{ abono?.metodo_pago }} </td>
                        <td>{{ abono?.concepto }} </td>
                        <td class="text-right">{{ abono?.total | currency:'USD':'symbol':'1.2' }}</td>
                        <td class="text-center">
                            <div role="group" class="btn-group">
                                <a tooltip="Eliminar" class="btn btn-default" (click)="delete(abono)">
                                    <i class="fa fa-trash-alt"></i>
                                </a>
                                <a tooltip="Imprimir" class="btn btn-default" (click)="imprimirRecibo(abono)" >
                                    <i class="fa fa-print"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
