<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Abono <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/abonos">Abonos</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Abono</a></li>
        </ol>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-12 col-lg-8"> 
        <section class="card">
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="form-group col-md-6 col-lg-3">
                            <label for="fecha">Fecha:</label>
                            <input type="date" class="form-control" name="fecha" [(ngModel)]="abono.fecha">
                        </div>
                        <div class="form-group col-md-6 col-lg-9">
                            <label for="cliente_id">Cliente</label>
                            <div class="input-group flex-nowrap">
                                <ng-select name="cliente_id" (change)="selectCliente()" [(ngModel)]="abono.cliente_id" class="form-select p-0">
                                    <ng-option *ngFor="let cliente of clientes" [value]="cliente.id">
                                        {{ cliente.nombre }} <span *ngIf="cliente.registro">- {{ cliente.registro }}</span>
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td>Fecha</td>
                                        <td>Venta ID</td>
                                        <td>Total</td>
                                        <td>Saldo</td>
                                        <td class="text-center"><i class="fa fa-cog"></i></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5" *ngIf="!abono.cliente_id">
                                            <div class="alert alert-info text-center">
                                                Seleccione un cliente para ver sus saldos pendientes
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" *ngIf="loading">
                                            <div class="alert alert-info text-center">
                                                Cargando
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" *ngIf="!loading && abono.cliente_id && ventas.length == 0">
                                            <div class="alert alert-info text-center">
                                                No tiene saldos pendientes
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="click" (click)="selectVenta(venta)" *ngFor="let venta of ventas" [value]="venta.id">
                                        <td>{{ venta.fecha | date:'dd/MM/yyyy' }}</td>
                                        <td>{{ venta.id }}</td>
                                        <td>{{ venta.total | currency:'USD':'symbol':'1.2'}}</td>
                                        <td>{{ venta.saldo | currency:'USD':'symbol':'1.2'}}</td>
                                        <td class="text-center">
                                            <input type="radio" class="form-check" name="venta_id" [value]="venta.id" [(ngModel)]="abono.venta_id" id="venta{{venta.id}}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" *ngIf="abono.venta_id">
                        <div class="form-group col-12">
                            <label for="concepto">Concepto:</label>
                            <input type="text" class="form-control" name="concepto" placeholder="Opcional" [(ngModel)]="abono.concepto">
                        </div>
                        <div class="form-group col-12 text-center">
                            <div class="btn-group">
                                <button type="button" class="btn" [ngClass]="{ 'btn-primary' : abono.total == null, 'btn-default' : abono.total == venta.saldo }" (click)="abono.total = null">Abono</button>
                                <button type="button" class="btn" [ngClass]="{ 'btn-primary' : abono.total == venta.saldo, 'btn-default' : abono.total == null }" (click)="abono.total = venta.saldo">Pago total</button>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-lg-6">
                            <label for="metodo_pago">Método de pago:</label>
                            <select name="metodo_pago" [(ngModel)]="abono.metodo_pago" class="form-select" id="metodo_pago">
                                <option value="Efectivo">Efectivo</option>
                                <option value="Tarjeta">Tarjeta</option>
                                <option value="Cheque">Cheque</option>
                                <option value="Contra entrega">Contra entrega</option>
                                <option value="Chivo Wallet">Chivo Wallet</option>
                            </select>
                        </div>
                        <div class="form-group col-6 col-lg-6">
                            <label for="total">Total:</label>
                            <input type="text" class="form-control" name="total" [(ngModel)]="abono.total">
                        </div>
                        <div class="form-group col-md-12 mt-3">
                            <button type="submit" [disabled]="saving" class="btn btn-primary float-right tcla-F10" tooltip="Guardar (F10)">
                                <span *ngIf="!saving">Guardar</span>
                                <span *ngIf="saving">Guardando...</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
