
<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Kardex <small class="text-muted p-2"> producto</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item"><a routerLink="/productos">Productos</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Kardex</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card mb-0">
            <div class="card-body">
                <form name="form" (ngSubmit)="loadAll()" class="row">
                    <div class="form-group col-md-12 col-lg-3">
                        <app-buscador-productos [producto]="producto" (selectProducto)="selectProducto($event)"></app-buscador-productos>
                    </div>
                    <div class="form-group col-md-6 col-lg-2">
                        <label for="">Inventario: </label>
                        <select class="form-control form-select" [(ngModel)]="filtro.bodega_id" name="bodega_id">
                            <option [value]="bodega.id" *ngFor="let bodega of bodegas">
                                {{ bodega.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 col-lg-2">
                        <label for="">Tipo: </label>
                        <select name="detalle" [(ngModel)]="filtro.detalle" class="form-control form-select">
                            <option value="">Todos los tipos</option>
                            <option value="Venta">Ventas</option>
                            <option value="Compra">Compras</option>
                            <option value="Ajuste">Ajuste</option>
                            <option value="Traslado">Traslados</option>
                            <option value="Devolución Venta">Devoluciones de venta</option>
                            <option value="Devolución Compra">Devoluciones de compra</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5 col-lg-2">
                        <label for="">Del: </label>
                        <input type='date' class="form-control" name="filtro.inicio" [(ngModel)]="filtro.inicio"/>
                    </div>
                    <div class="form-group col-md-5 col-lg-2">
                        <label for="">Al: </label>
                        <input type='date' class="form-control" name="filtro.fin" [(ngModel)]="filtro.fin"/>
                    </div>
                    <div class="form-group col-md-2 col-lg-1" style="margin-top: 32px;">
                        <button type="submit" class="btn btn-primary tcla-F6" [disabled]="loading" tooltip="Filtrar datos (F6)">
                            <i *ngIf="!loading" class="fa fa-search"></i>
                            <i *ngIf="loading" class="fa fa-ellipsis-h"></i>
                        </button>
                    </div>
                </form>

            <div class="table-responsive">
                <table class="table table-bordered table-hover mr-top" id="tablaReporte">
                    <thead>
                        <tr>
                            <!-- <th colspan="4"></th> -->
                            <th rowspan="2" class="text-center">Fecha</th>
                            <th rowspan="2">Usuario</th>
                            <th rowspan="2">Detalle</th>
                            <th rowspan="2">Ref</th>
                            <th colspan="3" class="text-center">Entradas</th>
                            <th colspan="3" class="text-center">Salidas</th>
                            <th rowspan="2" class="text-center">Saldo</th>
                        </tr>
                        <tr>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Costo U.</th>
                            <th class="text-center">Total</th>
                            
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Precio U.</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="11" class="text-center" *ngIf="producto?.movimientos?.length < 1 && !loading">
                                <span class="badge badge-primary">No tiene movimientos registradas</span>
                            </td>
                            <td colspan="11" class="text-center" *ngIf="loading">
                                <span class="badge badge-primary">Cargando...</span>
                            </td>
                        </tr>

                        <tr class="animated fadeIn" *ngFor=" let movimiento of producto?.movimientos">
                            
                            <td class="text-center">{{movimiento.fecha | date:'dd/MM/yyyy'}}</td>
                            <td>{{movimiento.nombre_usuario}}</td>
                            <td>{{movimiento.detalle}}</td>
                            <td>
                                {{movimiento.referencia}}
                                <a class="float-end d-none"  tooltip="Ver detalle de la transacción" routerLink="/{{apiService.slug(movimiento.detalle)}}/{{movimiento.referencia}}"><i class="fa fa-edit"></i></a>
                            </td>

                            <td class="text-center">{{movimiento.entrada_cantidad }}</td>
                            <td class="text-center">{{movimiento.costo_unitario  | currency:'USD':'symbol':'1.2'}}</td>
                            <td class="text-center">{{movimiento.entrada_valor  | currency:'USD':'symbol':'1.2'}}</td>

                            <td class="text-center">{{movimiento.salida_cantidad }}</td>
                            <td class="text-center">{{movimiento.precio_unitario  | currency:'USD':'symbol':'1.2'}}</td>
                            <td class="text-center">{{movimiento.salida_valor  | currency:'USD':'symbol':'1.2'}}</td>

                            <td class="text-center">{{movimiento.total }}</td>
                        </tr>

                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>