
<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Productos <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Productos</a></li>
        </ol>
    </div>
</div>

<div class="row">

<div class="col-12">
    <div class="card">
        <div class="card-header mb-0">
            <form name="form" (ngSubmit)="search()" autocomplete="off">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
                </div>
                <div class="col-md-12 col-lg-3">
                    <ng-select [(ngModel)]="filtro.categoria_id" (change)="onSelectCategoria(filtro.categoria_id)" class="form-select p-0 border-0" name="categoria">
                        <ng-option value="">Todas las categorias</ng-option>
                        <ng-option *ngFor="let categoria of categorias" [value]="categoria.id">
                            {{ categoria.nombre }}
                        </ng-option>
                    </ng-select>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="input-group">
                        <ng-select [(ngModel)]="filtro.subcategoria_id" class="form-select p-0 border-0" name="subcategoria">
                            <ng-option value="">Todas las subcategorias</ng-option>
                            <ng-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id">
                                {{ subcategoria.nombre }}
                            </ng-option>
                        </ng-select>
                        <button type="button" tooltip="Actualizar" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
                        <button type="submit" tooltip="Buscar" (click)="search()" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="card-body">
            <p class="text-muted col-12 col-md-6"> {{ (productos?.total ? productos?.total : 0) + ' registros' }} </p>
            <div class="row">
                <div class="text-center" *ngIf="loading">
                    <span class="badge mb-3 badge-primary">Cargando...</span>
                </div>

                <div class="col-12 col-md-4 col-lg-3" *ngFor=" let producto of productos?.data">
                    <div class="card" (click)="openModal(mproducto, producto)">
                        <img src="{{ apiService.baseUrl + '/img/' + producto.img }}" class="card-img-top">
                        <div class="card-body row">
                            <h5 class="col-12">{{ producto.nombre }}</h5>
                            <p class="col-12 mb-0">
                                {{ producto.nombre_categoria }} <br> 
                                <small class="text-muted">{{ producto.nombre_subcategoria }}</small>
                            </p>
                            <p class="col-6">
                                <small>Precio:</small> <br>
                                <span *ngIf="producto.promocion">
                                    <span style="text-decoration: line-through;">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                                    {{producto.promocion.precio | currency:'USD':'symbol':'1.2'}}
                                </span>
                                <span *ngIf="!producto.promocion">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                            </p>
                            <p class="col-6">
                                <small *ngIf="producto?.bodega_venta?.stock">Stock:</small> <br>
                                {{producto?.bodega_venta?.stock}}
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <a tooltip="Ver detalles" class="btn btn-default btn-block" (click)="openModal(mproducto, producto)" >
                                Más Detalles
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" *ngIf="productos?.last_page > 1">
                <div class="d-flex justify-content-center">
                    <app-pagination [items]="productos" (setPagination)="setPagination($event)"></app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #mproducto>
    <div class="modal-header">
        <div class="modal-title">
            <h4 class="col-sm-12">{{ producto.nombre}}</h4>
            <p class="col-12 mb-0">
                {{ producto.nombre_categoria }} <small class="text-muted">{{ producto.nombre_subcategoria }}</small>
            </p>
        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="row mb-3">
                    <div class="col-12">
                        <img src="{{ apiService.baseUrl + '/img/' + producto.img }}" class="img-fluid">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <img src="{{ apiService.baseUrl + '/img/' + producto.img }}" class="img-fluid">
                    </div>
                    <div class="col-4">
                        <img src="{{ apiService.baseUrl + '/img/' + producto.img }}" class="img-fluid">
                    </div>
                    <div class="col-4">
                        <img src="{{ apiService.baseUrl + '/img/' + producto.img }}" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <p class="col-lg-12">
                        <b>Precio:</b> <br>
                        <span *ngIf="producto.promocion">
                            <span style="text-decoration: line-through;">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                            {{producto.promocion.precio | currency:'USD':'symbol':'1.2'}}
                        </span>
                        <span *ngIf="!producto.promocion">{{producto.precio | currency:'USD':'symbol':'1.2'}}</span>
                    </p>
                    <p class="col-lg-12">
                        <b>Stock:</b> <br>
                        {{producto?.bodega_venta?.stock}}
                    </p>

                    <p class="col-lg-12"><b>Código:</b> {{ producto.codigo}}</p>
                    <p class="col-lg-12"><b>Marca:</b> {{ producto.marca}}</p>
                    <p class="col-lg-12"><b>Descripción:</b> {{ producto.descripcion}}</p>
                    <p class="col-lg-12"><b>Nota:</b> {{ producto.nota}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>
