<div class="input-group">
    <button (click)="openModal(mCredito)" class="btn btn-default" tooltip="Crear crédito">
        <i class="fa fa-money-check"></i>
    </button>
</div>
<ng-template #mCredito>
  <div class="modal-header">
    <h3 class="col modal-title text-center">Crédito <br><small>{{ credito.nombre_cliente }}</small></h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-6">
            <label for="fecha">Fecha:</label>
            <input type="date" name="fecha" [(ngModel)]="credito.fecha" class="form-control">
        </div>
        <div class="form-group col-6">
            <label for="total">Monto:</label>
            <input type="number" name="total" [(ngModel)]="credito.total" class="form-control">
        </div>
        <div class="form-group col-4">
            <label>Interés <small>%</small>:</label>
            <input type="number" name="interes" [(ngModel)]="credito.interes" class="form-control">
        </div>
        <div class="form-group col-4">
            <label>Plazo <small>Meses</small>:</label>
            <input type="number" name="plazo" [(ngModel)]="credito.plazo" class="form-control">
        </div>
        <div class="form-group col-4">
            <label>Prima:</label>
            <input type="text" name="prima" [(ngModel)]="credito.prima" class="form-control">
        </div>
        <div class="form-group col-md-12">
            <label>Nota:</label>
            <textarea name="nota" [(ngModel)]="credito.nota" class="form-control" rows="2"></textarea>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">
                <span *ngIf="!loading">Guardar</span>
                <span *ngIf="loading">Guardando...</span>
            </button>
        </div>
    </div>
    </form>
  </div>
</ng-template>
