<div class="row page-titles mx-0 px-0 pb-2">
    <div class="col-sm-6 p-md-0">
        <h2 class="page-heading">Sucursales <small class="text-muted p-2"> Listado</small></h2>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Dash</a></li>
            <li class="breadcrumb-item active"><a routerLink="/sucursales">Sucursales</a></li>
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header p-2">
        <span class="text-muted float-start p-2" *ngIf="sucursales?.length">{{ sucursales?.length + ' registros' }}</span>

        <div class="input-group float-end w-50">
            <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" [(ngModel)]="buscador" focus="true">
            <button type="button" tooltip="Actualizar (F5)" (click)="loadAll()" class="btn btn-default tcla-F5"><i class="fa fa-sync-alt"></i></button>
            <button (click)="openModal(msucursal, {})" tooltip="Crear sucursal (F7)" class="btn btn-primary tcla-F7" tabindex="0"><i class="fa fa-plus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-hover mb-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Municipio</th>
                        <th width="100px" class="text-center"><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="text-center" *ngIf="sucursales?.length < 1 && !loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">No tiene sucursales registrados</span>
                        </td>
                        <td colspan="8" class="text-center" *ngIf="loading">
                            <span class="badge mb-2 mb-xl-0 badge-primary">Cargando...</span>
                        </td>
                    </tr>
                    <tr *ngFor=" let sucursal of sucursales">
                        <td>{{ sucursal.id }}</td>
                        <td>{{ sucursal.nombre }}</td>
                        <td>{{ sucursal.telefono }}</td>
                        <td>{{ sucursal.municipio }}</td>
                        <td class="text-center">
                            <div role="group" class="btn-group">
                                <a *ngIf="sucursal.id != 1" (click)="delete(sucursal.id)" class="btn btn-default" tooltip="Eliminar">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a (click)="openModal(msucursal, sucursal)" class="btn btn-default" tooltip="Editar">
                                    <i class="fa fa-pencil-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #msucursal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Sucursal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="facturacion" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-lg-12">
                <label for="">Nombre:</label>
                <input type="text" class="form-control" name="sucursal.nombre" [(ngModel)]="sucursal.nombre" focus="true"/>
            </div>
            <div class="form-group col-lg-6">
                <label for="">Telefono:</label>
                <input type="tel" class="form-control" name="sucursal.telefono" [(ngModel)]="sucursal.telefono"/>
            </div>
            <div class="form-group col-lg-6">
                <label for="">Correo:</label>
                <input type="email" class="form-control" name="sucursal.correo" [(ngModel)]="sucursal.correo"/>
            </div>
            <div class="form-group col-lg-6">
                <label for="">Municipio:</label>
                <input type="text" class="form-control" name="sucursal.municipio" [(ngModel)]="sucursal.municipio"/>
            </div>
            <div class="form-group col-lg-6">
                <label for="">Departamento:</label>
                <input type="text" class="form-control" name="sucursal.departamento" [(ngModel)]="sucursal.departamento"/>
            </div>
            <div class="form-group col-lg-12">
                <label for="">Dirección:</label>
                <input type="text" class="form-control" name="sucursal.direccion" [(ngModel)]="sucursal.direccion"/>
            </div>
            <div class="form-group col-md-6">
                <label for="tipo_establecimiento ">Tipo establecimiento:</label>
                <select class="form-select" [(ngModel)]="sucursal.tipo_establecimiento" name="tipo_establecimiento ">
                    <option value="01">Sucursal</option>
                    <option value="02">Casa matriz</option>
                    <option value="04">Bodega</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="cod_estable_mh">Cod Establecimiento MH:</label>
                <input type="text" class="form-control" [(ngModel)]="sucursal.cod_estable_mh" name="cod_estable_mh" placeholder="xxxx">
            </div>
        </div>
        
        <br><br>
        <div class="row text-center">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block tcla-F10" tooltip="Guardar (F10)" [disabled]="loading || !sucursal.nombre">
                    <span *ngIf="!loading">Guardar</span>
                    <span *ngIf="loading">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
  </div>
</ng-template>
